[2021-03-29 16:14] davidducos commented on #139
@UnixRonin
Do you still need help on this? can you test with latest version?

[2021-03-30 07:36] piyushsonigra commented on #298
Hi @davidducos,
there is no issue with the `--omit-from-file` argument file.

[2021-03-30 18:40] #268 closed

[2021-03-30 20:59] montes2012 opened #301 "how can I make mydumper --lock-tables = false myisam"
It can be executed in mydumper --lock-tables=false I am working with myisam in production. at the moment I am using myslqdump --lock-tables=false

[2021-03-30 21:16] davidducos commented on #301
Hi @montes2012
You have the -k / --no-locks parameter to get inconsistent backups
[code]
BTW, do now use MyISAM tables on prod.

[2021-03-30 22:07] montes2012 commented on #301
lock the table and don't insert

[2021-03-31 13:09] davidducos commented on #221
This was fixed on 0.10.3

[2021-03-31 13:09] #221 closed

[2021-03-31 14:06] davidducos commented on #137
@UnixRonin
1- That is expected behavior, as there is no PK only one SELECT statement is being executed and then, it is chunked to make easier the import stage with myloader.

2- If you have gaps in your PK, then, it is expected to see empty files.

[2021-03-31 14:07] davidducos commented on #137
I'm closing this as there is no issue, just expected behavior usage.

[2021-03-31 14:07] #137 closed

[2021-03-31 14:12] davidducos commented on #139
I investigated a bit more, and I use this commands to compile mydumper on gentoo:

[code]
Please, let me know if that works for you.

[2021-03-31 14:39] montes2012 commented on #301
Is the issue on mydumper

the tables were locked and did not insert

I have only table myisam

only mydumper works but it is slow. the data 2TB

[2021-03-31 15:23] davidducos commented on #301
@montes2012

mydumper doesn't execute INSERT statements. Are you using --no-locks options? are you using multiple threads per table? what are the select statements that you see in the show processlist?

[2021-03-31 15:27] davidducos commented on #100
I'm answering to my self, we can use mysql comments that can be parsed by myloader to "send commands", so it will be able to know when an stage finished to start with the next stage.

[2021-03-31 15:29] #230 closed

[2021-03-31 15:33] montes2012 commented on #301
The inserts are made by another application is that I need to make the backup in production.

mysqldump -uroot -p -h 192.168... -P3306 --insert-ignore --no-create-info --lock-tables=false --skip-add-drop-table database > bk.sql

mydumper --database=database --host=192.168. --port=3306 --user=root --password= --no-locks --insert-ignore --no-schemas -o /mnt/bk --verbose=3 --kill-long-queries

[2021-03-31 16:03] davidducos commented on #301
@montes2012 ,

Ok, it is a performance issue then. You need to increase the amount of threads, or use -r to split the files and take into account that the tables must have an integer PK so mydumper can chunk the data in multiple files and export the data in parallel.

[2021-03-31 16:05] UnixRonin commented on #139
I'm using a Gentoo ebuild of my own creation that looks like this:

`EAPI=6

inherit cmake-utils

DESCRIPTION="A high-performance multi-threaded backup (and restore) toolset for MySQL"
HOMEPAGE="https://github.com/maxbube/mydumper"
SRC_URI="https://github.com/maxbube/${PN}/archive/v${PV}.tar.gz -> ${P}.tar.gz"
LICENSE="GPL-3"
SLOT="0"
KEYWORDS="~amd64 ~x86"
IUSE="doc"

CDEPEND="dev-libs/glib:=
	de

[2021-03-31 16:12] UnixRonin commented on #139
I just updated my ebuild from 0.10.1 to 0.10.3, and that builds fine as well.  There is just one issue, a warning that comes up three times during compilation when invoking Sphinx:

`cd /var/tmp/portage/dev-db/mydumper-0.10.3/work/mydumper-0.10.3_build/docs && /usr/bin/sphinx-build -q -b man -c /var/tmp/portage/dev-db/mydumper-0.10.3/work/mydumper-0.10.3_build/docs/_build -d /var/tmp/portage/dev-d

[2021-03-31 16:26] montes2012 commented on #301
For each day there are 2 tables that contain

Table one
10141 records

Table two
86277

the computer where I am running mydumper has 8 cores

What do you recommend
amount of threads?
-r, --rows                  Try to split tables into chunks of this many rows. This option turns off --chunk-filesize?

[2021-03-31 16:33] UnixRonin commented on #139
Never mind, I've resolved it.

[2021-03-31 17:01] davidducos commented on #301
Why don't you try this?
`mydumper --database=database --host=192.168. --port=3306 --user=root --password= --no-locks --insert-ignore --no-schemas -o /mnt/bk --verbose=3 --kill-long-queries -r 10000
`
You didn't answer if the tables have integer primary keys.

[2021-03-31 17:04] davidducos commented on #139
I'm using the vagrant box: "generic/gentoo"

The sphinx issue is because you don't have installed the package, but it is just needed to build the documentation.

Closing this issue now! Thanks!

[2021-03-31 17:04] #139 closed

[2021-03-31 17:06] montes2012 commented on #301
mysql> use W_BISM$ELZ$CM;

mysql> desc BISM$ELZ$CM$$H2021_03_30;
+--------+---------+------+-----+---------+-------+
| Field  | Type    | Null | Key | Default | Extra |
+--------+---------+------+-----+---------+-------+
| j2ksec | double  | NO   | PRI | NULL    |       |
| smin   | int(11) | YES  |     | NULL    |       |
| smax   | int(11) | YES  |     | NULL    |       |
| rcnt   | int(11) | YE

[2021-03-31 17:22] davidducos commented on #301
Double is not an integer type... that is why you don't get the performance that we expect

[2021-03-31 17:25] montes2012 commented on #301
osea que se debe de utilizar mysqldump?

[2021-03-31 17:27] davidducos commented on #110
I reviewed the code, and it is checking on each table creation if the database exists which might not be the best way of doing this.
I think that we should have a stage of schema creation and then another stage of table creation. If we implement like this, we are going to be able to fix this issue.

[2021-03-31 17:31] davidducos commented on #301
If you use mydumper the export time should be lower than mydumper as you will be exporting both tables at the same time.

The differences will be noticeable when you import the data, as if you use --chunk-filesize you will be able to import the data in parallel.

[2021-03-31 17:44] UnixRonin commented on #139
(Just a footnote:  I DO have sphinx installed, that wasn't the problem, but it was resolved by an update to the mainstream Gentoo ebuild.)

[2021-03-31 17:48] davidducos commented on #241
I have checked this and the issue is not happening anymore

[2021-03-31 17:48] #241 closed

[2021-03-31 18:24] davidducos commented on #253
The fix will be to check if the server is using Galera then send a `SET SESSION wsrep_sync_wait = 0;` per thread, right? looks something simple... do you think that you could implement it and push a PR?

[2021-03-31 19:18] davidducos commented on #292
@SeanTobin
I thought about this, and the only case where adding a sync method will be if you have a single large table and it is not being split into chunks, and that is a wrong usage of MyDumper.
For instance, if you import with 4 threads and have a table with 1M rows and you are using -r 10k, you will end up with 100 data files. During the import, the ALTER TABLE that adds the indexes will happe

[2021-03-31 20:40] montes2012 commented on #301
excute run:

mydumper --database=database --host=192.168.... --port=3306 --user=root --password= --no-locks --insert-ignore --no-schemas -o /mnt/bk --verbose=3 --kill-long-queries -r 10000

the inserts are not made from the other application

[2021-04-01 10:51] vnlo77250 commented on #162
Sorry, i don't, this issue is quite random and i can't reproduce it at will.
I believe that mydumper thread does not detect that the connection is lost and there is no idle timeout, so mydumper hang up.

[2021-04-01 10:57] vnlo77250 opened #303 "Mydumper does not backup general tablespace definition"
When backuping databases with general tablespaces, mydumper does not backup general tablespace definition.
 definition

Table definition save by mydumper do have the tablespace definition:
[code]
So restoring a full backup on barebone server does not work because of missing general tablespaces.

[2021-04-01 13:11] matthewlenz opened #304 "0.10.3 broke mydumper --chunk-filesize for use with myloader"
When I mydumper a db using -F 128 and then attempt to myloader that db to a new server I get "Column count doesn't match value count at row 1" on one of the tables.  If I skip chunk-filesize it works just fine.

[2021-04-01 16:04] matthewlenz opened #305 "Feature: Option to automatically disable/enable REDO_LOG"
Given the right (environment, mysql version, user permissions, etc.) circumstance disabling the redo log can/will shave 20-25% off db load time.  There are obvious caveats to doing this but when you're mydumper/loader to build a new db environment, with no activity other than the load, it's amazingly helpful.  I think there are other recommendations in the documentation as well but this one provid

[2021-04-02 11:57] matthewlenz commented on #290
That's really odd because I am using a defaults file with mydumper/loader with the following format without issue:

--
[client]
user  = username
password = password

[2021-04-03 00:32] davidducos commented on #304
Hi @matthewlenz,
I need more information about this issue:
- Table structure
- Insert statement or file that is failing
- Execute the mydumper and myloader with -v 4 and upload the log

[2021-04-03 00:34] davidducos commented on #305
@matthewlenz, This is a good idea! Anyone that fill a PR with this feature will be much appreciated.

[2021-04-03 03:05] davidducos commented on #290
@Phillip85  I rechecked, @matthewlenz is right and I was wrong in my previous message, this is working correctly but I think that I found the issue that I had, I used my_mydumper.cnf instead of /root/test/my_mydumper.cnf. That is not your case but during my review, I saw that mydumper is using its own section in the configuration file, so you should be using [mydumper], and [client] is the default

[2021-04-04 12:55] davidducos commented on #301
Hi @montes2012,

I tried to reproduce your scenario but I was not able to succeed. I reviewed the general log and there is no command that could block the insert made by the application using --no-locks. Actually, I saw the blocking behavior without using --no-locks. Are you using the latest version?

[2021-04-06 09:32] Phillip85 commented on #290
ok,

the [mydumper] entry makes the defaults-file work.
Thanks for the help.

[2021-04-06 09:48] #290 closed

[2021-04-07 12:23] #198 closed

[2021-04-07 12:24] davidducos commented on #275
@geekgogie, please, let me know how it goes.

[2021-04-07 15:28] matthewlenz commented on #304
@davidducos sorry for the delays on providing this info.  This is a big job that only runs once per day.  I've been playing around with some changes to insure it's nothing I'm doing to cause the issue.  I'll report back soon.

[2021-04-07 17:01] davidducos commented on #28
@matikij,

do you have a command to do it? I will be do for next release if you provide the steps. thanks!

[2021-04-08 12:46] matthewlenz commented on #304
I made some changes and it's no longer failing.

[2021-04-08 12:46] #304 closed

[2021-04-08 16:30] matikij commented on #28
@davidducos There's a howto in Debian Wiki https://wiki.debian.org/Creating%20signed%20GitHub%20releases - although I am not sure how much up-to-date it is regarding GitHub UI. If it doesn't work for you let me know, will try to assist you.

[2021-04-09 18:31] SeanTobin commented on #292
@davidducos - Yes, that's the scenario that I'm working with. I have one table that is several times larger than its peers.

[2021-04-09 19:47] davidducos commented on #292
@SeanTobin,

Ok, I will be adding that feature but not by default, you will need to use a parameter like --sync-before-add-index.

I will need to move the queue with the alter tables to wider scope and for the sync I will need to add a waiting queue where the process thread will stop when a new job type JOB_WAIT reaches.

Again, I don't like it, but I can see the use case. BTW could be possible to

[2021-04-10 00:11] todd-richmond opened #308 "OpenSSL not included in CMakeLists.txt"
OpenSSL does not exist on all systems or might be out-of-date so the package needs to be found like other CMake packages. Also need to use the include paths
find_package(OpenSSL QUIET REQUIRED)

[2021-04-11 02:47] davidducos commented on #308
Hi @todd-richmond, nice catch, could be possible for yo to push a pull request with the changes to add this feature?

[2021-04-11 15:39] bato3 opened #309 "Problem with compiling on ubuntu (20.04) and percona (8.0) (MYSQL_LIBRARIES_mysqlclient)"
I have a problem with `cmake`.

In instruction is, that I should install `libmysqlclient15-dev`, but this isn't available. Instead, I install `libperconaserverclient21-dev` or `libmysqlclient-dev` (I've tried both)

[code]

[code]

[2021-04-11 15:49] davidducos commented on #309
Hi @bato3, can yo tell me what is the OS and/or distribution were are you trying to compile? Did you test the packages available? Are you using git clone?

[2021-04-11 16:36] bato3 commented on #309
I wrote: ubuntu 20.04.
[code]
Packages are working, but don't have option `usingFastIndex`

[2021-04-12 00:12] davidducos commented on #309
@bato3,

I'm not compiling against PS8 yet, but this could be a good opportunity to start doing it. Please, stay tune, I will keep you posted about the outcome of my investigation.

[2021-04-12 09:52] bato3 commented on #309
The `cmake` cache was to blame. After removing the files suggested by `.gitignore`, compilation was successful.

This is what someone thinks he can compile, but is actually pasting random pieces of code from Net.

BTW: in README `apt-get install libglib2.0-dev zlib1g-dev libpcre3-dev libssl-dev` is two times but no `apt-get install build-essential cmake`.

[2021-04-12 15:20] #309 closed

[2021-04-12 16:19] davidducos commented on #100
We can use:
[code]
to get the thread id, as I was thinking to implement this on function write_data and as write_data can be called several times before a file is close, we need to identify the write_data per thread.

When write_data is called and streaming is being used, we are going to be enqueuing, not just the statement, it will be the thread_id

Another consideration is that there will be a n

[2021-04-13 06:15] vnlo77250 opened #311 "[enhancement] Multi-threaded tables creation"
Myloader does not use multi-threading to create tables, resulting to a really slow restoration (13,5 hours for about a million tables).
It's the same problem for views, triggers, routines and events.

[2021-04-13 11:40] davidducos commented on #311
This is a duplicate of https://github.com/maxbube/mydumper/issues/311

[2021-04-13 13:41] davidducos commented on #100
I already have a version of mydumper.c which serialize the export to the stdout. I'm going to start working on the myloader.c now...

[2021-04-14 19:10] davidducos commented on #305
A fast way of implement it, is to simple add a parameter to myloader that sends the command. Later on, we could implement a way of check if the server supports and avoid if it is not supported, with a message.

[2021-04-15 18:24] twotwotwo commented on #134
(FYI, my comments about zlibwrapper requiring you to link in `libzstd.a` are outdated -- since https://github.com/facebook/zstd/issues/2273 was fixed zlibwrapper uses only public libzstd symbols.)

[2021-04-16 13:52] davidducos commented on #292
@SeanTobin I added the --sync-before-add-index parameter to the pull request... feel free to test it.

[2021-04-16 15:56] davidducos commented on #254
@simenbm,

mydumper is using `SELECT @@have_backup_locks` to determine if we can use LOCK BINLOG FOR BACKUP. Do you know what is the query that we need to execute on MariaDB?

[2021-04-16 16:00] davidducos commented on #308
@todd-richmond or put me in the right track to sort this issue out?

[2021-04-16 16:03] davidducos commented on #298
@piyushsonigra can you use option -L on both cases and share the log file?

[2021-04-19 19:00] #238 closed

[2021-04-20 12:44] #282 closed

[2021-04-20 12:50] davidducos commented on #28
@matikij, I reviewed the wiki, and I also compared with another git projects like https://github.com/sysown/proxysql/releases. What they are doing, instead of signing the packages, they are publishing the MD5/SHA1/SHA256, which I think is going to be much simpler for me to add to the releases. What do you think about it?

[2021-04-22 07:57] SuperQ commented on #284
@davidducos I saw the Percona blog post, thanks for picking up work on this.

I'm not much of a C dev, I spend most of my time doing Go these days.

But, I was wondering if there would be interest in adding CI tests for PRs. I have a nice [CircleCI setup](https://github.com/prometheus/mysqld_exporter/blob/8e0d8568fa005ed2213feb424ec4e43ed8cca4e4/.circleci/config.yml#L70-L80) to do integration test

[2021-04-22 14:13] davidducos commented on #284
Hi @SuperQ, any help is welcome! Could be possible for you to review code? this means, that one request to review, you download the code and test that it is doing whats suppose.
About build/test, we are already have an environment that it is workin, but I'm open if we can develop something simpler! because, I would like to start building and testing with the latest version. Feel free to work on th

[2021-04-22 18:26] davidducos commented on #84
re. 1: https://github.com/maxbube/mydumper/pull/286

[2021-04-22 18:43] davidducos opened #318 "Use only a config file to load the parameters"
It was requested by @druud in https://github.com/maxbube/mydumper/issues/84

So, as we are adding more parameters which defaults values are not ideal for every use case, will be simpler for users to just keep the data in a configuration file.

[2021-04-22 18:45] davidducos commented on #85
Not just messages also less empty files as @druud  mention in https://github.com/maxbube/mydumper/issues/84

[2021-04-22 19:35] fredricj commented on #308
How to do would likely depend on whether or not openssl is to be considered a required or optional dependency. On my system (Centos7) openssl-devel is already required by the percona-server-devel package but there is an option to disable support for ssl.

Making it required would be simpler. Thoughts?

[2021-04-24 05:18] VMEMachuca commented on #284
We had recently up took v0.10.3 and confirm the benefit for out exports. We would love to take advantage of the new usingFastIndex functionality to improve our import times.

Could I get the code to help in any way?

[2021-04-26 15:03] davidducos commented on #284
Hi @VMEMachuca,
If you want to use the fast index creation functionality, you are able to do so on this branch:
[code]
It is not approved yet, and might not be packed in 0.10.5 if we don't have a review. Take into consideration that a bug was found and fixed already. Please, feel to test it and give your opinion on https://github.com/maxbube/mydumper/pull/286

Thanks!

[2021-04-27 07:28] WatchLucky opened #321 "Is mydumper do both "trx-consistency-only" and inconsistent backups by default ?"
mydumper version: 0.10.3
mysql version:  mysql-5.7.26
backup commands:
`/usr/bin/mydumper --defaults-file=./m.conf --omit-from-file=./omit.conf -D -l 120 -c -C --skip-tz-utc --less-locking -L mydumper.log`

cat m.conf
[mydumper]
user=xxx
password=xxxx
host=10.x.x.x
port=3306
threads=12

output directory :
[code]

 there is a file named "medata" in director  0 ,and a file named "medata.partial" in

[2021-04-27 12:04] VMEMachuca commented on #284
Hi @davidducos,
I gave it a go with usingFastIndex and am getting some error messages:

`2021-04-27 04:17:10 [INFO] - Fast index creation will be use for table: 35k_020_cba_perfhw_3681_vm_mysql_3326.job_definition_snapshot
2021-04-27 04:17:10 [ERROR] - Error restoring 35k_020_cba_perfhw_3681_vm_mysql_3326.job_definition_snapshot from file 35k_cba_perfhw_3681_vm_20_mysql_3326.job_definition_snapsho

[2021-04-27 12:09] davidducos opened #322 "[usingfastindex] Indexes on AUTO_INCREMENT column should not be selected for fast index creation"
Hi @davidducos,
I gave it a go with usingFastIndex and am getting some error messages:

`2021-04-27 04:17:10 [INFO] - Fast index creation will be use for table: 35k_020_cba_perfhw_3681_vm_mysql_3326.job_definition_snapshot
2021-04-27 04:17:10 [ERROR] - Error restoring 35k_020_cba_perfhw_3681_vm_mysql_3326.job_definition_snapshot from file 35k_cba_perfhw_3681_vm_20_mysql_3326.job_definition_snapsho

[2021-04-27 12:15] davidducos commented on #322
Hi @VMEMachuca,
Can you execute SHOW `CREATE TABLE 35k_020_cba_perfhw_3681_vm_mysql_3326.job_definition_snapshot;` ?

[2021-04-27 12:23] davidducos commented on #321
Hi @WatchLucky,
When you use the -D option, you are running in daemon mode. mydumper will create 2 directories and a link to the last dump. Both directories will have a dump of the database. Take into consideration that initially mydumper creates a metadata.partial file which after complete the backup, is renamed to metadata.
So, if you find a metadata.partial in a directory, could mean 2 things:

[2021-04-27 13:43] SuperQ commented on #284
@davidducos Is there a chat place we could collaborate? Maybe matrix.org `#mydumper`?

[2021-04-27 14:41] davidducos commented on #284
Hi @SuperQ,
That is something that I thought too, but after discussing with @maxbube, we agreed that might not be useful (feel free to give your opinion about it and let's vote!)
So, first, we are not so many. After discussing in the chat we end up in an issue or pr... why don't we discuss directly on github?  and visibility is another reason, people outside of the matrix.org won't know about the

[2021-04-27 14:49] SuperQ commented on #284
Sure, chatting in the open is better, which is why I suggested matrix.org (which can also bridge to old-school IRC like Freenode), not Slack. :grin:

It was more of an idea for a faster, real-time, way to communicate. Threads on GitHub tend to get hard to read if you put a bunch of back and forth, support requests, etc. There's a new GitHub discussions feature, but I'm not convinced it's better.

[2021-04-27 14:52] SuperQ opened #323 "Move mydumper to a GitHub org"
It would be useful to move this project to a GitHub org so that it's easier for more collaborators to participate on things that require admin access.

* [x] Create a new org, probably named `mydumper`.
* [x] Onboard a couple admins.
* [x] @maxbube uses the "Transfer Project" feature to move the project to the new org.
* [x] :tada:

[2021-04-27 15:34] SuperQ commented on #323
@davidducos Anyone can create an org, so best to get this done asap since it seems available.

[2021-04-27 15:38] davidducos commented on #74
The fix for this has been merged to master and will be released on 0.10.5
You will need to use --set-names=utf8
[code]
Closing this issue...

[2021-04-27 15:38] #74 closed

[2021-04-27 15:51] davidducos commented on #180
Hello @ezbik ,

Can you share the table structure of testsitecom.awp_users? `SHOW CREATE TABLE testsitecom.awp_users` ?

[2021-04-27 15:52] davidducos commented on #210
https://github.com/maxbube/mydumper/issues/179

[2021-04-27 16:38] ezbik commented on #180
@david-ducos-percona I can't reproduce it, because I can't make a table crash!
As far as I remember, negated regex `?!` was essential in this bug , it worked well with "positive" regex.

I got one table corrupted  ( thou not corrupted; by removing its MYI  ), and the bug didn't appear:

------

[code]

[code]

[2021-04-27 17:22] davidducos commented on #101
Hi @ChristopherSchultz
it will be ok for you, if we don't implement the encryption at mydumper but we send the dump through the stdout so you can pipe to whatever encryption tool that you want to use?
I'm asking, because I'm planing to implement [stream backups](https://github.com/maxbube/mydumper/issues/100) during this year.

[2021-04-27 17:24] #164 closed

[2021-04-27 17:38] ChristopherSchultz commented on #101
Streaming through another process is just fine, and probably way more flexible, anyway. I'm not sure `stdout` is the best way because you lose that parallelism if you want it, but something where it's possible to insert a piped encrypt/compress/whatever stage would be great.

[2021-04-27 17:40] VMEMachuca commented on #284
Hi @davidducos,
Am also getting this error on two tables:
`
2021-04-27 05:26:44 [ERROR] - Error restoring 35k_020_cba_perfhw_3681_vm_mysql_3326.tabular_wid from file (null): Creating index 'IDX_WID' required more than 'innodb_online_alter_log_max_size' bytes of modification log. Please try again.
ALTER TABLE `35k_020_cba_perfhw_3681_vm_mysql_3326`.`tabular_wid`
 ADD  UNIQUE KEY `IDX_WID` (`wid`);

[2021-04-27 17:44] ChristopherSchultz commented on #101
If #190 is implemented, than this enhancement request becomes redundant, as "gpg --with-args" can be used as the "compress command".

[2021-04-27 17:44] VMEMachuca commented on #322
Here is from the source database:

| job_definition_snapshot | CREATE TABLE `job_definition_snapshot` (
  `seq` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hash` binary(20) NOT NULL,
  `iv` varchar(30) NOT NULL,
  `data` blob NOT NULL,
  PRIMARY KEY (`hash`),
  KEY `IDX_JOB_DEFINITION_SNAPSHOT_SEQ` (`seq`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 |

From: davidducos ***@***.***>
Date: Tuesday, Apr

[2021-04-27 17:55] davidducos opened #324 "innodb_online_alter_log_max_size is not large enough"
Hi @davidducos,
Am also getting this error on two tables:
[code]
...
[code]
...

_Originally posted by @VMEMachuca in https://github.com/maxbube/mydumper/issues/284#issuecomment-827789971_

[2021-04-27 17:57] davidducos commented on #324
@VMEMachuca, take into consideration that you are using an online alter, so, you will need to increase innodb_online_alter_log_max_size at DB level.

[2021-04-27 17:58] davidducos commented on #284
@VMEMachuca I created [this issue](https://github.com/maxbube/mydumper/issues/324) on your behalf.

[2021-04-27 18:04] davidducos commented on #322
The issue is that we are not filtering out indexes over the auto_increment column. This is a confirmed bug, I will review and add a patch before merging usingfastindex to master.

[2021-04-27 18:41] davidducos commented on #322
I added a fix, that ignores the index if the first column of the index is the auto_increment column. I used your tables for testing and now, it works.
Please, pull latest version of usingFastIndex and test it again, it should be working now.

[2021-04-27 18:49] davidducos commented on #101
@ChristopherSchultz, we are not going to lose the parallelism as there will be one thread writing/printing which is going to be reading from a "stdout" queue and there will be multiple processes selecting from the database and enqueuing in the "stdout" queue.

[2021-04-27 18:51] davidducos commented on #101
I'm already working on some refactoring issues to allow us to implement #190. I will keep you posted on that.

[2021-04-27 19:21] ChristopherSchultz commented on #101
I don't understand enough about the architecture of mydumper to understand what the above means. I had guessed that, traditionally, a bunch of threads were created to connect to the db and each dump a single table to a single file, all simultaneously. Doing that through stdout makes no sense as you'd have to serialize the dumping  of each table. If each "thread" is really a separate process, then

[2021-04-27 19:25] SuperQ commented on #284
@VMEMachuca Please do not post unrelated bug reports to this issue. If you find a problem, open a new issue, or comment on the related feature pull request.

[2021-04-27 20:08] davidducos commented on #101
@ChristopherSchultz,
HAHAHA... well... actually mydumper tries to chunk, but not always is possible, but don't worry about that, let's says that it reads from the database, basically, executes SELECT, could be 1 per table or multiple SELECTS per table, don't worry about it. Let's focus on the writes, each time, that get certain amount of data, it will write, but when we are going to write, instead

[2021-04-27 20:59] davidducos commented on #55
This will be merge on Release 1.0.1

[2021-04-28 11:24] druud commented on #284
On 2021-04-27 14:05, VMEMachuca wrote:

Good catch, an autoinc can be done with an (even non-unique) secondary
index, so that needs an exception.

Haven't tried yet to temporarily remove the autoinc as well.

Now I need to go and fix some internal library code ... :)

BTW, utf8mb4 is faster (and better tested) than utf8, good to alter that
as well.

I still only do UTF-8-ness on the column level,

[2021-04-28 11:55] davidducos commented on #284
Hi @druud, I already fix that branch, please #322

[2021-04-28 13:44] eddawley commented on #101
As I mentioned 2 years ago, this is a solved problem in the mysql space.  Both [Xtrabackup](https://www.percona.com/doc/percona-xtrabackup/8.0/xtrabackup_bin/xbk_option_reference.html#cmdoption-stream) and [Mariabackup](https://mariadb.com/kb/en/mariabackup-options/#-stream) output xbstream format over stdout in order to support parallel encryption and/or compression.  There is no need to attempt

[2021-04-28 17:44] druud commented on #322
Looks like a good fix to me.

As an alternative, I'll also benchmark disabling the autoinc temporarily, to see how that pans out.
(as the autoinc should not be needed during the data-load phase)

[2021-04-28 17:46] druud commented on #322
JFYI: adding back indexes, can in many cases run in the background. All indexes are best added back in a single alter statement.

[2021-04-28 17:47] davidducos commented on #322
Hi @druud, we are adding the indexes in a single alter when possible.

[2021-04-28 17:54] davidducos commented on #322
@druud how you propose to disable the auto_increment? modifying the column to remove it and then perform an alter to add it?

[2021-04-28 17:54] druud commented on #322
Not remove the column, only remove the autoinc attribute.

[2021-04-28 17:58] druud commented on #322
I also experimented with PARTITION EXCHANGE, before adding back the indexes. Then all partitions can add indexes in parallel. But that only works for MySQL, not for MariaDB, as that doesn't have the mode to exchange partitions back without row-checks.

[2021-04-28 18:00] druud commented on #322
My tables generally have hundreds of millions of rows, so then it can go many hours faster. :)

[2021-04-28 18:06] druud commented on #322
For PARTITION trickery, the partitioning needs to be either on HASH() (which is MOD()), or on RANGE (not RANGE COLUMNS).

[2021-04-28 19:14] UnixRonin commented on #101
On 4/28/21 9:44 AM, Edward Dawley wrote:

Well, remember that Mariabackup is a trivial fork of Xtrabackup.

--
  Phil Stracchino
  Babylon Communications
  ***@***.***
  ***@***.***
  Landline: +1.603.293.8485
  Mobile:   +1.603.998.6958

[2021-04-28 19:16] davidducos commented on #322
@druud is any feature request here? if it is, please, open a new ticket and I will be please to prioritize and implement it.

Would be nice to see how we can implement the partition exchange.

[2021-04-28 20:41] davidducos commented on #324
I'm closing it as this is a consequence of execute an online alter on a database with heavy workload. I don't see any solution at MyDumper level as innodb_online_alter_log_max_size needs to be tune.

[2021-04-28 20:41] #324 closed

[2021-04-28 20:44] davidducos commented on #275
@geekgogie any news? can we close it?

[2021-04-28 20:48] davidducos commented on #272
We are going to start a project which is not going to allow problematic filenames for myloader. It will be a check function on mydumper, other issue releated to this: #212

[2021-04-30 18:45] davidducos commented on #156
Hi @jianhaiqing,
I tested with
[code]
And it is working as expected
[code]
Please, can you check it again?

[2021-04-30 19:18] davidducos commented on #253
Ok, I did some testings:
[code]
I had to set --no-backup-locks, as the FTWRL is not send to the database if it is not required. However, the issue that I found was trying to execute:
[code]

[2021-05-02 19:11] notRuslan opened #328 "MySQL 8"
Time to time block all tables (InnoDB).
Version 0.10.3.
v0.9.5 - hasn't that bug.

[2021-05-03 13:14] davidducos commented on #328
Hi @notRuslan,
The issues is on SHOW TABLE STATUS: https://jira.percona.com/browse/PS-7183

On version v0.9.5 was the main connection which executes the show table status, but newer version is a thread the one that executes it. I still investigating.

[2021-05-03 13:19] davidducos commented on #328
Looks like #176 introduced this behavior.

[2021-05-03 14:51] davidducos commented on #328
To reproduce the issue:
[code]

[2021-05-03 15:26] davidducos commented on #328
This issue is not present in latest version of MySQL Server.

[2021-05-03 15:26] #328 closed

[2021-05-03 19:26] davidducos commented on #169
I reviewed the code, there are 2 things to consider:
* In this [PR](https://github.com/maxbube/mydumper/pull/286) there is an implementation of SYNC, in that case it stops until all the data jobs finished. In this case we need to SYNC until all the schema files are completed.
* We also need to establish a way that we name functions in myloader, as we have add_schema and add_table on function resto

[2021-05-04 12:21] davidducos opened #330 "MySQL libraries version for releases"
Yesterday, we release [v0.10.5](https://github.com/maxbube/mydumper/releases/tag/v0.10.5), and in the notes, I wrote:
[code]
I would like your opinion about next releases, should we releasing with both libraries? should we stop using 5.7?

[2021-05-04 12:36] 3eka commented on #330
HI @davidducos,

IMHO you should keep it /5.7 libraries) for while. Guess not everybody have dropped MySQL/Percona 5.7.

Regards.

Thanks for releases! I was able to compile (and use) it on OpenIndiana, built against MariaDB 10.3:
`:; mydumper --version
mydumper 0.10.6, built against MySQL 10.3.24
`

[2021-05-04 12:39] davidducos commented on #330
Hi @3eka, thanks!
And what about both? for instance, release like this:
mydumper-0.10.5-1-57.el7.x86_64.rpm
mydumper-0.10.5-1-80.el7.x86_64.rpm
Or MariaDB... is it worthy?

[2021-05-04 12:43] 3eka commented on #330
Hi @davidducos,
maybe I am not proper person to discuss this with...

In any case, it is easy to build it. Who needs it... You cannot cover all possible cases/combinations.

Regards.

[2021-05-04 19:53] davidducos commented on #235
@dayuanyuan1989 were you able to see multiple connection to the TiDB server? Can you test with -t 1 and -t 16 to see if there is some difference in time?

[2021-05-05 12:26] davidducos opened #331 "Review detect_generated_fields"
We need to review detect_generated_fields as in cases where -r/--rows is being used which calls detect_generated_fields on each chunk, it is sending to the database an extra select that can be executed just once. This is an example:

[code]

[2021-05-06 02:13] WatchLucky commented on #321
Thanks 。

[2021-05-06 13:51] davidducos commented on #157
Hi @xuclachina, can you test with latest version and tell me if you still have this issue?

[2021-05-06 13:53] davidducos commented on #160
Hi @arbabnazar,
You can use also --omit-from-file to ignore tables. I'm closing this for now. Let me know if there is any other question.

[2021-05-06 13:53] #160 closed

[2021-05-06 17:21] DevOpserzhao opened #335 "Could not execute query: Unknown error"
Could not execute query: Unknown error

[2021-05-06 17:21] DevOpserzhao commented on #335
Broken table detected, please review: sys.x$schema_table_statistics_with_buffer

[2021-05-06 17:29] davidducos commented on #335
Can you share more information? At least we need the command executed and the log file

[2021-05-06 17:49] #48 closed

[2021-05-06 17:59] davidducos commented on #180
Hi @ezbik, looks like this is an error on your database, not in MyDumper. Can we close it?

[2021-05-06 18:00] davidducos commented on #183
Closing this issue based on this: https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:01] #183 closed

[2021-05-06 18:14] davidducos commented on #275
Closing based on https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:14] #275 closed

[2021-05-06 18:16] davidducos commented on #298
Hi @piyushsonigra,
Can you share more info, so we can troubleshoot this issue?

[2021-05-06 18:17] davidducos commented on #301
Closing this issue based on https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:17] #301 closed

[2021-05-06 18:18] davidducos commented on #321
Hi @WatchLucky, your welcome!

[2021-05-06 18:18] #321 closed

[2021-05-06 18:38] ezbik commented on #180
@david-ducos-percona the whole bug issue was about situation when MyDumper could not complete the dump yet did exit with 0 (=success).
I could not reproduce it on newer version.
So yeah, I am closing it.

[2021-05-06 18:38] #180 closed

[2021-05-06 18:40] davidducos commented on #37
We are closing it as we don't have any feedback
https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:40] #37 closed

[2021-05-06 18:41] davidducos commented on #111
We need feedback to proceed. closing it
https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:41] #111 closed

[2021-05-06 18:42] davidducos commented on #182
We need feedback to proceed. Closing it.
https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:42] #182 closed

[2021-05-06 18:46] davidducos commented on #192
We need feedback to proceed. Closing it.
https://github.com/maxbube/mydumper/wiki/Support

[2021-05-06 18:46] #192 closed

[2021-05-06 20:48] davidducos commented on #274
The default character set can be set with the --defaults-file in mydumper and myloader.

And about the SQL_MODE, I think that will be more interesting to develop hook files.

[2021-05-07 05:20] DevOpserzhao commented on #335
nohup mydumper --regex '^(?!(mysql|test|performance_schema|sys|information_schema))'  -u root -p g   -h 127.0.0.1 -P 3306  -G -E -R -t 16   -o /data/mydumper/ &

[2021-05-07 05:23] DevOpserzhao commented on #335
This database instance is recovered from alicloud RDS physical files

[2021-05-07 11:47] davidducos commented on #335
And the mydumper log file?

[2021-05-07 16:25] SeanTobin commented on #292
Just completed a restore using --sync-before-add-index and it worked as expected

[2021-05-07 17:02] davidducos commented on #292
Excellent!

[2021-05-09 02:48] DevOpserzhao commented on #335
Broken table detected, please review: sys.x$schema_table_statistics_with_buffer

[2021-05-09 02:52] DevOpserzhao commented on #335
if (!is_view && row[ecol] == NULL) {
      g_warning("Broken table detected, please review: %s.%s", database,
                row[0]);
      dump = 0;
    }

[2021-05-09 03:04] DevOpserzhao commented on #335
I have used regular expressions to block the sys database, but why do I still report sys errors?

[2021-05-10 15:16] mshedsilegx commented on #330
mydumper does not seem to compile with -DWITH_BINLOG=ON and MySQL 8.0 headers, due to the fact that my_global.h is removed in 8.0. The following error is shown:
binlog.c:23:10: fatal error: my_global.h: No such file or directory

Until this is resolved, I think we should stay with 5.7 mysql libs.
Best regards.

[2021-05-12 05:19] xiaobing0508 opened #338 "Mydumper Backup failed ,Point Out Segmentation Fault (core dumped)"
The log shows [error] - could not read data from XXX.XXX: Lost connection to MySQL server during query.
This has happened many times.
Back up again on the original backup directory?

[2021-05-12 05:21] xiaobing0508 commented on #338
My parameters is  -G -E -R -l 90 -K -e --less-locking -t 4 -r 1000

[2021-05-12 11:43] fredricj commented on #338
I cant reproduce this locally.
The lost connection is probably due to the data.
The segmentation fault should be possible to fix if we get a stack trace, either by running it through gdb or from the core dump (how will depend on you distribution).

[2021-05-12 13:08] davidducos commented on #338
Hi @xiaobing0508,

I'm agree with @fredricj, I saw in the past that some tablename causes segmentation faults. Can you review if the table names has dot, or any other special char?

[2021-05-12 15:15] davidducos commented on #330
I was able to fix the issues on 5.7 and I tried to make it work on 8.0 but the major issue is that the binlog.o needs to be build with c++ and even after doing that I had linking problems. This will need more time.

[2021-05-13 12:32] davidducos opened #340 "WITH_BINLOG=ON on MySQL 8 issues"
This issues is to keep track of the issue and solutions around the WITH_BINLOG in MySQL 8.0.

_Originally posted by @davidducos in https://github.com/maxbube/mydumper/issues/330#issuecomment-837357634_

[2021-05-14 12:42] bato3 opened #342 "[fast index] Deadlock found when trying to get lock"
I'm using 24 threads to restore indexes, some tables are very big.  I got a couple of these errors (tables: `users` and `titles` are often referenced, some indexes can be restored over 20 mins):
[code]
I suggest split `ALTER TABLE` to `ADD KEY` and `ADD  CONSTRAINT` or manage active locks.

### Info

`./myloader -d 20210512  -o -v 3 -t 24 -s m1040_strona --innodb-optimize-keys`

Dump from classic

[2021-05-14 13:06] davidducos commented on #342
Hi @bato3,
Thank you for testing this new feature! I think that the issue is caused by the absence of the SET FOREIGN_KEY_CHEKS.
Please, check latest commit: https://github.com/maxbube/mydumper/pull/286/commits/15c07797bffa21ea9d8384df6659c17bf9d3ae91

As I think that it might fix the deadlock issue that you see.

Please, let me know

[2021-05-14 13:29] bato3 commented on #324
@davidducos I have this error on table with 3 indexes, when last is reversed first.
In this table I have 164504937  rows.

Perhaps the solution would be to split this operation into parts so that each key is added separately?

And I think it would be worth adding a warning that such a problem may occur. (Estimate needs at the line insertion stage and issue a warning.)

Besides, `innodb_online_alte

[2021-05-14 13:41] bato3 opened #343 "[fast index] g_strrstr: assertion 'needle != NULL' failed"
I have couple errors of this type:

[code]

[code]

Mention: https://github.com/maxbube/mydumper/pull/286

[2021-05-14 17:27] davidducos commented on #343
Please, check latest commit as I found root cause of the bug.

@bato3 I really wanted to thank you all the testing that you are doing on this feature! Please, let me know if you find out any other issue!

[2021-05-14 18:06] davidducos commented on #324
Hi @bato3
MySQL documentation says about innodb_online_alter_log_max_size: `This log file stores data inserted, updated, or deleted in the table during the DDL operation`. So, the issue is happening because the table is being used during the ALTER TABLE that adds the indexes.
Makes no sense to me to split the operation in parts, it will make the import to take longer and you might end up having th

[2021-05-18 12:30] bato3 commented on #343
It works, thanks for your work

[2021-05-18 12:34] #343 closed

[2021-05-18 12:52] #305 closed

[2021-05-18 12:53] #331 closed

[2021-05-18 12:53] #253 closed

[2021-05-18 12:58] #4 closed

[2021-05-18 12:58] #322 closed

[2021-05-18 13:04] bato3 commented on #342
Is better, but still don't work correctly. I noticed that another thread was inserting at the same time.

Also, phpMyAdmin show in status column `waiting for table metadata lock` in all ALTER TABLE

[2021-05-18 13:07] bato3 commented on #342
@davidducos please reopen

[2021-05-18 13:07] davidducos commented on #342
Hi @bato3, why don't you try with --sync-before-add-index ?

[2021-05-18 13:35] bato3 commented on #342
I'll check tomorrow.

BTW: funniest thing is, that 2 firs errors are for empty tables, third for `innodb_online_alter_log_max_size`.
But it's probably unrelated to that, because the last 3 errors are one index with a reference to the same table.

[2021-05-18 13:41] bato3 opened #344 "Error message don't show thread no."
I have
[code]
But error don't report it
[code]

And  I noticed, that `db.table` are not quoted. (My OCD XD)

[2021-05-18 13:53] bato3 opened #345 "Mydumper --outputdir directory rights"
I believe that the default rights should be used when creating a directory. Access control should be done through the parent directory.
In my case, another user is backing up and another is uploading the data to an external server.

I told about: [`g_mkdir(new_directory, 0700)`](https://github.com/maxbube/mydumper/blob/master/mydumper.c#L2409)

[2021-05-18 15:43] piyushsonigra commented on #298
No one more working on it, so unable to do further troubleshooting and proving logs.
Thanks for your response.

[2021-05-18 16:08] #298 closed

[2021-05-18 17:00] davidducos commented on #345
Hi @bato3  What do you think about adding --outputdir-mode ?

[2021-05-20 10:42] bato3 commented on #345
It't good and bad option.

- It is good because we give you a choice.
- It is bad because too many options make it difficult to find them.

In my opinion, the most sensible option is to inherit rights from a parent. But I think `g_mkdir` requires` mode`, so doing it this way can be a pain. g_stat (, .st_mode)

And then there is the problem of old scripts.

After thinking, I propose to choose one o

[2021-05-20 12:43] fredricj commented on #345
I agree with @bato3 on this. Adding a new option might not be the best course of action

[2021-05-20 13:50] bato3 commented on #342
@davidducos still I have errors with `--sync-before-add-index` (the same tables)

Also I have only one process with `altering table` status. Others have `Waiting for table metadata lock`.

Blocking concurrent execution of `ALTER TABLE` is standard, or is it due to my database configuration?

If it's not global, I would like an option like `--alter-threads` or `--single-alter-table` to do this 1 th

[2021-05-20 20:21] taddev opened #348 "Segmentation fault caused by single quote in table and db name"
I'm getting a seg fault when trying to dump a database with a single quote  in the name.  It appears to not escape the quote correctly.

`** (mydumper:2116304): CRITICAL **: 14:15:49.237: Error: DB: Bob's dev site - Could not execute query: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's dev site'' at line 1`

[2021-05-20 20:38] davidducos commented on #342
@bato3 is the alter over the same table? if not, this doesn't make sense, as alters are being done in parallel and you should not see any "Waiting for table metadata lock", What db version are you running?

[2021-05-21 12:41] #348 closed

[2021-05-21 14:31] davidducos commented on #340
The binlog support will be deprecated and removed in newer versions

[2021-05-21 14:31] #340 closed

[2021-05-24 06:46] bato3 commented on #342
Yes, ALTER references the same tables.

Remember that in addition to `Waiting for table metadata lock`, I still get messages about` Deadlock found when trying to get lock; `and` innodb_online_alter_log_max_size`. I have set the value so that it only appears occasionally but never as I execute this query directly in the mysql console.

DB Version:  8.0.22-13 - Percona Server (GPL), Release '13', Re

[2021-05-24 18:25] davidducos commented on #342
@bato3,

ALTER on the same table can't be executed in parallel and take into account that myloader will add another ALTER statement if it finds FULLTEXT indexes, as it is possible to create 1 index per execution.

I will need the DEADLOCK section from SHOW ENGINE INNODB STATUS to troubleshoot the deadlock issue.

[2021-05-24 18:57] davidducos commented on #345
Hi @bato3 ,
I don't want to reject this suggestion.
Strong breaking change with 0750 will be simplest way to proceed.

[2021-05-24 21:54] bato3 commented on #342
I don't have `FULLTEXT` indexes. (but ~80% tables (~98% data amount) has references to 2 main tables)

At what point do I shoulld get the `SHOW ENGINE INNODB STATUS` result?  I need "step by step" help, because I don't have this section. After firs error I try:
[code]
Any messages in ` /var/log/mysql/mysql_error.log` only this section I'm think, that should be helpfull
[code]

[2021-05-25 12:59] davidducos commented on #342
@bato3
There is a fix, that will be merged that might fix the issue that you have. Please check #351

[2021-05-25 13:28] davidducos commented on #285
Now, that we have [fast index creation](#286 ), we need to focus on 2 things:
- Order of the tables for insert:
There might be a couple of ways of doing this:
- mydumper could get the information needed (data_length and amount of rows ) and save it in the metadata file
- myloader could sum the size of the files per table, but the amount of rows will be expensive.
- myloader could load the table or

[2021-05-25 16:46] davidducos commented on #342
@bato3 it is rare to have deadlocks but do not see them in the Innodb status...

[2021-05-27 12:30] bato3 commented on #342
Nothing change to better, it's even worse... You didn't take into account how silly ideas database designers might have.

But back to the problem, I have another idea: The first 5 errors show up for tables that have no data. Only later do these errors appear for the data tables. (Also 5 errors) Could it be that the table lock was not released due to an error?

I have relation, who reference  to ot

[2021-05-27 12:49] davidducos commented on #292
I found that the conde is not using --sync-before-add-index, some changes in the code was done that might help, but the expected intention is not there. I'll be working on it before releasing 0.10.7

[2021-05-27 13:29] davidducos commented on #342
Aha... but this has an easy fix, we currently:
- create the table with the primary/unique key.
- execute the inserts statements in parallel.
- create the indexes and constraints.
What about doing:
- create the table with the primary/unique key.
- execute the inserts statements in parallel.
- create the indexes
- create the constraints.
That will fix this issue.

[2021-05-27 14:27] bato3 commented on #342
False alert. after add data to this rows - still have errors.

[2021-05-27 17:15] davidducos commented on #342
@bato, can you check https://github.com/maxbube/mydumper/tree/fic_sync ? I think that this might help us to troubleshoot this issue

[2021-05-31 12:16] #141 closed

[2021-06-02 20:09] bato3 commented on #342
Hi @davidducos,
It is much better. There are no longer **"Waiting for table metadata lock"** statuses, and there are fewer deadlocks. Though not quite...

When I was using the old database copy, there were only 5 deadlocks (10 before the patch). After refreshing, it increased to 8 locks. When I added additional messages to the console, I noticed 4 blockages. Well, normally the magic! XD
(Maybe it

[2021-06-02 21:19] bato3 opened #354 "g_critical replace national characters"
When `g_critical` shows query it replace national characters (eg,: `ęąśżźćńł`) by `?`. (eg in `CREATE TABLE`)
When I run `cat schema.sql`  console don't have problems.

[2021-06-07 07:58] bato3 commented on #342
Hi @davidducos

1. It fails on `MyISAM` tables.
2. When I run without ` --innodb-optimize-keys` it also fails, but also on `InnoDB`
2. Error [with creation table](https://github.com/maxbube/mydumper/issues/342#issuecomment-849592202) "was fixed" after first `core dump`. Could the problem be that the keys are named the same as in another table?

### add 1.

[code]
When I switched to 1 thread:
[code

[2021-06-07 09:08] Ernest0x commented on #254
@davidducos there is no have_backup_locks variable in MariaDB. In fact, MariaDB has a different implementation for supporting backup procedures, with a different set of [BACKUP](https://mariadb.com/kb/en/backup-commands/) commands that a tool can use to create backups safely. So, adding efficient MariaDB support in mydumper means understanding these commands and using them specifically when connec

[2021-06-07 09:17] Ernest0x commented on #254
Imporant note related to my post above:
The BACKUP commands are available since version 10.4.1 (BACKUP STAGE commands) and 10.4.2 (BACKUP LOCK commands) of MariaDB. So, mydumper could use the BACKUP commands if connecting to instances of these versions or above.

[2021-06-07 13:29] davidducos commented on #342
Hi @bato3

1- We need to isolate this issue, I created a MyISAM table, and I was able to import without issue and no segmentation fault.
2- I was not able to reproduce this issue, are you testing latest version of [fic_sync](https://github.com/maxbube/mydumper/tree/fic_sync) ?
3- ALTER TABLE statement should NEVER add a PRIMARY KEY. if that is happening, it is a major issue.

4- That is a new feat

[2021-06-07 13:56] davidducos commented on #342
Hi @bato3,
1 and 2- Please, check with the latest commit.
3- ALTER TABLE statement should NEVER add a PRIMARY KEY. if that is happening, it is a major issue.
4- That is a new feature request, I will create the issue and see how to implement in the future... and it still surprising me...

Yes! I' agree with you, I will implement a prettier printing for the timings.

[2021-06-08 12:25] davidducos commented on #141
Hi @stephenreay, I found a bug and push a PR with the fix.
I realized of the bug when I was working on the testings... looks like the testings worked in this case! 🎉 🎉

[2021-06-08 17:04] stephenreay commented on #141
Nice work.

I don't think it ever occurred to me that compression would be expected on those files, due to their fixed, small size. But I guess it makes sense for consistency.

[2021-06-09 13:11] bato3 commented on #342
**add 2.**, still fail when I use `./myloader -d /home/backups/site/20210609/ -p pass -o -v 3 -t 24 -s m1040_strona`. Myloader still try to restore indexes (both table types). And we're not using the delayed index addition method. `--innodb-optimize-keys`

**add 3.** Finally I understood what the problem was. Another table references a column that does not have an index. I'll post a new feature re

[2021-06-09 13:26] bato3 opened #356 "[loader] drop all tebles before import / specify the restore order"
As I wrote in https://github.com/maxbube/mydumper/issues/342#issuecomment-849592202I have a table that references a column that isn't PRIMARY KEY. When I use `--innodb-optimize-keys`, the key in this column is not created and the import process reports an error: A foreign key from another table must refer to an index (which is not there)

This could be fixed by intelligent key parsing (checking to

[2021-06-09 13:36] bato3 opened #357 "[loader] store failed quieries in file"
I propose to save the unsuccessful queries to the file (with commented error description).
I believe this would easily solve the proposal to [re-execute failed queries](https://github.com/maxbube/mydumper/issues/342#issuecomment-855952166) as well as the [character encoding issues on the console](https://github.com/maxbube/mydumper/issues/354).

[2021-06-10 06:09] aubelsb2 opened #358 "required `libatomic1` on ubuntu"
When I was installing the deb after following the instructions in the read me, it also said that I needed to install `libatomic1`

[code]

[code]

[2021-06-10 11:55] davidducos commented on #358
Hi @aubelsb2,
Yes, since https://github.com/maxbube/mydumper/issues/222 libatomic1 is a requirement. The documentations talks about the dependencies to compile MyDumper, but doesn't say anything about the requirements about the deb pacakges, thank you for point that out, I will be changing the documentation to express it correctly.

[2021-06-10 12:06] #358 closed

[2021-06-10 12:21] davidducos commented on #357
@bato3,
I'm assuming that  you want to save the failed queries because you want to resume an import. I'm going to also assume that the backup that you are restoring is ok, so, if you save the failed queries in a new place, you are going to be saving queries that you already have in your backup, which means saving the same data twice. What I think that we need to do is to keep the state of each pie

[2021-06-10 12:42] davidducos commented on #342
@bato3,
2- Are you testing https://github.com/maxbube/mydumper/tree/fic_sync ? if --innodb-optimize-keys is not used, you should not see any ALTER TABLE statement. Please, confirm this as it it quite strange.

3- Please, share the table structure to reproduce the issue.

4- Ok, thanks!

1- I had no issue with myisam tables with the latest fic_sync commit... can you check once more time and/or shar

[2021-06-10 13:46] bato3 commented on #357
Yes you are right. However, not all `INSERT` queries are necessarily invalid. I can quickly list the 0-date (`0000-00-00 00:00:00`) problem in certain configurations. So in the log you have to save the `n` query from the file` y`.
Also (in my case) the error occurs with a dynamically created query (`--innodb-optimize-keys`)

[2021-06-10 14:10] davidducos commented on #357
@bato3, in that INSERT failed cases, you can use INSERT IGNORE and re run the whole file.

If this happens on a CREATE TABLE, myloader could keep the status when recreate the ALTER TABLE statement and if it failed the last time, just execute that stage.

We also need to take into account that we will need to implement a signal management at os level in case that user is killing the myloader proces

[2021-06-10 14:16] bato3 commented on #356
or change order to
[code]

[2021-06-10 14:21] bato3 commented on #342
Hi,

Yes, `fic_sync` branch. This is pull from today:
![image](https://user-images.githubusercontent.com/11570/121536510-6bf71680-ca03-11eb-9ab7-b02592fc7e1f.png)
Anyway: I have to use it because I suggested changes in the summary of the times. **Thanks for that!**

### Mysql version
 8.0.22-13 - Percona Server (GPL), Release '13', Revision '6f7822f'
(Ubuntu 20... (LTS))

### 1 - crash on `restori

[2021-06-10 14:47] davidducos commented on #342
Hi @bato3

I'm testing with PS version 8.0.23-14.
1- I don't see any seg fault:
[code]

3- this is the general log:
[code]
The SET FOREIGN_KEY_CHECKS=0 is there all the time. The scenario that you are presenting is this?
[code]
which is avoided using foreign_key_checks off:
[code]

[2021-06-10 15:29] davidducos commented on #356
We are setting FOREIGN_KEY_CHEKS to all connections, so there should be no worries about the drop or creation of the constraints. The issue that you are explaining, it is not sufficient to implement any new parameter or this new behavior. Take into consideration that implementing DROP and then CREATE stage, means that we need to sync between operations, which is something that I would like to avoi

[2021-06-10 15:29] #356 closed

[2021-06-10 18:05] davidducos commented on #354
Hi @bato3,

The issue with that we are using the g_log_writer_default function. You can add the code with a new [GLogWriterFunc](https://developer.gnome.org/glib/stable/glib-Message-Logging.html#GLogWriterFunc) which is not going to replace the characters. Take into account that I didn't investigate a lot on it, so I'm not sure if we could configure in a different way and avoid to add a new functi

[2021-06-11 11:35] bato3 commented on #342
### deadlocks
I don't know what causes them. With 24 threads (1 / core), the problem occurs. As I ran with 4 threads - no problem.

Can you verify that all necessary queries are performed when restoring constants? I remember, that you add `SET FOREIGN_KEY_CHECKS = 0` before merging the previous branch. Maybe something is missing after separating the `KEY`s from the `CONSTRAINT`s.

**And due to the

[2021-06-14 12:30] davidducos opened #361 "Database/Table/View structure and procedures/function/triggers checksums"
After merging this: https://github.com/maxbube/mydumper/issues/141 the testings are much simpler, as the data consistency is automatically validated. However, we are not able to check if the structure of the tables, databases, procedure, functions and triggers is correct.

[2021-06-14 19:19] davidducos commented on #285
I think that [this branch](https://github.com/maxbube/mydumper/tree/fic_sync) will be the new way of import

[2021-06-14 19:49] davidducos commented on #87
I asked @utdrmac and he was ok to close it, as he was able to workaround the issue.

[2021-06-14 19:49] #87 closed

[2021-06-15 19:19] #330 closed

[2021-06-16 17:09] #223 closed

[2021-06-18 02:08] brendan-pike opened #363 "[loader] fails to create or override tables"
I have no idea why but myloader is not writing new tables or overriding tables with the -o command. The user definitely has permissions because I had to manually import the schema to create the tables after which myloader was happy to populate them. If I try to reload the data using the --overwrite-tables flag I just get errors or "Duplicate entry" etc.

This is on a new server install :
Ubuntu 20

[2021-06-18 11:47] davidducos commented on #363
Hi @brendan-pike, we need more information can you execute it with -v 4 and send us the output? Can you do an la of the directory that you are using in -d?

[2021-06-18 12:00] carlosmuller opened #364 "Anonymized dump"
Hi thanks for the super software!
What do you guys think about a option to anonymze some columns and tables?

[2021-06-18 12:52] davidducos commented on #364
Hi @carlosmuller,
Interesting... in mydumper (export stage)? myloader (import stage)? both? How we determine the columns? filtering options? hooks?

[2021-06-18 13:14] carlosmuller commented on #364
I am thinking in the export stage so the real data never "escape" but may be a little difficult.
I was thing in some config file with tables and columns an some options like auto generate, empty, and other generators, but for initial release could be random_unique, random, empty  and fixed, something like this:

[code]

[2021-06-18 16:57] davidducos commented on #318
Implemented in https://github.com/maxbube/mydumper/tree/config_file

[2021-06-21 15:02] davidducos commented on #303
Hi @vnlo77250
Nice catch!
We need to use this query to get the tablespaces:
[code]
And we need to not just send the CREATE TABLESPACE statement, we might need to send an ALTER TABLESPACE if the ENCRYPTION = 'Y'.

[2021-06-21 20:14] davidducos commented on #318
We can use different sections, not just: `[mydumper]` or `[myloader]` as the initial intention, we could also [implement the SET SESSION variable](https://github.com/maxbube/mydumper/issues/50) in a new section like `[mydumper_session_variables]` or `[myloader_session_variables]`.

[2021-06-22 02:58] brendan-pike commented on #363
Thanks David, full output below as requested.

[code]

[code]

[2021-06-22 03:15] davidducos commented on #363
Hi @brendan-pike,the -o option uses the *-schema.sql files which are not present in the ls of the backup folder.
Please, take a new backup an let me know if mydumper is creating those files.
Best

[2021-06-22 04:07] brendan-pike commented on #363
Hi @davidducos

Sorry that was just a manual oversight of me today, I used a scribout.* copy which missed the scribeout_schema
I've now copied it over, here it the output again, essentially the same.

[code]

[2021-06-22 09:43] davidducos commented on #363
Hi @brendan-pike, the issue is still present, the *-schema files are missing, you only copied the file that has the CREATE DATABASE statement. The *-schema files has the CREATE TABLE statements.
If you execute a grep 'CREATE TABLE' * , you must see the tables that are going to be created, which in your case are none, as the files are missing.

[2021-06-22 12:42] brendan-pike commented on #363
ah, now I see.  I assumed the _schema was all that was required.  In my case these files were from a backup script I found somewhere awhile ago:
# Logic Backup MySQL data using MyDumper tool
# Daniel Guzman Burgos <daniel.guzman.burgos@percona.com>
I checked and the script has --no-schemas in its flags, would that be it?  If so I should remove the --no-schemas option to make it more flexible I thi

[2021-06-22 12:46] davidducos commented on #363
Hi @brendan-pike, yes, that was the problem. You should not use --no-schemas if you want to dump the schema to recreate the tables when you import the database.

[2021-06-22 12:46] #363 closed

[2021-06-22 12:48] brendan-pike commented on #363
Many thanks and sorry for the time

[2021-06-22 12:53] davidducos commented on #364
We could do something similar of what I'm doing in https://github.com/maxbube/mydumper/tree/config_file
The file content will be like:
[code]

[2021-06-22 20:43] davidducos commented on #342
@bato3 v0.10.7 will be released next week. I will try to push https://github.com/maxbube/mydumper/tree/fic_sync and merge a couple of weeks after, so til that point we are going to leave this on hold.
Sorry, but I'm not able to reproduce the issue. However, after merge, we are going to be able to change the order of the tables. Please, be patient and hang in there!

[2021-06-22 20:46] davidducos commented on #338
No answer for over a month.

[2021-06-22 20:46] #338 closed

[2021-06-22 20:47] davidducos commented on #335
Can you test with latest version?

[2021-06-23 01:11] xiaobing0508 commented on #338
table name have _ and .
Is it because of this ?

[2021-06-23 01:15] xiaobing0508 commented on #338
Table name or database name ?

[2021-06-23 12:54] bato3 commented on #342
@davidducos

Thanks for your work!
With the already implemented changes, it is almost perfectly.

The table restore order error is so specific that I don't know if 1% of users will encounter it. So you can ignore it. Alternatively, `3730` will display a prompt:" The foreign key is referencing a column that is not PRIMARY_KEY. We recommend importing into an empty database. "

**As for restoring con

[2021-06-23 13:21] grassil-mmfg opened #368 "Enabling MAX_EXECUTION_TIME option"
**MyDumper**
It is possible to introduce this parameter to manage the "Query execution was interrupted, maximum statement execution time exceeded".

Many thanks,
Luca

[2021-06-23 20:23] davidducos commented on #368
Hi @grassil-mmfg , I think that this will be possible when we merge https://github.com/maxbube/mydumper/tree/config_file
Can you test that branch?

[2021-06-24 12:31] davidducos commented on #342
does `restoring constants` means `restoring constraints`? if not, I'm not sure what do you mean...

[2021-06-24 20:56] davidducos commented on #338
Hi @xiaobing0508, the _ might not be the issue, but the . for sure is causing the problem... there are other issues reporting and we are going to be solving all those issue in v0.10.9 which will be released on August.

[2021-06-25 01:26] xiaobing0508 commented on #338
But my table name not have . ,It's just that the table name is longer.

[2021-06-25 03:03] davidducos commented on #338
Can you share the table name?

[2021-06-25 03:21] xiaobing0508 commented on #338
Such as TOPIC_WEIBO_AUTHOR_45f0a86d566d43ec833712d30b2ab645 , Mysql parameters  net_read_timeout and net_write_timeout,Is it because of this ?

[2021-06-28 07:26] bato3 commented on #342
Sorry for my _Machine Translated_ English ;)

I'm talk about eg.:
[code]

[2021-06-28 19:56] davidducos commented on #28
Latest release has the md5, sha1 and sha256 hashes. From now on we are going to keep it for each release.

[2021-06-28 19:56] #28 closed

[2021-06-30 19:32] michaelcoburn commented on #274
`mydumper` needs this set as well - if you are in `sql_mode=ANSI` then you won't export tables correctly - they will be missing `ENGINE=InnoDB DEFAULT CHARSET=` entries.   So both binaries need to support `sql_mode`.

An idea is to check for `ANSI` or `ANSI_QUOTES` and then strip them from the session `sql_mode`.

[2021-07-02 13:04] 3eka opened #371 "Release 0.10.7 shows wrong version number"
**Describe the bug**
Downloaded mydumper-master.zip (on that page is written Lastest release is 0.10.7).
However, when compiled:
[code]

**To Reproduce**
download mydumper-master.zip (from https://github.com/maxbube/mydumper) and compile it
Click on `Latest release` button on page https://github.com/maxbube/mydumper/releases/latest opens https://github.com/maxbube/mydumper/releases/tag/v0.10.7

**

[2021-07-02 13:43] davidducos commented on #371
Hi @3eka, this is undesirable but expected. To fix it, I will need 2 PR on each release to avoid it. I will take this into account for future releases but this won't be fix in the near future.
We need more people involve in the project to be able to do it smoothly. Nowadays, it is mostly me, if you (or anyone) want to get involved, just let me know! We need developers, testers and release managers

[2021-07-12 12:22] huangzhiyong opened #373 "improve estimated_step"
func **get_chunks_for_table**  is used to calculate the size of each chunk. In some special cases, the value of **estimated_step** (`estimated_step = (nmax - nmin) / estimated_chunks + 1`) will be very large. It is recommended to add a global parameter. When **estimated_step** is greater than the global parameter, the block size will use the global parameter.

[2021-07-12 12:33] davidducos commented on #373
Hi @huangzhiyong , 100% agree with you!! I saw this in the past but didn't find the time to work on a solution. I really appreciate if you can add the code needed, if not, don't worry I will do it for next release. BTW, I would like to use  estimated_step as the name of the global variable and change to: `local_estimated_step = (nmax - nmin) / estimated_chunks + 1)` for the function calculation.

[2021-07-12 16:26] bato3 opened #374 "[BUG / mydumper] Unable to get estimates for db.table: Unknown column 'fiels-value' in 'where clause'"
**Describe the bug**
When I want dump with option `--rows` and table don't have numeric PRIMARY KEY, dump is failed

**To Reproduce**
Command executed:
[code]

PHP my admin dump
[code]

**Log**
[code]

**Environment (please complete the following information):**
 - OS version: Ubuntu 20.04
 - MyDumper version: mydumper 0.10.7, built against MySQL 8.0.23-14, _(master, git version)_

If I good remem

[2021-07-12 18:12] davidducos commented on #374
Hi @bato3,

I'm confirming the bug, I will add a PR ASAP.

[2021-07-12 19:35] #374 closed

[2021-07-13 04:48] huangzhiyong commented on #373
Hi @davidducos, C is not my strong point, I tried to push a RP #376

[2021-07-14 03:45] jmbkeyes opened #377 "[Question] how to use mydumper to backup 2 tables with different where conditions?"
Right now, mydumper supports backup several tables at one time, and also support --where condition.
If I want to dump 2 tables, each table with different where conditions, so need  I have to use two mydumper commands to dump the tables with its own where condition？

[2021-07-14 12:12] davidducos commented on #377
Hi @jmbkeyes, yes, --where means that you expect a partial backup, running 2 or more commands if needed should not be a problem. However, will be nice to have where clause per table if you want to load dev/testing/QA environments or if you want incremental backups. If you like, you could implement this feature, but I recommend to wait until release of https://github.com/maxbube/mydumper/pull/370,

[2021-07-14 15:17] matthewlenz opened #378 "mysqlpump like skip-definer option"
mysqlpump supports skipping the definer on triggers and routines.  This would be really nice to have in mydumper when snapshotting a db to load up for development in a different environment.

[2021-07-15 03:51] jmbkeyes commented on #377
@davidducos  I'm not familiar with C, but I  appreciate your suggestion “where cause per table in config file”.

[2021-07-15 16:11] roni-estein opened #379 "[BUG] adding --rows to command triggers unknown column in where clause warning"
Basic run works fine, but I read in an article that running with different --row sizes works better with more threads when you have a few extremely large tables.

When I add -r 500 or --rows=500 for example certain tables trigger this:

** (mydumper:14630): WARNING **: 10:20:43.037: Unable to get estimates for export.xf_cron_entry: Unknown column 'cleanUpDaily' in 'where clause'
[1]    14630 segme

[2021-07-15 16:17] roni-estein commented on #379
Using the file size option does work perfectly, as a work around in my case, however this probably still should be looked at

[2021-07-15 17:45] davidducos commented on #379
@roni-estein this is already fix on Master.

[2021-07-15 17:57] roni-estein commented on #379
Thanks!

[2021-07-15 19:38] roni-estein opened #380 "[QUESTION] Increase CPU usage Tuning restore"
I may be reading this wrong, but it appears that my loader is bot using much of the CPU, I'm running this on an Apple M1

Here is a baseline, using mysqldump the basic restore

[code]

using mydumper / myloader is faster but seems to not use much of the CPU.

[code]

I created the backup as follows:

[code]

Are there any strategies to increase the speed get and get it to use more of the CPU

maco

[2021-07-15 20:26] davidducos commented on #380
Hi @roni-estein,

Were the DB is running? is it in your laptop? if not, then, the db (or db resources) or network might be the bottleneck. You are not going to be able to use more CPU if CPU is not needed...

[2021-07-15 20:33] roni-estein commented on #380
Its all local. I'm trying to find something thats kind of closer to percona xtrabackup speeds. I've had 0 luck trying to just restore 1 DB from percona you need to do the whole system. And it's brittle. So if I take an xbstream from one server onto my dev machine I have to blow away the rest of the databases.

I thought this might be there if I gave it enough sauce. xtrabackup can handle a complet

[2021-07-15 20:56] davidducos commented on #380
Did you tried [partial backups](https://www.percona.com/doc/percona-xtrabackup/2.3/innobackupex/partial_backups_innobackupex.html) ?

you can increase the amount of threads depending in the amount of files taht you are processing. Don't forget to use -v 3 to see the progress, that might give you and idea which is the file/table that is taking longer.

[2021-07-15 23:28] roni-estein commented on #380
You sir are awesome!

All the demo's leave out critical steps or have some issues however this one and I only found it to explain the issue got my first test working! Although I still need to follow up with more depth.

https://www.percona.com/blog/2020/04/10/percona-xtrabackup-backup-and-restore-of-a-single-table-or-database

There are two tricks to anyone finding this discussion.

1. Don't stop

[2021-07-16 12:07] davidducos commented on #380
@roni-estein you can also check [this page](https://github.com/maxbube/mydumper/wiki/Restore-optimizations) to improve the restoration times.

[2021-07-16 12:09] #380 closed

[2021-07-16 12:10] #379 closed

[2021-07-16 12:15] davidducos commented on #378
Hi @matthewlenz, I prefer to dump triggers and routines as it was created. During loading we can parse the CREATE statement and make some changes. We are already doing that on myloader when we have to parse the CREATE TABLE statement to remove the indexes to create the ALTER TABLE statement to add them later.

[2021-07-16 12:28] matthewlenz commented on #378
@davidducos I was actually going to suggest that as an alternative in my original post.  I think your way is superior without a doubt.  Thanks for considering adding this and thanks for all the advancements in the project you've been spearheading!

[2021-07-16 12:32] #129 closed

[2021-07-16 12:33] #157 closed

[2021-07-16 12:37] #12 closed

[2021-07-16 12:38] #25 closed

[2021-07-16 12:45] davidducos commented on #78
The linked PR is the best approach, we are not going to sort by file size, we are doing by a the amount of rows that is provided by mydumper.

[2021-07-16 12:48] davidducos commented on #84
I will be closing this issue, as there are already another ticket for each request.

[2021-07-16 12:48] #84 closed

[2021-07-16 17:44] davidducos commented on #138
We should check the amount of tables before selecting over information_schema.tables.

[2021-07-16 17:50] davidducos commented on #142
#370 will allow us to implement any export or import strategy.

[2021-07-16 17:52] davidducos commented on #159
We are going to be able to do this after merge: #370

[2021-07-16 17:54] davidducos commented on #175
Hi @casanovaauyeung , Can you check your issue again? as we currently support generated columns.

Please, let me know so I can close this issue.

[2021-07-16 17:57] #371 closed

[2021-07-16 18:07] davidducos commented on #228
Some of those options are simple to implement, but it will be really interesting to move from mydumper.c to common.c .

[2021-07-16 18:08] davidducos commented on #162
I'm closing as I'm not able to reproduce. If you found a workaround, please let use know.

[2021-07-16 18:08] #162 closed

[2021-07-16 18:11] #297 closed

[2021-07-17 01:03] fredricj commented on #380
@roni-estein you could also try mysqlsh's util.dumpSchemas() and util.loadDump() https://dev.mysql.com/doc/mysql-shell/8.0/en/mysql-shell-utilities-dump-instance-schema.html https://mysqlserverteam.com/mysql-shell-8-0-21-speeding-up-the-dump-process/

[2021-07-19 02:55] jmbkeyes commented on #377
BTW, does where condition support sub query?

[2021-07-19 04:23] TracyBin commented on #377
Hi, what is your command when backup 1 table?

[2021-07-19 04:24] TracyBin commented on #377
Hi, what is your command when backup 1 table?After we use where clause, a large number of files are generated, and the contents of the files are repeated

[2021-07-19 04:48] jmbkeyes commented on #377
@TracyBin
my command is very simple as below.
mydumper --host 10.0.0.12 --port 3306 --user root -p test --database bocai --tables-list trainee_sub_center_info --outputdir /root/test --no-schemas --complete-insert --where centerId=1

There're about 2.5 millions records in the table, and only 8000 records match the where condition.

[2021-07-19 14:43] davidducos commented on #377
@jmbkeyes there are no restrictions to use sub queries. You can try and let me know.

@TracyBin you are using OR, you need to enclose the whole condition in a (), try this and let me know:
`
mydumper -u root --password='123456' -S /data/mysql2/socket/mysql.sock -B test -T change_detail2 --triggers --events --routines --rows=50000 -t 8 --trx-consistency-only --where="create_time >=' ( 2020-11-06' o

[2021-07-19 15:36] #156 closed

[2021-07-19 20:33] garruti9 opened #381 "Segmentation fault error when using --rows option"
When using MyDumper 0.10.7 with **--rows** option and the Primary Key of the table doesn't have an integer data type, we are getting the following error:

[code]
The error is reproducible on MySQL 5.7 and 8.0 MyDumper 0.10.7. Using MyDumper 0.10.5 it works without errors. Based on my test, it happens when the Primary Key is defined as a varchar datatype. When using bigint works as expected.

Pleas

[2021-07-20 07:15] jmbkeyes commented on #377
@davidducos  sub query works, but I have to give the database name in subquery. Otherwise I'll receive a critical  error log ( No database selected)

[2021-07-20 12:36] davidducos commented on #377
@jmbkeyes Thank you for sharing!! makes total sense that you have to add the database name... I will try to include your feature request earlier than v0.10.11, but I'm not sure that it might be possible...

[2021-07-20 13:11] druggo opened #382 "[BUG] table name starts with checksum breaks myloader"
**Describe the bug**
Table name starts with checksum breaks [myloader](https://github.com/maxbube/mydumper/blob/v0.10.7/myloader.c#L362).

**To Reproduce**

* mydumper with all the parameters
mydumper -B t1 -o t1
* myloader with all the parameters
myloader -o -d t1

**Expected behavior**
myloader exit with 0

**Actual behavior**
myloader exit with 1 and show  warning:

**Environment (please comple

[2021-07-20 20:25] rookie7799 commented on #87
hey, we are having the same issue, how did you resolve it?

[2021-07-20 20:38] utdrmac commented on #87
@rookie7799 You are using Clustrix and are trying to use mydumper? Fix is in comment #3 above.

[2021-07-20 20:43] rookie7799 commented on #87
Yep, and I saw that "fix" but I get "option parsing failed: Unknown option --defaults-file"

[2021-07-20 20:45] utdrmac commented on #87
`--defaults-file` is a parameter for mysql client. Do you have that set in /etc/my.cnf or .my.cnf somewhere?

[2021-07-20 23:18] rookie7799 commented on #87
--defaults-file is mysql client's parameter that you use to actually specify the my.cnf file - that's why I'm a bit confused here :)

[2021-07-21 07:17] TracyBin commented on #377
@davidducos    Yes,you are right.  And I found answer in the source code.
If no()，where condition like this:
[code]

with(),where condition like this:
[code]

[2021-07-21 15:49] mielas opened #383 "[enhancement] MySQL 8 / Percona 8 LOCK INSTANCE FOR BACKUP"
percona 5.6+ had "LOCK BINLOG FOR BACKUP" for lightweight locks. since mysql8 implemented "LOCK BINLOG FOR BACKUP", "LOCK BINLOG FOR BACKUP" has been removed from percona8. do you plan to utilize new way of locking ? FTWRL means that main sql server backup is very problematic. we can/should backup replication server but still... not always possible (e.g. no replication, replication with huge delay

[2021-07-22 02:41] #377 closed

[2021-07-29 19:31] davidducos commented on #383
`do you plan to utilize new way of locking ?`
We want to use the best approach for each database. We want to support at least MySQL, Percona and MariaDB, but we are also have some code related to Drizzle and TiDB which we might want to remove or support. The idea is create code that is going to be possible to maintain in the future, as it is simple to make an easy fix, but the final goal is to mak

[2021-07-29 20:08] davidducos commented on #169
#286 was good, but not enough, we learn several things and now we implemented #352 which is much better and will allow us to implement this.
I reschedule this implementation to 0.10.11 as we need to see how 0.10.9 goes.
I will keep you posted

[2021-07-30 13:02] davidducos commented on #344
Adding the quotes will be simple, but adding the thread number... that will not, I will need to add the thread_id to several functions. I will need some time to think how to implement this simpler.

[2021-08-02 09:16] oakad opened #385 "Explicitly set client and server charset to binary"
Not sure if it's an issue, but mydumper emits the following line into its data dump: `"/*!40101 SET NAMES binary*/"`.

I believe, this may break on some configurations and can be mitigated by explicitly passing `MYSQL_SET_CHARSET_NAME  "binary" ` to mysql connection options.

[2021-08-02 12:57] davidducos commented on #385
Hi @oakad, you can set names with --set-names which has been added in v0.10.5. If you need more info about it, check https://github.com/maxbube/mydumper/pull/154.
Please, let me know if there is an issue or a feature request that I'm not reading from your comment.

[2021-08-03 02:42] oakad commented on #385
Currently we are facing an issue, with a database configured to be "utf8mb4", but the actual text columns in it contain binary data (legacy dbs are like that). This results in totally botched escaping in the sql mydumper's dump (dumping from `mysql` command works fine, btw).

We will do some further experimenting with "--set-names" and such and report.

[2021-08-03 14:50] davidducos commented on #385
From my understanding, we should test a database with utf8mb4 and columns with binary, what db version?

[2021-08-03 20:20] #318 closed

[2021-08-03 20:20] #78 closed

[2021-08-03 20:20] #285 closed

[2021-08-03 20:20] #292 closed

[2021-08-03 20:20] #342 closed

[2021-08-04 04:03] oakad commented on #385
5.7

From documentation it follows that `mysql_real_escape_string` uses the charset set on connection. Right now, no charset is explicitly set. But one matching the `--set-names` should probably be.

[2021-08-04 08:08] druud commented on #318
The initial #84 also mentioned '[rebuild]' as a group name.

One of the goals is to be able to use mydumper/myloader to rebuild a table as fast as possible,
so to be able to make a dump that is optimized for the **target** structure of a table.
For that, each target .ibd file (and a partitioned table has several) must have a single thread writing to it, in perfect PK-order.

[2021-08-04 10:04] davidducos commented on #318
Hi @druud, the [rebuild] group that you proposed has been renamed to [mydumper], we added also [myloader] to allow users to maintain a single file.

About the pk insert order, I would like to make a better analysis as I think that latest implementation will be better as it orders the files. Doing single threaded inserts goes against the idea of this project, which is to perform multi threaded inse

[2021-08-04 12:32] druud commented on #318
Re. "multi threaded inserts even per table to speed up the inserts", that is a common misconception.

First, it is not "per table", but "per ibd-file". Second, a single thread filling up an ibd-file, in perfect PK-order, and without secondary indexes, is in many aspects the most optimal way to fill up a table.

For the highest speed, use something close to the default --tab dump format of mysqldum

[2021-08-04 13:19] davidducos commented on #318
Hi @druud ,

myloader is not aware about the ibd files, just tables when we talked about data. You are totally right that a single thread is the most optimal way, but it is not the fastest. Take into account that single threaded inserts per table on multiple tables has lower insert ratio per table than multithreaded inserts in a single table. The most important use cases for MyDumper is when you h

[2021-08-04 16:14] druud commented on #318
Re. "myloader is not aware about the ibd files, just tables when we talked about data.",
it is easy to find out: there is the @@innodb_file_per_table setting,
and there is the desired target table layout, which can be partitioned, which then means multiple ibd-files for that table.
So basically going from tables to their ibd-files (or call it "independent write targets") is an easy step.

Re. "Tak

[2021-08-04 17:00] davidducos commented on #318
Hi @druud,

Yes, checking the @@innodb_file_per_table is the simplest use case, as we might have tablespaces. For sure, this will need more coding.

I did some benchmarks more than a month ago, I will be adding a page in the wiki, later this afternoon with some testings that I did about the primary plus a PR that I will be publishing later today. I can bet that you will love it!

Cheers! and thank

[2021-08-04 17:39] druud commented on #318
To add some color: I only use partition formulas that can easily be expressed in a WHERE-clause.
For example `PARTITIONED BY HASH(id) PARTITIONS 8` means that `id MOD 8` is the partition number.

Same for UUIDs, partitioning on selected bits from one of the bytes in the value, to spread the values over N partitions.
I generally prefer powers of 2 for the number of partitions.

This all to make it

[2021-08-05 01:23] dba-kit commented on #257
That's wonderful!

[2021-08-05 01:33] davidducos commented on #257
Check #370, it is already merged into master. We can close it.

[2021-08-05 04:09] #257 closed

[2021-08-05 08:29] druud commented on #385
Please show an example of how these values look, in every stage.
- the table definition and the column definition
- the value in the column (also as HEX())
- the way it looks like in: mysql -BNe 'SELECT id, mycol FROM MyTable WHERE id = N'
- the way it looks in mysqldump's dump.

[2021-08-05 08:41] druud commented on #364
See also #84, nr 6.

[2021-08-05 08:41] druud commented on #378
See also #84, nr 6.

[2021-08-05 14:01] davidducos opened #389 "[ Enhancement ] Automatically determine when a table should not use --innodb-optimize-keys"
Currently --innodb-optimize-keys is applied to none or all the tables. We need to develop a formula to determine if it should be used per table basis.

[2021-08-06 06:00] aqueos opened #391 "[BUG] table name make mydumper fail"
**Describe the bug**
A table name is so strange it makes mydumper fail with sql error

**To Reproduce**

+---------------------------------------------------------+
| Tables_in_xxxxxxxxxxxxxx (%colissimo_custom_category) |
+---------------------------------------------------------+
| '._DB_PREFIX_.'colissimo_custom_category                |
+--------------------------------------------------------

[2021-08-06 13:15] aqueos commented on #391
forgot to provide this one:
-rw-r----- 1 mysql mysql 8.6K Jul 27 01:07 @0027@002e_DB_PREFIX_@002e@0027colissimo_custom_category.frm
-rw-r----- 1 mysql mysql  96K Jul 27 01:09 @0027@002e_DB_PREFIX_@002e@0027colissimo_custom_category.ibd

thanks ofr the quick look into it david !

regards,
Ghislain.

[2021-08-06 19:18] davidducos opened #393 "[ Enhancement ] Better logging when error occours"
Currently, when you have an INSERT error, you can only check the file and the mysql error line, which might not correspond with the real line in the file.

Will be nice to have a way to show the user the line in the file that failed.

[2021-08-12 07:54] Zombaya opened #395 "[BUG] Error occurs when using --innodb-optimize-keys and there is a column having a foreign key and part of a generated column"
# Describe the bug
There is a column, which has a foreign key relation to another table.  It is also used in a generated column.
When importing the database using `--innodb-optimize-keys`, it will trigger an error: `Error restoring database.table from file (null): Cannot add foreign key on the base column of stored column`.

# To Reproduce
Command executed:
* `mydumper -u root -a -B mydumper_bug_f

[2021-08-12 08:15] Zombaya commented on #395
(Other than this minor issue, kudos for the `--innodb-optimize-keys`-flag, it's speeding up an import that used to take 8 hours to a 1h import, a difference that will only grown in time as the database is expanding.  :+1: :1st_place_medal: :pray: )

[2021-08-12 11:59] davidducos commented on #395
Hi @Zombaya, Thanks for file this bug as --innodb-optimize-keys is one of the latest and most important feature, but it is also the one that has receive a lot of changes. Can you check/compile the master version? as v0.10.7 was an earlier release with this feature and v0.10.9 we slightly change it to fix several issues.
Please, let me know

[2021-08-12 12:11] Zombaya commented on #395
I was able to compile the master-version (a330520aee308c17adc8b73781902b3e0b7764b0) and reproduce the issue.

## Log
[code]

[2021-08-12 12:30] Zombaya commented on #395
@davidducos, as a heads-up, I'm using MariaDB, not mysql.  I forgot to mention it before.  I've edited the original post as well.

Version: mysql  Ver 15.1 Distrib 10.4.20-MariaDB, for Linux (x86_64)

[2021-08-12 13:09] davidducos commented on #395
Hi @Zombaya,

This is my test case:

[code]
Then I'm exporting and exporting the database:

[code]
I see no error on PS 5.7. It might be affecting only to MariaDB. I will be installing a MariaDB and test again.

[2021-08-12 13:51] Zombaya commented on #395
@davidducos , with your script I'm unable to reproduce the issue so something is different. I'll try to modify the script to see what I need to change to make it fail and post my findings.

[2021-08-16 13:38] davidducos commented on #395
I checked with MariaDB 10.4.21 and it is not failing. Can you execute myloader with general_log = ON and upload the file?

Thanks!

[2021-08-16 15:06] Zombaya commented on #395
I added the `general_log`-setting to my mariadb-configuration.  If I need to somehow add it to the myloader-command, please let me know how.

The [mariadb-general.log](https://github.com/maxbube/mydumper/files/6993385/mariadb-general.log) as requested.

[2021-08-17 14:03] davidducos commented on #395
Hi @Zombaya, I installed MariaDB 10.4.20, as I thought that it might be a version related issue, but it is working too. Can you share the configuration file of the server?
I will set this ticket as invalid for now, as this is not related to a MyDumper bug, it might be related to a MariaDB behaviour or bug.
BTW, I was able to find another issue on myloader, thank you for that!! :D

[2021-08-18 04:12] matthewlenz commented on #292
Is this issue resolved?  If so, I just experienced this issue running the newest version as of today.

[2021-08-18 06:54] bato3 commented on #292
@matthewlenz Can you provide more info?

[2021-08-18 11:38] fredricj commented on #395
I can reproduce this on a default installation of mariadb-10.3 on centos 8 following the database in [this comment](https://github.com/maxbube/mydumper/issues/395#issuecomment-897672592). Adding the constraint manually with:
```ALTER TABLE `issues_395_2`.`users`
    ->  ADD  CONSTRAINT `users_FK` FOREIGN KEY (`office_id`) REFERENCES `offices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE;```
works bu

[2021-08-18 12:05] fredricj commented on #395
It fails due to FOREIGN_KEY_CHECKS=0 . If FOREIGN_KEY_CHECKS=1 then the ADD CONSTRAINT works correctly

[2021-08-18 12:32] davidducos commented on #395
@fredricj  @Zombaya  Ooohhhhh!!!
[code]
and this is happening on Percona Server too.
I'm still not sure why I'm not able to see the error on my own myloader executions, I was able to reproduce only when I execute through mysql client.

[2021-08-18 12:54] matthewlenz commented on #292
@bato3 db is about 30GB on disk.  I used most of the standard mydumper options so the export for each table was a single file.  myloader was run with standard options plus --innodb-optimize-keys and --sync-before-add-index.

The table I saw this happen on is the largest in the entire DB with about 80 million rows.  It was still inserting rows long after all the other threads had finished insert an

[2021-08-18 13:00] davidducos commented on #395
I found why my tests are working.
I have just realized that yours SHOW CREATE TABLE has a `ON DELETE CASCADE ON UPDATE CASCADE` on the foreign key constraint definition.

[2021-08-18 13:03] davidducos commented on #395
I can offer 2 workarounds:
1- do not use --innodb-optimize-keys
2- delete a space in the -schema file on the constraint line. That will force to create the constraint when the table is created.

or, you can wait until we implement https://github.com/maxbube/mydumper/issues/389

[2021-08-18 13:06] davidducos commented on #292
@matthewlenz you might be using version 0.10.7-1 which was not the same that @bato3 has been testing. Please, use master or wait until 0.10.9 has been released as they have a different implementation.

[2021-08-18 13:08] matthewlenz commented on #292
@davidducos, I'm using the newest released package mydumper_0.10.7-2.buster_amd64.deb

[2021-08-18 13:12] davidducos commented on #292
@matthewlenz ok, that explains it, 0.10.7-2 has a buggy implementation of --innodb-optimize-keys. Use master or wait until 0.10.9.

[2021-08-18 13:21] matthewlenz commented on #292
@davidducos will do.  I do have one question.  When this was happening I ran into a different related issue with innodb_online_alter_log_max_size being exceeded during the alter phase on that same table.  Do you think that is a side effect of this broken --innodb-optimize-keys/--sync-before-add-index implementation?  If not do you think it would be worthwhile to attempt some kind of calculation to

[2021-08-18 13:41] davidducos commented on #292
That is a side effect of this implementation. @bato3 knows about it as he helped me a lot troubleshooting all those issues. I thought that the implementation of --innodb-optimize-keys that we released on v0.10.7 was good enough, but it was not. I tried to fix all those issues and now I feel more confortable with new implementation. I'm not saying that it bug free, what I mean is that it has less b

[2021-08-18 13:45] davidducos commented on #142
Hi @leandromorgado Can you check again configuring the variables #370 ?

[2021-08-18 13:48] davidducos commented on #368
Hi @grassil-mmfg, #370 has been merged. Can you test again?

[2021-08-18 14:52] Zombaya commented on #395
I created a bash-function for workaround 2.

# Function
[code]

# Usage
[code]

:tada:  for being able to continue for now and enjoying the speedboost for almost all tables.

[2021-08-23 13:11] davidducos commented on #308
Hi @todd-richmond,

I did a quick review and we need to download:
[code]
on cmake/modules/ and add `find_package(OpenSSL)` to the CMakeLists.txt plus other changes.
We also might need to add some logic to automatically disable SSL when OpenSSL package is not found.

I might not be able to do it for release 0.10.9, but I will for 0.10.11. I will keep you posted.

[2021-08-23 13:17] davidducos commented on #100
Hi All,

I'm still working on this solution, as I'm still not sure how to implement it. I learned a lot on what I did on mid-April, but it was going to be very difficult to maintain during the time. I'm still thinking in the best solution.

[2021-08-23 13:22] davidducos commented on #389
We also need to discards the tables that has constraint with `ON DELETE CASCADE ON UPDATE CASCADE` or other options that makes impossible to execute the ALTER TABLE statements in another import stage.

[2021-08-23 13:23] davidducos commented on #395
@Zombaya I will be closing this issue as we are going to do the fix and following on #389

[2021-08-23 13:23] #395 closed

[2021-08-23 13:24] davidducos commented on #142
Closing without confirmation

[2021-08-23 13:25] davidducos commented on #368
Closing without confirmation

[2021-08-23 13:25] #368 closed

[2021-08-23 16:20] ssgoburdhun commented on #385
Same issue encountered.

At the import level using myloader, the following characters are seen:

[code]

Version: mydumper_0.10.7-2.buster_amd64.deb
Import command:
[code]
Table: latin1 with no converted charset/collation
DB: utf8mb4

[2021-08-23 17:20] leandromorgado commented on #142
Hey @davidducos,

sorry was on vacation and couldn't get to this before now.

I compiled the new version and tried with the following options but I'm still running in to the same problem.

Maybe the config file is not correctly specified?

[code]
[code]

[2021-08-23 17:45] davidducos commented on #142
Hi @leandromorgado, you can check if SQL_MODE is being set from the general log if you are just testing.

[2021-08-23 17:54] leandromorgado commented on #142
@davidducos , I don't see it in the general log.
[code]
I'm not very confident in the config file I created (not sure it's correct syntax/format).
I now tried with lower case `sql_mode` but got the same results.
Does it look okay to you?
[code]

[2021-08-23 19:32] todd-richmond commented on #308
find_package(OpenSSL) has existed since cmake 3.4 so you can either require cmake 3.4 or put an if() version check around that
Requiring it seems ok as long as it will work with both OpenSSL 1.0 and 1.1. The issue is that old 1.0 is still required for FIPS compliance and 1.1 compliance keeps getting delayed

[2021-08-24 12:21] davidducos commented on #159
Please, can you check again as #370 has ben merged

[2021-08-24 12:21] #159 closed

[2021-08-24 12:30] davidducos commented on #274
There are 2 ways of setting SQL_MODE, I recommend to use the #370 solution.

[2021-08-24 12:31] #274 closed

[2021-08-24 12:37] davidducos commented on #142
Sorry @leandromorgado, there was a bug... #398 fix it.

[2021-08-24 15:31] davidducos commented on #50
This should be fixed using master as #370 has been merged.

[2021-08-24 15:31] #50 closed

[2021-09-01 04:37] sridhar-zwayam commented on #51
You can try enclosing the password within single quotes in the command
--password='******$****'

[2021-09-03 12:24] #41 closed

[2021-09-03 12:24] #56 closed

[2021-09-03 12:24] #179 closed

[2021-09-03 12:24] #210 closed

[2021-09-03 12:24] #272 closed

[2021-09-03 12:24] #311 closed

[2021-09-03 12:24] #382 closed

[2021-09-03 12:24] #391 closed

[2021-09-03 17:36] #175 closed

[2021-09-03 19:16] #212 closed

[2021-09-07 15:42] #373 closed

[2021-09-09 13:10] davidducos commented on #169
#399 implemented the parallel table creation.

[2021-09-09 13:11] #169 closed

[2021-09-14 12:42] davidducos commented on #100
Finally, I reached to a conclusion.
On mydumper will be adding 2 options:
--stream: it will indicate that the files created needs to be streamed through the STDOUT
--no-delete: the files created in the backup directory will not be deleted.

When we use --stream, the files are going to be created locally and they will be also streamed, by default, they will be deleted after transferred had complete

[2021-09-17 11:00] jackwener opened #402 "[ Question ] About myloader support custom character sets"
Hi, I have some question about `database custom character sets`
I think that if we want to support it, we just modify the `-schema-create.sql` file in `myloader`.
Will the project support this feature later?
Maybe is there some difficulty I have not considered.

[2021-09-17 11:00] jackwener commented on #402
/label improvement

[2021-09-17 12:58] davidducos commented on #402
Hi @jackwener
Aren't you able to do it using: #370  ??
Please, let me know

[2021-09-17 16:37] jackwener commented on #402
I am willing to do something for mydumper. However, I'm sorry that I am
busy on working and  I'm not familiar with c lanaguage programing.

On Fri, Sep 17, 2021, 8:59 PM David Ducos ***@***.***> wrote:

[2021-09-18 08:16] jackwener commented on #402
What' more, I found that the document of `mydumper and myloader` lack of some instruction and warning.
If project is in need of help at this point, I am happy to contribute.

[2021-09-18 08:44] jackwener opened #404 "[ Question or Bug ] The default character set is not in effect"
**Describe the bug**

myloader loads `employees-schema-create.sql`

[code]

But database char-set should be `utf8` but `latin1`

[code]

[code]

**To Reproduce**
Command executed:
`myloader  --password=*** --user=root --directory=. --database=employees -v 3`

**Expected behavior**
`character_set_database`  should be `utf8` instead of `latin1`

**Backup**
If applicable, add the list of content of t

[2021-09-18 18:17] davidducos commented on #404
@jackwener can you test with a newer version or master? V0.11.1 will be released next week

[2021-09-18 18:20] davidducos commented on #402
Hi @jackwener, yes! We need help! Feel free to send pull request about any change that you consider and I will give my opinion and approval. Thanks!!!

[2021-09-19 02:45] jackwener commented on #404
@davidducos THX! Low version cause this problem!

[2021-09-19 03:12] davidducos commented on #404
@jackwener feel free to close it

[2021-09-19 03:12] #404 closed

[2021-09-22 02:48] oakad commented on #385
Sorry for the late reply. We don't copy databases too often. :-)

I've attached an excerpt from the dump:
[dump.txt](https://github.com/maxbube/mydumper/files/7207337/dump.txt)

Notice how many unescaped non-safe characters are there. Those break mysql import quite substantially.

The table is defined as following:

[code]
Let's review the entry under the key 29199:

What the mysql dumps:

[2021-09-22 03:42] oakad commented on #385
After thinking about it a bit, may be it's an ok dump. The real problem may happen on load - it seems mysql "eats" invalid utf8 codepoints.

[2021-09-22 07:54] druud commented on #385
If you need to store raw bytes, alter the column to varbinary.

In any case, dump+load should not (silently) hurt data, beyond what gets refused noisily by the destination.

[2021-09-22 09:28] oakad commented on #385
As explained in the op post, the damage is already done.

The table contains malformed strings. I can not simply drop those, so I'm trying to find a way to copy them over.

[2021-09-22 11:15] druud commented on #385
Indeed, that is why I suggested the alter to varbinary. My experience is that it conserves the data, so it can then be used more easily. You could then even rename the column, and add a virtual column with the old name, that produces the proper string for most cases (for if you don't control the application side).

[2021-09-23 03:26] oakad commented on #385
Suppose, this means that the issue can be closed, as there's nothing mydumper can do. :-)

[2021-09-23 11:51] hubiongithub opened #405 "[BUG] mydumper against PS8 8.0.25 Error dumping create database ... Invalid utf8 character string:"
**Describe the bug**
updated mydumper to 0.11.1 (Ubuntu .deb from github)
multiple runs against Percona Server 8.0.25

show databases;
+--------------------+
| Database           |
+--------------------+
| hubi               |
| information_schema |
| monitoring         |
| mysql              |
| performance_schema |
| sakila             |
| sys                |
| ttt                |
+-----------

[2021-09-23 11:57] hubiongithub commented on #405
mydumper --version
mydumper 0.10.7, built against MySQL 5.7.33-36

this Version does not have this error, but also operates on sys schema

[2021-09-23 13:31] davidducos commented on #405
Hi @hubiongithub
Error found, working on the fix.

[2021-09-23 17:42] davidducos commented on #405
@hubiongithub,

Thank you for reporting this bug, new release will be available later today

[2021-09-23 17:42] #405 closed

[2021-09-23 17:54] davidducos commented on #405
Hi @hubiongithub,
Release: https://github.com/maxbube/mydumper/releases/tag/v0.11.1-2

[2021-09-23 20:48] davidducos commented on #110
#403 imports empty databases

[2021-09-24 03:24] jackwener opened #407 "[BUG] select specific tables in some tables using `--regex`"
**Describe the bug**
select specific tables in some tables using ` --regex `.
There are redundant tables with same prefix name  in result.

**To Reproduce**
Command executed:
`mydumper -u root -p *  --regex mysql.proc -o . `

**Expected behavior**
just include `metadata  mysql.proc.metadata  mysql.proc-schema.sql`

**Backup**
[code]

**Environment (please complete the following information):**
 -

[2021-09-24 06:22] jackwener commented on #407
It is caused by my mistake.
Correctly, `--regex ^mysql.proc$`

[2021-09-24 06:22] #407 closed

[2021-09-24 07:52] nerijus opened #409 "[BUG] myloader 0.11.1 fails to restore dump with several databases"
With 0.10.7-2 it works:
[code]
mydumper.log:
[code]
With 0.11.1-1 or 0.11.1-2 it fails:
[code]

[2021-09-24 08:00] nerijus commented on #409
It seems the bug manifests itself when restoring 2nd database:
[code]

[2021-09-24 12:09] davidducos commented on #409
Hi @nerijus, is schema_migrations present in other databases?

[2021-09-24 12:24] davidducos commented on #409
Hi @nerijus, I found the bug, actually, I fixed on https://github.com/maxbube/mydumper/tree/stream but didn't realize that it was on this one. Sorry! Pull request and new release is on its way

[2021-09-24 12:32] #409 closed

[2021-09-24 17:57] davidducos opened #411 "[BUG] Memory leak when using --rows"
**Describe the bug**
When a large table is being dump with a smaller value of --rows, seems that Gigabytes of memory is needed. It doesn't happen when -F is being used

**To Reproduce**
Command executed:
mydumper --rows 100

**Expected behavior**
It is killed because OOM, it should end properly

[2021-09-27 06:48] LakshyAAAgrawal commented on #282
Hey, is there some way we could do this in mydumper automatically? Using standard mysqldump and mysqlrestore, this can be easily achieved by creating 2 files, pre.sql and post.sql containing the check disable and enable commands respectively, and then:

[code]

[2021-09-27 08:42] hubiongithub commented on #405
Hello
as 0.11.1-3 was allready released I tried that version, confirm, error is gone.

[2021-09-27 11:56] davidducos commented on #282
@LakshyAAAgrawal please follow https://github.com/maxbube/mydumper/pull/370 to accomplish what you want. Sorry that I don't have the proper documentation of how to use config file but that feature is what you are looking for.

[2021-09-27 20:29] davidducos commented on #411
I found out that the problem is with --max-rows, causing a large amount of jobs. We should leave --max-rows unset by default (current default value is 100000). We also need to set a limit in the amount of jobs as we could end up using too much memory.

[2021-09-28 19:37] davidducos commented on #335
@DevOpserzhao, please let us know if you need more help on it.

[2021-09-28 19:44] davidducos commented on #144
Can you explain a bit more about this scenario? as from what I understood, you are trying to take a backup from a multithreaded database and the position saved in metadata file might be no correct. Am i right?

[2021-09-29 10:49] liuguoshun commented on #144
Yes, mydumper use "FLUSH TABLES WITH READ LOCK"  and "SHOW SLAVE STATUS" to get the Exec_master_log_pos.
Pos of "SLAVE STATUS" maybe not correct in metadata file, when backup multithreaded replica database.

[2021-09-29 11:16] davidducos commented on #144
Ok, we are going to show a warning so users can disregard that info and start the replication from the replica where they are taking the backup instead of the source of the replication.

[2021-09-29 11:43] davidducos commented on #144
@liuguoshun please, let me know if #417 is ok, so we can merge to master.

Thank you!!

[2021-09-29 13:12] liuguoshun commented on #144
Great!   :-)

[2021-09-29 19:35] davidducos commented on #389
We need to develop a (parametrized) formula to flag as unsuitable the `small table` based on amount of rows and indexes length.

Reference: https://www.percona.com/blog/2015/01/21/importing-big-tables-large-indexes-myloader/

[2021-10-01 09:15] pbabilas opened #418 "[BUG][myloader] Fail to upload dump from v0.10.7x version"
**Describe the bug**
As in topic when trying to upload dump from old version of mydumper it ends with error:

https://share.merce.com/files/MyYg_ifzd6.png

**To Reproduce**
Command executed:
* dump db older version
* import dump with newest mydumper

**Log**
- only from screen

**Environment (please complete the following information):**
 - Dumps are taken at centos 8, import at ubuntu, osx
 - MyD

[2021-10-01 10:58] davidducos commented on #418
Hi @pbabilas, take into consideration that new major version releases are not compatible with earlier version. So, this kind of error is expected. You could sort this issue out modifying the file name.

[2021-10-01 20:24] davidducos commented on #134
As you can see in #336, I had implemented zstd compression. I'm still working on that, but it will be hopefully released in v0.11.3, but we have to decide what is the best path to complete the implementation of this feature. I'm open to hear any comments, ideas, suggestion, anything! meanwhile, this is the plan that I thought:
* Merge #336 in v0.11.3 where user can compile their own version using

[2021-10-02 19:57] #199 closed

[2021-10-02 19:58] #144 closed

[2021-10-02 20:05] #335 closed

[2021-10-02 20:59] #381 closed

[2021-10-02 21:00] #385 closed

[2021-10-02 21:01] #402 closed

[2021-10-06 09:35] klemens-u opened #421 "[ENHANCEMENT] hardlink snapshot backup aid: write file only if table was updated"
For hardlink snapshot backups it would be great if mydumper could only write "per table dump files" if the data in the corresponding table has changed. Benefit: unchanged tables would not take up extra space in hardlink snapshot backups.

This would work as follows:

- mydumper gets a list of files and file modify dates in the given output directory
- mydumper checks the update time of each table.

[2021-10-06 11:49] davidducos commented on #421
Hi @klemens-u,
I think that you can do what you are requesting without implementing anything in mydumper, this is because:
1- you know when the backup has been taken
2- you can use a similar query: `SELECT concat(TABLE_SCHEMA,concat(".",TABLE_NAME)) FROM information_schema.tables WHERE UPDATE_TIME > @bkp_date;`
3- you can use -T with the output of 2-

If what you want is incremental backup, we cou

[2021-10-07 05:59] klemens-u opened #422 "[ENHANCEMENT] option to create only a single sql file per table"
It would be nice to have an option to dump the table schema and data into a single file per table.
This is of course a matter of preference, but it would make custom scripts easier which iterate over the output directory.

Example: mydumper --combined-output   Dump all table data (schema and data) into a single sql file.

[2021-10-07 08:03] jackwener opened #423 "[BUG] `--regex` will scan other databases that isn't matched"
**Describe the bug**
There are some databases `DB1`, `DB2`(big), `DB3`(big).

When I try backup `DB1` using ` --regex '^(DB1\.)'`,  the memory will increasing soon and I found mysql may scan(or scan scheme info maybe) `DB2`, `DB3` in `log` but `DB2`, `DB3` isn't backup, there isn't files about `DB2`, `DB3`.

If I use`-B 'DB1'`, there wouldn't be problem.

If I drop `DB2`, `DB3`,  the memory will n

[2021-10-07 12:22] davidducos commented on #423
Hi @jackwener,

I have a question and an explanation for you.
First, the question: is the backup content the same on both cases? if the answer, is `yes, the backup has the same files`, then I would say that the problem that you are describing is related in how we get the data.
Now, the second, `-B` and `--regex` are 2 very different features, I know that there is a gap in what MyDumper can do and

[2021-10-07 12:46] jackwener commented on #423
Thanks for your reply @davidducos .

According to the result, I guess the implementation of `regex` is
- Get all databases
- Get all tables with `SHOW TABLE STATUS;`
- The name of databases + tables name  =>  all `db.table`
- match all `db.table` with `regex`

instead of
- Get all databases
- match databases with `regex`
- Get all tables from databases selected
- The name of databases + tables nam

[2021-10-07 12:50] jackwener commented on #423
Yes, backup content is same.

I think it is related with `how we get the data`, especially the process of matching `regex`

[2021-10-07 13:06] davidducos commented on #423
@jackwener yes, it is the first! and there is no way that we could implement that 2 stages regex validation. We have also the -T option to filter tables (which currently have issues :D) that you could use if you want to, that is going to be "faster" than other options.

Can you confirm that there is no bug here and close it? or am I missing something?

[2021-10-07 13:16] #423 closed

[2021-10-07 15:11] richardjharris opened #424 "Resume functionality"
I accidentally Ctrl+C'd a myloader process (after 3-4 days of loading!), and I can't easily resume it. The dump uses INSERT not INSERT IGNORE so if I run myloader again, it will output an error for every single SQL statement that has a duplicate key, including all of the SQL, which is very slow.

I am surprised that myloader does not keep metadata on which chunks/tables have already been loaded, s

[2021-10-07 17:46] davidducos commented on #424
@richardjharris :man_facepalming: sorry to hear that!!

So, no, it is no resume functionality, and will it be awesome to have it. For sure, nowadays will be much easier than before as we can easily keep track of the while process.
At this point in time, it is not also possible to change in myloader from INSERT to INSERT IGNORE, we might be able to do it in the future, you could change it manually,

[2021-10-09 03:44] davidducos commented on #418
Hi @dshorthouse,
v0.11.1 has a unique format, that I need to document, but basically it is <db_name>[.<table_name>[.<number>|-schema-post|-schema-create|.metadata|.checksum]|-schema-create][.sql|.sql.gz] but you need to consider that when db_name or table_name has . or other not allowed char, it will be replaced by mydumper_<id>.

[2021-10-09 07:49] Xon opened #429 "[BUG] myloader compatibility with pre-0.11.2 mydumper output"
**Describe the bug**
After #399, `mydumper` has change it's exported file structure. However when given a backup created by mydumper v0.10.7-2 the restore fails with a bad error message;
"It was not possible to process file: sbforums.xf_activity_summary_definition-schema.sql"

The backup successfully restores using 0.10.7-2.

**To Reproduce**
Command executed (using v0.10.7-2):
`mydumper -c -e --c

[2021-10-09 07:53] Xon commented on #429
Duplicate of #418

It would be useful if there was some provided way to migrate a backup to the new filename format or to flag to look at the old filename format.

This sort of change is very painful for a backup software without any migration path.

[2021-10-09 12:54] jackwener opened #431 "[BUG] load `mysql.user` error because lack of `mysql-schema-create.sql`"
**Describe the bug**
`It was not possible to process file: mysql.user-schema.sql` because of lacking of `mysql-schema-create.sql`

When I add `mysql-schema-create.sql`, restore is successful.

**To Reproduce**
`mydumper -h 127.0.0.1 --port=3306 --password=**  --user=root  -o . --regex='^(mysql\.user$)'`

There isn't file named `mysql-schema-create.sql`

**Expected behavior**
There is file named `m

[2021-10-11 08:33] pbabilas commented on #418
Answered, but not solved :( neet to support both version for a half year - it's time we store our daily backups.

[2021-10-11 08:33] #418 closed

[2021-10-11 12:01] pbabilas commented on #418
Thanks for understanding. And thanks for a good work!

[2021-10-12 02:05] speller opened #434 "[BUG] Can't connect to MySQL server using host and port."
Mydumper doens't respect `--host` and `--port` settings and always tries to connect by MySQL socket:

[code]

[2021-10-12 03:57] speller opened #435 "[BUG] Can not restore database into RDS"
I have a big local database that I want to migrate to RDS. I dumped it well. But when I restore it, I'm getting the following error:

[code]

A CLI key to strip the DEFINER=`root`@`localhost` part should be enough for successful import.

[2021-10-12 07:31] ronylei opened #436 "support CSV format"
Support CSV format export and import

[2021-10-12 12:48] davidducos commented on #434
Hi @speller, did you try with 127.0.0.1 ??

[2021-10-13 11:21] davidducos opened #437 "JSON data not being loaded"
I'm getting errors.

[code]

System does not crash, but data is not loaded

_Originally posted by @str in https://github.com/maxbube/mydumper/issues/46#issuecomment-941685984_

[2021-10-13 22:52] str opened #438 "SET GLOBAL sql_mode='';"
From my understanding the idea is to use mydumper/myloader. To create a dump of a DB, and then import it as is, FAST.  The idea of running any validations could slow the data import.  BUT if the original data is broken, myloader should not care.

Because of the different mysql versions my DB has used, and different sql_modes used,  there are some inconsistencies, that should not be validaded, IMHO

[2021-10-14 14:56] str opened #439 "ppa repo"
I see the latest version installed via the official Ubuntu repository is 0.10.0.  Is there a way to add a ppa repo so we can stay up to date?

Thank you for your great work!

[2021-10-14 15:05] str commented on #438
@davidducos , let me see if I understand it right.  I have to create a config file, something like this?

[code]

and load it via `myloader --config $pathToFile...`

Did I understood it right?

What if it loads a default file by default, if exists, something like ~/.myloader.cnf? That way we will set it once and not need to define it or forget about it every time we run the loader

What if it uses

[2021-10-14 15:13] davidducos commented on #438
Hi @str,
No, it follows the default mysql configuration structure:
[code]
The `--config $pathToFile` is correct

We could implement something like that, or use mysql defaults files, and you will need to configure MyDumper as any other of the MySQL tools. We could discuss that in another issue as it will be a new feature request. Let's do that!

[2021-10-14 15:17] str commented on #438
I'm creating a new issue then. Thank you.

[2021-10-14 15:17] #438 closed

[2021-10-14 15:23] str opened #440 "Default config file"
Being able to define a custom config file via the  --config flag is great, but having to remember setting it every time is something I will sooner or later forget.  Could mydumper/myloader use a default config file if exists?

What if it uses the same ~/.my.cnf as the default mysql cli, and just reads the config defined in the [mydumper] / [myloader] block?

We could set both, mysql variables, lik

[2021-10-19 17:50] davidducos commented on #440
@str I accept any proposal... but I think that will be nice to read from /etc/mydumper.cnf by default and then use --config for any other case.

[2021-10-19 22:24] str opened #443 "What's the difference between --database and --source-db?"
1. If --database is where the data will be loaded,  --source-db sounds like where the database comes from.  It sounds like you can skip mydumper and clone a database in a single step with

[code]
2. Mixing lower/upper cases is weird too.  Why -B instead of -b?

3. And why would you need to define a flag if the param is not optional?   Why can't we just do:

[code]

4. Can you imagine using params

[2021-10-20 06:38] klemens-u commented on #422
How about leaving the dump process with multiple files as is, and add an option which combines the files into a single per-table file afterwards.

[2021-10-20 09:32] davidducos commented on #422
You will need more disk space and if it compressed files, you will be using more cpu and at the end it will take more time. myloader will need modifications anyway if you want to keep concurrency and performance.
If you don't need concurrency per table, just run mydumper without chunks and you will get a single file.

[2021-10-20 14:48] str commented on #443
Hi @davidducos

1. I still don't follow the need for defining `--source-db`.  If I `mydumper --database foo` and then `myloader --database bar`, I was able to import to a different name without knowing the original name.   Maybe there is something I'm not seeing.  Can you help me better understand where do you need the `--source-db` param?
2. -B comes from mysqdump, now it makes sense to me. It's

[2021-10-20 17:19] markusalbe opened #445 "[BUG] myloader fails due to error in regular expression"
We run:
```myloader -h example.com -P 3306 --user=user@example-mysql -s ognp --database=ognp --overwrite-tables --directory=/databasemig/example --queries-per-transaction=50000 --threads=31 --compress-protocol --verbose=3 --password=''```

We get
```** (myloader:49972): CRITICAL **: 16:20:50.751: It was not possible to process file: ognp.mytable-schema.sql ```

Analisis done with David points to t

[2021-10-23 02:29] hasan505 opened #448 "Need help in restoring the 700GB database using MyLoader"
Hi,
         I am using MyLoader to restore the 700GB database. I tried the import three time now. First I have got only one error, was able to import it without any errors second time. But however when I am running the MyLoader for third time from a similar capacity machine I am seeing multiple errors. My data dump is in Azure VM which is a 16vCore machine and I am exporting the dump into Azure m

[2021-10-25 08:58] ihsinme opened #451 "Incorrect Privilege Assignment"
https://github.com/maxbube/mydumper/blob/e4efa3bd72a17578f3d43bebefc2ab61aedc5567/mydumper.c#L1281

Good afternoon.
I noticed that your code uses umask (0) with calls to open files without setting permissions.
then your program will work with files with wide enough permissions and can, which can lead to security problems.
I suggest to restrict access rights.

[2021-10-25 19:18] davidducos opened #452 "Views should use IF NOT EXISTS for the CREATE TABLE statement"
When mydumper is executed, it creates a `-schema` file with the view structure. When the purge-mode is TRUNCATE or DELETE, and the view is already there, it will fail and an ERROR will be logged. This can be avoided fi the CREATE TABLE has a IF NOT EXIST.
In other scenario, like using DROP, it will no change the behaviour.

[2021-10-26 12:36] davidducos opened #454 "-B could accept multiple databases names"
Currently, -B only accepts one database name. Will be nice to be able to send multiple databases names as we can do in mysqldump.

[2021-10-26 13:09] davidducos opened #455 "[ Refactoring ] leave process_queue or process_queue_less_locking"
In mydumper, we have 2 functions doing almost the same thing: process_queue and process_queue_less_locking. We need to remove one of them.

[2021-10-26 15:22] davidducos opened #456 "Simulate mysqldump usage when database and tables is used with stream"
The idea is to simulate a common usage in mysqldump:
mysqldump <db> <tables> which is returned in the stdout

Now that --stream has been implemented, in the cases where we have this:
mydumper <db> <tables> we could automatically enable the --stream.

[2021-10-28 18:52] davidducos opened #460 "[ STREAM ] nc -N or fclose(stdout)"
Testing stream feature, I found that nc -N might be the same than closing stdout.

Should be use close? if we redirect, it is the same.

[2021-10-29 20:26] davidducos commented on #119
We could add option --nregex, don't think that will be hard to implement and it won't cause any harm.

[2021-10-30 07:22] zengpeng5281314 opened #462 "[BUG] myloader:18733 can not myloader to the database."
**Describe the bug**
The version of mysql I use is 5.6.44. The data is about 500G.when i exec myloader.Sometimes the inserter reports an error without a specific reason for the error. When I take out the insert statement and execute it, it can be executed successfully。

how can I myloader success？？？please tell me！！thanks

**To Reproduce**
Command executed:
* mydumper -u root -p ****** -P 3306 -h *

[2021-10-30 10:56] ihsinme commented on #451
@davidducos
I apologize for the delay in answering.
I didn't notice your question.(
since we are talking about limiting files, this mask is correct.

[2021-10-30 13:34] davidducos commented on #451
Perfect, I will be pushing this change on v0.11.5.

[2021-10-30 13:38] davidducos commented on #462
Hi @zengpeng5281314, without the error number it is very difficult to guess. Can you use -v 3 and -L log to get more info?

[2021-11-01 15:28] str opened #464 "[ Enhancement ] Remove directory when stream is used and -o is not specified"
**Describe the bug**
Stream creates export folder and leaves it there after streaming.

**To Reproduce**
Command executed:
mydumper -B my_database --stream > /tmp/my_database.mydump

**Expected behavior**
Should not see any files after I list the files in current folder.
I should also be able to run the command in a folder I don't have permissions, because I was not expecting to write in current f

[2021-11-01 15:32] davidducos commented on #464
Hi @str I was not able to reproduce the issue that you have. What OS are you using?

[2021-11-01 15:46] str commented on #464
![image](https://user-images.githubusercontent.com/123817/139699805-286f5c77-0f31-4ac1-be62-cd01eb340713.png)

Distributor ID:	Ubuntu
Description:	Ubuntu 21.10
Release:	21.10
Codename:	impish

[2021-11-01 17:08] davidducos commented on #119
Hi @64kramsystem,

I already developed this enhancement, could be possible for you to test it? as I would like to test a real case scenario.

[2021-11-01 17:11] davidducos commented on #464
AAAHHH!!! yes the directory is not being removed!!! I never had the intention to remove it, but for sure it will be a good idea to remove it when it is not specified. This is not a bug, it will be enhancement. Thank you @str to point it out. I will be changing for v0.11.5.

[2021-11-01 17:25] davidducos commented on #464
I'm thinking we could create the directory when -o is not specified on myloader... :D working on it...

[2021-11-01 18:51] davidducos commented on #464
This:
[code]
Could be implemented when we do: https://github.com/maxbube/mydumper/issues/456

I understood... but mydumper needs a directory always, so if it is not set, you should know that we are going to create it. That has been decide long time ago.
So, to implement this:
[code]
We need to do a huge announcement, it will be for v0.12.1, which will give us some time to stream to mature.

neithe

[2021-11-01 20:16] str commented on #464
What about, if -o is not defined, to write to a temp folder, instead of current folder, before sending to stream?

[2021-11-01 20:24] davidducos commented on #464
@str ,
that is why we have --stream...
currently we use --stream to tell mydumper that we are going to be streaming. If we start to use -o to determine if we are going to stream or not, then --stream will be point less and it will be deprecated.
If you want to define a temp folder, where do we get that path? another variable? default place? we end up in the same scenario which we are trying to avo

[2021-11-01 21:57] str commented on #464
If the scenario we are trying to avoid is not being able to write to a folder:  most apps do use a [temp folder](https://stackoverflow.com/questions/8087805/how-to-get-system-or-user-temp-folder-in-unix-and-windows), defined by the OS, to write stuff to disk where they know they have perms to write.

`-- stream` is a new flag, that can be removed before more people get used to it. Again, IMHO ther

[2021-11-02 08:09] 64kramsystem commented on #119
Hello! First, thanks :smiley:

Sure, I'll do this week. We actually have in plan to use MyDumper at my company, and this would be a very nice addition.

[2021-11-02 09:51] 64kramsystem commented on #119
Hi there!

I've just tested it, from the branch `regex`. It works as intended. Specifically, I've used the option:

[code]

Thanks, this is a very useful addition :smile:

[2021-11-02 10:03] 64kramsystem opened #467 "Error `Couldn't acquire global lock` when dumping"
**Describe the bug**

When dumping a database residing on an RDS read replica, I get the following error:

[code]

**To Reproduce**

Command executed:

[code]

**Expected behavior**

It's not clear what the problem is, in particular, due to the `Access denied` warning, which is not correct (at least from a user perspective), since without correct credentials, the dump would not proceed at all.

**

[2021-11-02 10:22] 64kramsystem opened #468 "With `--source-db`, the source database is still created"
**Describe the bug**

Mydumper provides the option `--source-db`, which allows restoring the data to a database different than the original one.

However, it has a very confusing behavior - the source db is still created, albeit empty. There is no reason to create it, since in this case, the user explicitly intends to restore to a different db.

**To Reproduce**

Commands executed:

[code]

**Expe

[2021-11-02 11:15] davidducos commented on #467
Hi @64kramsystem ,

I think that https://answers.launchpad.net/mydumper/+question/236273 will explains why your are not able to get the lock and provide a work around.

[2021-11-02 11:19] 64kramsystem commented on #467
Thanks. I'll try it, then close the issue :smiley:

[2021-11-02 11:23] 64kramsystem opened #469 "Error `Thread 3 issue restoring [...]: Table 'tablename' already exists` while restoring tables"
**Describe the bug**

While restoring tables, an error `Table 'table1' already exists` is reported.

**To Reproduce**

This seems to happen when restoring multiple tables. In my case, I've tried with 1 table and 3 tables; got no error with 1 table, and the error each time with 3 tables. Since this is likely a non-deterministic problem (due to threading), it may be hard to reproduce or pinpoint the

[2021-11-02 11:25] 3eka opened #470 "Save mydumper version somewhere"
Hi,
I have tested several version of this tool, and could not  find case where mydumper writes (metadata?) version number used to dump (version 0.10.7 used here):
[code]
No version number is present in any file under /tmp/mydumper-test directory

It would be useful to have that info (for example to the log file, or metadata file), since it seems that there is no compatibility between some earlier

[2021-11-02 11:57] 64kramsystem commented on #467
That did it. Thanks! :star_struck:

[2021-11-02 11:57] #467 closed

[2021-11-02 12:14] zengpeng5281314 commented on #462
Hello, davidducos! I added -v 3 and -L, the output just tells error, there is no specific reason. I took out the sql that reported the error. Execution can be [successful。]

the tip **2021-11-02 19:54:09 [ERROR] - Error restoring: INSERT INTO `mail_draft_auto_save_content` VALUES**

[2021-11-02 12:31] plro opened #471 "Can't restore with myloader 0.11.x"
**Describe the bug**

Since version 0.11, I have error when restoring my dump.
But it's OK, if I dump with the last version, and I restore with 0.10.5

**To Reproduce**

---> /data/bin/mydumper --database=testfron   --outputdir=/data/sauve-db/20211102.0917/testfron--compress --compress-protocol --events --routines --build-empty-files --verbose 2 --rows=1000000 --less-locking --kill-long-queries --

[2021-11-02 14:13] davidducos commented on #471
Hi @plro , I need to check the code, but I think that latest version doesn't allow you to save files in the backup dir that doesn't suppose to be there. I keep you posted

[2021-11-02 14:38] plro commented on #471
Hi,

Tanks for your help...

Bonne continuation,
PS : Absent les vendredi

Pascal RESZETKO
Mél : ***@***.***
Tél : 03 72 74 11 45
Bureau INFRA-8 - Lionnois
Direction du numérique : Infrastructure
[ http://www.univ-lorraine.fr/ | Université de Lorraine  ]

----- Le 2 Nov 21, à 15:13, David Ducos ***@***.***> a écrit :

Hi [ https://github.com/plro | @plro ] , I need to check the code, but I think t

[2021-11-03 09:44] plro commented on #471
I found "_my_" mistake.
This is because I redirected the standard / error output of the backup command to a log file (<_database_.log>) which I kept in the backup directory.

I'm assuming since version 0.11.x this file is parsed and a specific format is expected.
Thank you for taking my request into account and for making this very powerful tool available.

[2021-11-03 09:44] #471 closed

[2021-11-03 12:14] davidducos commented on #462
@zengpeng5281314 can you test with latest version?

[2021-11-03 12:19] davidducos commented on #470
Hi @3eka,
The backup version should not be needed as it should be compatible, BUT as we saw on latest releases, we were not able to accomplish it. So, it will be a really good idea to keep track of it. The only issue is that we modify the information in the metadata file, it might break scripts that users had written based on that file. Do you think that will be enough in the log file? that will b

[2021-11-03 12:27] davidducos commented on #469
Hi @64kramsystem,
does `$dest_db`.`table1` exist after failure?

[2021-11-03 12:46] 3eka commented on #470
Hi @davidducos ,

yes, log file (or stdout output) would help too, although not perfect (one has to remember to check it for version).
Thanks for considering this.
Regards.

[2021-11-03 12:53] 3eka commented on #297
Same as https://github.com/maxbube/mydumper/issues/131

[2021-11-03 12:57] 3eka commented on #131
Seems patch of *getPassword.c* got lost from https://github.com/maxbube/mydumper/archive/refs/tags/v0.11.3.zip
Can you check, please?

[2021-11-03 13:05] davidducos commented on #131
@3eka they were never merged on 0.10.0, so your comment from May was not correct. I will add a new commit that I will request you to review

[2021-11-03 13:16] 3eka commented on #131
Huh,
then accept my apologies @davidducos  - was sure that i did checked it.
Anyway, thanks for looking to this one.

Regards.

[2021-11-03 14:27] davidducos commented on #364
We could load the configuration from the sections of the default file `.my.cnf` but only the sections that has a . (dot) as the format will be `[<schema_name>.<table_name>]`. Complete match will be mandatory to identify the table. Then, each key will be the column name and the value the function name.

[2021-11-03 14:28] davidducos commented on #364
We need to merge/complete https://github.com/maxbube/mydumper/issues/440 before continue with this

[2021-11-04 04:12] zengpeng5281314 commented on #462
hello，davidducos！i used dumper version 0.11.1-3。My server is 8C16G. I tried with 5 threads and no errors were reported. Probably because the original command used was 10 threads。But i don't understand why？

[2021-11-04 04:22] zengpeng5281314 commented on #462
@davidducos i used dumper version 0.11.1-3。My server is 8C16G. I tried with 5 threads and no errors were reported. Probably because the original command used was 10 threads。But i don't understand why？

[2021-11-04 09:48] davidducos commented on #462
Hi @zengpeng5281314, oh good that you found a way to make it work, but it doesn't make sense to me. We need to get the error number. I'm working on a couple of tickets to have better logging but it will be available on the next release. I will let you know and we can test it again when it is available. What do you think?

[2021-11-04 09:59] zengpeng5281314 commented on #462
Hi @davidducos , this version really does not have any error information. So I have no way to locate the problem. Wait for your next release . I will try again. See what causes it ?

[2021-11-08 14:45] 64kramsystem commented on #469
Hello!

I've reviewed today the issue. It seems to be harmless (although I can't confirm - considerations below), although it's very confusing, as `CRITICAL` errors definitely catch the attention. It also causes an exit with error, which is troublesome in scripts.

The table does exist after failure, and it contains records. In order to get a better idea, I've truncated the table, but not dropped

[2021-11-08 14:56] 64kramsystem commented on #469
I'm examining the myloader source (`myloader.c`).

In `process_restore_job`, table overwriting errors are swallowed in some cases, causing failures to fall through.

See the overwrite invocation [here](https://github.com/maxbube/mydumper/blob/ce722d72c0f025b6fa220cadcf882d429e8e6f79/myloader.c#L1088):

- if there is an error,
- and `purge_mode` is not `TRUNCATE`/`DELETE`, for example is `DROP`, th

[2021-11-08 15:14] 64kramsystem commented on #469
I may have found some pointer.

If I force error printing after table dropping, applying this diff to the current master:

[code]

The output shows (filtered for the problematic table):

[code]

I wonder if, for some reason, a `DROP VIEW` is issued instead of a `DROP TABLE`, which explains the error, although it's not clear to me, if this is the case, why it'd happen only for one table.

[2021-11-08 15:16] 64kramsystem commented on #469
Thanks. I will debug also using the branch mentioned :slightly_smiling_face:.

[2021-11-08 15:26] 64kramsystem commented on #469
Latest finding, based on an updated diff (which actually explains the `is not VIEW` error):

[code]

The log is now:

[code]

My educated guess is that it's the following race condition:

- the records insertion threads starts
- the drop/create thread starts after
- the drop table fails, due to an insert being performed
- the drop table error is swallowed
- the create table fails, because the tabl

[2021-11-08 15:30] davidducos commented on #469
Can you test with just 1 thread? -t 1. Can you confirm that you are only running myloader when you have this error?

[2021-11-08 15:35] 64kramsystem commented on #469
The error doesn't happen with 1 or 2 threads. Tested around 7/8 times in total.

[2021-11-08 15:54] davidducos commented on #469
@64kramsystem why don't to test with G_MESSAGES_DEBUG=all as might be possible that the code that you are running has some DEBUG messages that might be useful.

[2021-11-08 18:30] davidducos commented on #436
After #307 is merged, you will be able to use:
[code]
to get CSV format.

[2021-11-10 07:39] vadzimkaredzinkokoba opened #480 "[BUG] Output dir from var"
**Describe the bug**
When I'm using key [-o, --outputdir] it creates dir automatically, if it doesn't exist
But when I want to create a dump directory manually, write it to a variable to use, the dumper will create a default directory "export - ***". it ignores var in key -o

**To Reproduce**
[code]
**Expected behavior**
directory will not be created automatically when the o key is used
maybe this

[2021-11-10 12:19] davidducos commented on #480
Hi @vadzimkaredzinkokoba, I think that you are setting DUMPDIR incorrectly:
[code]
You should do it like this:
[code]
BTW, I was not able to reproduce your issue.

[2021-11-10 12:24] davidducos commented on #429
Hi @Xon,
In future releases we are going to take this into account. However, take into account that until we don't release v1.0.1, changes to the format and major changes on the engine will be made.
Another thing to consider is that backups should be restored with the same version that has been taken.

[2021-11-10 12:26] davidducos commented on #448
@hasan505
Let me know if you still have this issue. Closing it for now.

[2021-11-10 12:26] #448 closed

[2021-11-11 13:21] davidducos opened #484 "Splitting main files"
Currently we have a thread that it is started to take a backup inside mydumper. I think that the main reason of having it is because the daemon functionality, which is ok, I'm not complaining about it. However, I would like to move the whole backup thread to another file. The main idea is to split the file as currently is large and I think that will be easier to maintain. I think that it will be u

[2021-11-11 18:10] davidducos opened #485 "Jobs remaining"
Currently we don't know how many remaining jobs are in the queue of mydumper. Will be nice to be reported as we have in myloader.

[2021-11-12 22:57] 64kramsystem commented on #469
So, I dug a bit. I also used, as referred, #476, however, it doesn't help. Also using G_MESSAGES_DEBUG didn't show anything that I could use.

Now, this is an issue inside an issue :)

The error observed, `Table 'table1' already exists` is not the real error. The real error is `mytable: Deadlock found when trying to get lock; try restarting transaction`. This happens when trying to drop the table;

[2021-11-13 12:05] davidducos commented on #469
Hi @64kramsystem, can you share the table structure? Do you foreign keys in other tables that point to this table?

[2021-11-14 03:25] ronylei opened #487 "[ Enhancement ] Chunk by char and varchar"
At present, the single table int type can be parallelized, and you can consider exporting the single table of char and varchar types in parallel

[2021-11-14 03:53] davidducos commented on #487
Hi @ronylei , yes indeed! Any pull request will be welcome!!

[2021-11-14 20:01] 64kramsystem commented on #469
Hello! I'll prepare, over this week, an anonymized, minimal test case, and post it.

[2021-11-14 21:17] 64kramsystem commented on #469
Hi there! I've diagnose the issue more precisely, and prepared the simplest dataset I could.

The issue is caused by a combination of two factors:

- a FK on one of the (two) tables
- the option `  --innodb-optimize-keys` enabled

In order to reproduce, unzip the dataset to a directory, and execute:

[code]

The message:

[code]

will be printed until the script is stopped. Sometimes the error mes

[2021-11-15 12:56] davidducos commented on #469
Hi @64kramsystem,
Thanks for sharing a test case and all the work that you have done so far! I will be reviewing it today and share with you what I have found!

[2021-11-15 13:10] davidducos commented on #469
Hi @64kramsystem, in what database version are you trying to restore?

[2021-11-15 13:12] 64kramsystem commented on #469
`mysql-8.0.25-linux-glibc2.17-x86_64-minimal`

[2021-11-15 13:33] davidducos commented on #469
Oh! good that I asked, as this issue is not happening in 5.7.

[2021-11-15 14:00] davidducos commented on #469
Ok, this is an issue that can be reproduced only in MySQL/Percona Server 8, this is not happening in 5.7.
The test case is:
Session 1:
[code]
Session 2:
[code]
Statements with *1 and *2 are executed at the exact same time.
All the command in Session 2 will complete correctly.
In 5.7 you will get in Session 1:
[code]
on *1 and will succeed on *2.
In 8 you will get on Session 1:
[code]
on all the ca

[2021-11-15 14:19] davidducos commented on #469
@64kramsystem,
I reported this [bug to MySQL](https://bugs.mysql.com/bug.php?id=105578), let's see what they answer. If they decide not to fix this issue, then we need to add option that drop the table in a single thread fashion. This issue was introduced when we started to create the tables in parallel https://github.com/maxbube/mydumper/issues/169

[2021-11-15 14:37] 64kramsystem commented on #469
Wow. I didn't think at all it was a MySQL issue. :sweat_smile: Thanks for following up :smile:

[2021-11-15 19:06] davidducos commented on #119
@64kramsystem,
In the PR there is a comment form Max, that says that this can be done with --regex and there is no need to use a negative.

I review a bit more about it, and I found [this link](https://stackoverflow.com/questions/5313896/help-with-regex-include-and-exclude) which explains how to include and exclude using a single regex.

[2021-11-16 14:28] davidducos commented on #424
For this feature, what I was thinking, is when myloader catches ctrl+c:
1- leave the threads to finish the current job but stop taking new ones
2- creates a `resume` file with all the files that has been executed so far

Then if you executes the myloader again and finds this `resume` file in the backup dir, it will filter out all the entries there. Mmmmm it might be another way of filtering out fi

[2021-11-16 14:38] #470 closed

[2021-11-16 14:38] #451 closed

[2021-11-16 14:38] #452 closed

[2021-11-16 14:44] #393 closed

[2021-11-18 17:06] davidducos commented on #469
@64kramsystem , [looks like they don't want to fix it](https://bugs.mysql.com/bug.php?id=105578), actually, they didn't acknowledge the problem. Now that we know what is causing the issue and a test case, the solution is to create the tables with a single thread, but I would like to add an option to force using just one thread.
I will need to think the best way to implement it. I will keep you pos

[2021-11-19 18:56] #464 closed

[2021-11-22 10:40] davidducos opened #490 "Inform the transmission rate when stream is being used"
I have just realize that would be nice to know the transmission rate when a file is copied.

[2021-11-22 13:34] davidducos commented on #469
@64kramsystem
I think that this is related to https://dev.mysql.com/doc/refman/8.0/en/create-table-foreign-keys.html#foreign-key-locking which changed the behaviour from 5.7 to 8.0.

[2021-11-22 13:35] 64kramsystem commented on #469
He! I was just now reading the manuals as well - the below were my observations.

Ok, well, the MySQL bug tracker issue is dead and buried now. Deadlocks are overrated, anyway :joy:

At least they gave a hint, which allows understanding the nature of problem. I think that this is the key:

This specific paragraph, from the [8.0 MDL page](it's located at https://dev.mysql.com/doc/refman/8.0/en/meta

[2021-11-22 13:56] 64kramsystem commented on #469
It does make sense, ultimately.

If DDLs/LOCK tables acquire locks over related tables, with one thread starting from the parent, and another thread starting from the child, then this is a typical deadlock.

It is consistent with the hypothesis the operations putting MDLs don't honor the `FOREIGN_KEY_CHECKS` variable. It's obscure whether this is intentional or not, although based on this:

one ma

[2021-11-22 17:14] davidducos commented on #469
I was thinking on (other) options to implement this workaround:
1. Perform the DROP and CREATE single threaded with an option like: --single-threaded-table-creation
2. As the problem is only at DROP stage, divide the DROP and CREATE in separate stages, then myloader executes the DROP single threaded and the CREATE can be multithreaded.
3. When deadlock is detected, we can just retry, we can add an

[2021-11-22 18:21] #468 closed

[2021-11-22 18:25] #131 closed

[2021-11-22 18:25] #455 closed

[2021-11-22 18:29] #138 closed

[2021-11-23 15:11] #480 closed

[2021-11-23 15:13] #429 closed

[2021-11-23 18:07] davidducos opened #492 "Hard limit in the amount of rows"
with --where it is possible to use " 1=1 limit 1000" but with mydumper you could execute multiple SELECTs. It might be useful to have a global limit per table, as we are already counting the rows.

[2021-11-23 22:05] 64kramsystem commented on #469
I'm personally not a big fan of basing workflows on error states :grin: However, I also recognize that of all the options, this is the only ones that maintains concurrency as it is now, so I'm not against it (it really depends on how much one considers the tradeoff valid).

Of the options, my favourite is 2 (although I suppose is technically more complex than 1).

If speed is a concern (as the DRO

[2021-11-25 18:05] davidducos opened #493 "Add error message on split_and_restore_data_in_gstring_from_file and report line"
I found that it was missing #476 in split_and_restore_data_in_gstring_from_file

[2021-11-28 18:17] #265 closed

[2021-11-28 18:17] #436 closed

[2021-11-28 18:24] #85 closed

[2021-11-28 18:24] #344 closed

[2021-11-28 18:24] #462 closed

[2021-11-28 18:24] #440 closed

[2021-11-28 18:25] #119 closed

[2021-11-28 18:25] #345 closed

[2021-11-28 18:27] #485 closed

[2021-11-29 03:02] yifei1024 opened #494 "[BUG] Report ERROR[ It was not possible to process file: (null) ] when has only data file"
step1:

/usr/bin/mydumper -h 127.0.0.1 -P 3306 -u root -p pwd-t 10 -F 256 --skip-tz-utc --no-schemas -B d1 -x "^(d1.t1)$" -o /home/t1/

step2:

 /usr/bin/myloader -h 127.0.0.1 -P 3306 -u root -p pwd  -d  /home/t1/

then report It was not possible to process file: (null)

it means loss -schema-create.sql file

but why mydumper wont create it?

how can it resolve it？

[2021-11-29 03:43] huangyan203316 opened #495 "[BUG] mydumper dump failed when use `-- rows`"
**Describe the bug**
mydumper 0.11.3
I have a table with 2200 rows and the primary key is between `9131434967041` to `15655772094465`
it works fine in 0.10.8

**To Reproduce**
Command executed:
mydumper --host 127.0.0.1 --port 3306 --user root --password xxxxxxx   -B production_contest_exam --rows 2000 --verbose 3

**Logs**
[code]

[2021-11-29 03:52] davidducos commented on #494
Hi @yifei1024, there is a bug report template, can you paste all the info requested there in  here?

[2021-11-29 03:55] davidducos commented on #495
Hi @huangyan203316, there is a know error which is going to be fixed in the next release. The problem is the amount of jobs that are being created. You must to increase the value in --rows to force the heuristic to use a larger chunk which reduces the amount of jobs created.

[2021-11-29 04:00] yifei1024 opened #496 "[BUG] Report ERROR[ It was not possible to process file: (null) ] when has only data file"
**Describe the bug**
step1:

/usr/bin/mydumper -h 127.0.0.1 -P 3306 -u root -p pwd-t 10 -F 256 --skip-tz-utc --no-schemas -B d1 -x "^(d1.t1)$" -o /home/t1/

step2:

/usr/bin/myloader -h 127.0.0.1 -P 3306 -u root -p pwd -d /home/t1/

then report It was not possible to process file: (null)

it means loss -schema-create.sql file

but why mydumper wont create it?

how can i resolve it？

**To Reproduce

[2021-11-29 04:00] yifei1024 commented on #494
ok, i have create new

[2021-11-29 04:00] #494 closed

[2021-11-29 04:23] davidducos commented on #496
@yifei1024 You are using --no-schema, why do you expect to find the schema files if you are telling mydumper to not create them?

[2021-11-29 04:56] yifei1024 commented on #496
ths situation is backup and then recovery, i dump data from one server , and then loader to another server

so i dont need schema.

And if has schema when i dump, then execute myloader it will report Table already exists then failed.

[2021-11-29 04:56] yifei1024 commented on #496
ths situation is backup and then recovery, i dump data from one server , and then loader to another server

so i dont need schema.

And if has schema when i dump, then execute myloader it will report Table already exists then failed.

[2021-11-29 18:41] davidducos commented on #496
Hi @yifei1024

Looks like you hit with: https://github.com/maxbube/mydumper/pull/489. I might need to release v0.11.3-2 with the proper fix.

[2021-11-29 21:12] #323 closed

[2021-11-29 22:33] davidducos commented on #496
Please, check with: https://github.com/mydumper/mydumper/releases/tag/v.0.11.3-2

[2021-11-29 22:33] #496 closed

[2021-11-30 02:57] chaigang0 commented on #40
I also encountered this problem. Unfortunately, mydumper did not have a log indicating that the disk was full or the storage was not enough. It was not until I saw this issue that I realized that the disk may be full.
Hope mydumper can output rich logs to the console.

[2021-11-30 11:18] davidducos opened #499 "[ Enhancement ] Better logging on full disk"
We need to improve the logs. We are missing or not showing full disk errors.

[2021-11-30 11:19] davidducos commented on #40
@chaigang0, I had created https://github.com/mydumper/mydumper/issues/499 for the logs on full disk issues.

[2021-11-30 11:33] davidducos commented on #443
Closing it as all the doubts has been iron out.

[2021-11-30 11:33] #443 closed

[2021-11-30 20:50] #456 closed

[2021-12-01 23:51] str opened #504 "[BUG] myloader 0.11.3-2 ignores the -B $database param"
When loading a dump into a different datasaename, no data is imported.

db exported as:  `mydumper --database $ORIGINALDBNAME --outputdir $DBNAME-$DATE`

db imported as:  `myloader -B $NEWDBNAME -d $DBNAME-$DATE

Got the following errors:
[code]

[2021-12-02 11:20] davidducos commented on #504
Hi @str , there is a known issue when -B is used. Does the database $NEWDBNAME exist before executing myloader? if not, what happen if you re execute myloader?

[2021-12-02 21:04] davidducos commented on #308
@todd-richmond
I added the find_package OpenSSL and as we discussed, it is disabling when it is not found. However, when the SSL package is not installed, I encountered another issue:
[code]
I was able to workaround it in 2 ways:
1- with -DMYSQL_LIBRARIES_ssl="/dev/null" -DMYSQL_LIBRARIES_crypto="/dev/null"
2- if I edit the CMakeCache.txt and remove the reference to those variables and remove the

[2021-12-03 02:13] pcleon opened #506 "[BUG] myloader v0.11.3-2 can't load all databases"
i use v0.11.3-2 Latest version to dump all database and restore with  myloader，but  i hit a problem.
the console output show below：

[2021-12-03 04:13] davidducos commented on #506
Hi @pcleon, I checked the code an, yes, there is a bug. I will fix and release tomorrow. Thank you for report it!!

[2021-12-03 09:32] carlosmuller commented on #504
Hi,  I had this exact same issue our solution was to create the database with new name before hand. If the new database not exists the whole process will fail with this message  `Thread X issue restoring $DBNAME-$DATE/$DBNAME-$DATE.file.sql: No database selected` for all files create and import data.

[2021-12-03 14:50] xiaobing0508 opened #509 "When I use myloader,Log display Invalid JSON text: "Invalid escape character in string." at position 130 in value for column"
- MyDumper version: 0.9.5
 - what is postion?
 - How should I find that sql?

[2021-12-03 14:56] davidducos commented on #509
Hi @xiaobing0508,

You are using a very old version of MyDumper. Can you upgrade to a newer? There a lot of bugs that has been fixed.

[2021-12-03 15:01] xiaobing0508 commented on #509
@davidducos This is a bug?

[2021-12-03 15:06] davidducos commented on #509
yes...

[2021-12-03 21:34] todd-richmond commented on #308
here is a is a simpler diff for OpenSSL. You might want QUIET for other optional find_package() call too.

[code]
as for MYSQL warnings, I think you can set these in the OpenSSL check
[code]
This is the values that you are ending up linking to
[code]

[2021-12-04 21:23] taxilian opened #511 "README does not actually explain what the project is"
As someone who got here curious what the project is, it took me a frustratingly long time just to even find the answer to the question. You have a section called "What is mydumper? Why?" -- but while it may answer "why" it does not answer "what". I *think* I figured it out from context, but there is no simple summary of "mydumper is a tool which ....." anywhere in that section.

Just a suggestion

[2021-12-05 02:24] davidducos commented on #511
Hi @taxilian, yes! You are totally right, I added an explanation in the [wiki](https://github.com/mydumper/mydumper/wiki) but not in the readme! My fault! I will be adding during the week, thank you for point it out.

[2021-12-05 03:05] zhongliangkang opened #512 "[BUG] mydumper dump data inconsistent when MySQL transaction_isolation is READ-COMMITTED and --rows used"
**Describe the bug**
Dump data inconsistent when MySQL transaction_isolation is READ-COMMITTED and --rows used.
When --rows used, mydumper  use the main thread to compute the MIN/MAX range of table, but the main thread donot 'SET SESSION TRANSACTION ISOLATION LEVEL REPEATABLE READ', so the main thread get transaction isolation from MySQL server. If  MySQL use RC isolation, this will cause the dump

[2021-12-05 12:51] technomagos opened #513 "[ENHANCEMENT] allow myloader to also read from .bz2 files, via a pipe filter"
*Describe the enhancement*

We use myloader to backup large maria databases. At the end of non-compressed backup, we run parallel bzip2 compression (via lbbzip2 which uses multiple threads, in similar spirit as mydumper), which guevs higher compression than gzip/zstd, which is supproted. The backup files are so stored in .bz2 format which are placed in offline  storage. The (smaller) schema file p

[2021-12-05 13:27] davidducos commented on #513
Hi @technomagos, doesn't stream helps you to accomplish the task?

[2021-12-07 10:59] hubiongithub opened #514 "[BUG] mydumper/myloader from v0.11.3-3.zip shows wrong versionnumber"
** Bug description **
Downloaded v0.11.3-3.zip
Compiled on focal against Percona Server 8 Libs (installed libperconaserverclient21-dev instead of ...20-dev)

mydumper-0.11.3-3# ./mydumper -V
mydumper 0.11**.2**, built against MySQL 8.0.26-16
(same for myloader)

installed from provided .deb shows correct version:

/usr/bin/mydumper -V
mydumper 0.11.3, built against MySQL 5.7.33-36

**Expected beha

[2021-12-07 11:24] hubiongithub opened #515 "[BUG] myloader core dumps (from v0.11.3-3.zip)"
**Describe the bug**
myloader -d . -s sakila -B sakila2 -o -e -v3 -L ttt.log
*** stack smashing detected ***: terminated
Aborted (core dumped)

**To Reproduce**
downloaded  v0.11.3-3.zip, installed requirements for focal, but compiled against libperconaserverclient**21**-dev
instead of libperconaserverclient20-dev ( which would be 5.7.35-38-1.focal not 8.0 which I wanted to use)
Command executed:

[2021-12-07 11:30] hubiongithub commented on #515
strace -d ./2021-12-07_1200 -s sakila -B sakila2 -o -e -v3 -L ttt.log

ended up here:

access("./2021-12-07_1200//sakila-schema-create.sql", F_OK) = 0
openat(AT_FDCWD, "./2021-12-07_1200/sakila-schema-create.sql", O_RDONLY) = 9
fstat(9, {st_mode=S_IFREG|0600, st_size=155, ...}) = 0
read(9, "CREATE DATABASE /*!32312 IF NOT "..., 8192) = 155
sendto(4, "\236\0\0\0\3\0\1CREATE DATABASE /*!32312 "...,

[2021-12-07 12:03] davidducos commented on #515
@hubiongithub, I made a mistake. I will be fixing it later today and releasing a patch.

[2021-12-07 12:12] hubiongithub commented on #515
Hello
I also tried the version from the provided mydumper_0.11.3-3.focal_amd64.deb
(myloader 0.11.3, built against MySQL 5.7.33-36):

myloader -d ./2021-12-07_1200/ -s sakila -B sakila2 -o -e -v 3 -L ttt.log
*** stack smashing detected ***: terminated
Aborted (core dumped)

[2021-12-07 12:13] davidducos commented on #514
Hi @hubiongithub, we are in the process of accomplish what you are requesting. Just you to know, nowadays I'm compiling in my local environment, so I have 20 VMs up and running each time that I create a new release. Compile for different client libs will force me to maintain more environments. As I don't want to maintain that infrastructure, we are going to start using cloud base services, which i

[2021-12-07 13:52] #515 closed

[2021-12-07 17:18] #504 closed

[2021-12-09 09:44] Fanduzi opened #520 "[BUG] myloader Segmentation fault (core dumped)"
**Describe the bug**
use myloader
[code]

coredump
[code]

[2021-12-09 10:34] davidducos commented on #520
Hi @Fanduzi ,

Can you check with latest version? I saw that you are using v0.11.3-3 and it might be possible that v0.11.3-5 fixes your issue. Please, let me know

[2021-12-09 11:02] #308 closed

[2021-12-09 11:16] davidducos commented on #460
NOOOOOOO!!! We are not going to close the stdout!

Actually, it is quite fun... well, fun for a nerd. So, if we close it, then myloader will end and we are all happy... but what if you don't want to myloader end? I had to use it to send multiple mydumper backups from one server to another server and I found that I could live myloader up and running waiting to process the backup.
In my case, I had

[2021-12-09 11:16] #460 closed

[2021-12-09 11:21] davidducos commented on #267
This is related to #454

[2021-12-09 11:56] Fanduzi commented on #520
The v0.11.3-5 version does not have the above problem, thank you.

[2021-12-09 17:59] #512 closed

[2021-12-09 20:13] #170 closed

[2021-12-10 04:59] stoty commented on #170
Thanks a lot for getting the feature in!

[2021-12-10 12:06] #411 closed

[2021-12-10 20:09] #495 closed

[2021-12-11 15:01] technomagos commented on #513
I assume they way streaming works (sorry if i make a mistake, it is a very new feature), i will need to save one large file for all tables in a database backup. So, will not be able anymore to restore selectively, some of the tables from the mydumper backup, which i can do now as they are stored on separate files on disk (but need to bzip2-decompress first).

[2021-12-11 20:51] davidducos commented on #513
Hi @technomagos, yes, steaming backs up is really new in MyDumper!! No need to apologize.

For zstd, we used a gzip wrapper library. Do you know if we can use some similar implementation for bz2?

[2021-12-11 21:34] davidducos commented on #513
@technomagos Sorry, I didn't know that we have a libbz2-devel package in Ubuntu, we might be able to include the lib and point to the right read and write functions. I will be investigating this next week. I will keep you posted!

[2021-12-13 13:28] davidducos opened #523 "CSV Option"
I think that would be nice to have a --csv option which automatically set --load-data and set the variables as it is detailed in #436

[2021-12-14 05:26] xiaobing0508 commented on #509
@davidducos I can't upgrade to a newer,because my operating system is centos 6.

[2021-12-14 10:19] davidducos commented on #509
Why don't you take the backup from another server with a newer operating system? I would like to test the newer version to confirm or discard the bug

[2021-12-15 13:54] davidducos opened #525 "[mydumper] Combine -r and -F"
Currently you can select --rows or -F not both at the same time. What I'm thinking that could be really useful, is to have both options, but we will need to support a new file format:
`<database>.<table>.<PART 1>.<PART 2>.sql`

So, in cases where you have an integer primary key and  you use -r and -F, we could see files like this if the table has gaps in it:
- test_db.test_table.00000.sql
- test_d

[2021-12-15 17:31] davidducos opened #526 "[ Refactoring ] Use the restore job list for table jobs instead general data queue"
Currently, when stream is used, we enqueue the files in data_queue in the same order that they arrive. However, as the stream thread is processing faster than the loader engine, it might be possible to order the file that might be mixed during dump.

[2021-12-16 01:36] xiaobing0508 commented on #509
Solved for newer version,thank you.

[2021-12-16 15:51] str opened #527 "[BUG] myloader --stream not working (yet?)"
I created a dump using

[code]

And then I tried loading it using

[code]

And I get the following error message:

`** (myloader:80184): CRITICAL **: 09:45:19.592: a directory needs to be specified, see --help`

I'm using version 0.11.3-5

Am I missing something?

[2021-12-16 16:09] davidducos commented on #527
Hi @str , you need to use --stream on myloader.

[2021-12-16 16:36] str commented on #527
Sorry,   that's what I tried,

[code]

and get

`** (myloader:86916): CRITICAL **: 10:36:19.069: a directory needs to be specified, see --help`

I wrote it wrong here the first time.

[2021-12-16 17:42] davidducos commented on #527
Oh sorry @str in master I already implemented that dir is optional but in the version that you are using, you need to set the location where the files will be temporary stored.

[2021-12-16 18:07] #509 closed

[2021-12-16 21:07] str opened #528 "[BUG] issue restoring [...] Deadlock found when trying to get lock; try restarting transaction"
Trying to restorere a dump, I get the following error message:

[code]

How can we try to load a dump without any locks?

[2021-12-16 21:08] str commented on #527
Thank you for your hard work. I'll use that workaround whule waiting for the next release :)

[2021-12-16 21:08] #527 closed

[2021-12-16 22:57] stardatasrl commented on #528
we've the same problem here:

2021-12-16 16:49:46 [ERROR] - Thread 7 issue restoring export-20211216-060252/mydb.DimEmail-schema.sql.gz: Deadlock found when trying to get lock; try restarting transaction
2021-12-16 16:49:49 [ERROR] - Thread 6 issue restoring export-20211216-060252/mydb.AppointmentType-schema.sql.gz: Deadlock found when trying to get lock; try restarting transaction
2021-12-16 16:5

[2021-12-16 23:05] davidducos commented on #528
Hi @stardatasrl / @str , did you tried with --innodb-optimize-keys ? do  you have foreign keys on that tables? what database version? might be related to https://github.com/mydumper/mydumper/issues/469.

[2021-12-16 23:24] stardatasrl commented on #528
hi,

we executed this:

`myloader -d export-20211216-060252/ -o -t 8 --innodb-optimize-keys -q 20 -L error.log`

package: mydumper-0.11.3-5.x86_64
mysql 8.0.26 on centos 7.

no FK.
no existing tables (we tried both with -o and without it, dropping all the tables, we've the same).

[2021-12-17 09:45] davidducos commented on #528
Hi @stardatasrl , that metadata lock looks like a mysql bug. I saw similar issue on mydumper that were already fixed for your version. Can you check bugs on mysql side?

[2021-12-17 13:48] davidducos commented on #528
@stardatasrl your `drop table` statement doesn't look like a statement created by myloader.

[2021-12-20 15:30] davidducos opened #529 "[ Enhancement ] Improve --rows implementation"
Currently, when you use --rows, mydumper is going to:
- determine the min and max pk
- Based on a heuristic and the value in --rows determine the amount of rows per chunk
- Creates all the jobs and enqueue them

This is simple and works for the cases where there are no gaps in the pk. However, it might be cases where jobs takes few milliseconds and other that take hundreds of seconds. Another thin

[2021-12-21 19:28] todd-richmond opened #530 "Unable to build with ZSTD support with zlib-ng"
Unable to compile with WITH_ZSTD=ON support on Linux with gcc 11.2, latest zstd libraries and zlib-ng (newer release than zlib which is no longer developed)

3 defines are missing
STDC=1
FAR=
Z_SOLO=1 (not sure if this is required, but it gets around errors with undefined z_off64_t

Defining those 3 then fails because gzFile is unknown

In file included from /var/tmp//mydumper-0.11.5/zstd/zstd_z
l

[2021-12-21 19:37] davidducos commented on #530
Hi @todd-richmond,
What OS and what ZSTD version are you testing?

[2021-12-21 20:16] todd-richmond commented on #530
CentOS 7 and zstd 1.5.1 with zlib-ng 2.0.5. I build a complete toolchain starting with gcc 11 and so no OS components - but this works for over 150 opensource components. Mydumper w/o ZSTD support and zlib-ng compiles cleanly - I was just trying to update releases today and add zstd support

[2021-12-22 03:51] speller opened #531 "Can not install on Debian"
I'm following the installation instructions from the readme but it fails:

[code]

[2021-12-22 04:02] speller commented on #434
I still can't connect using an IP address but with a different error:

[code]
Why it can't connect?

[2021-12-22 12:08] davidducos commented on #531
Hi @speller,
You don't need authentication to download the package. I did the same that you did:
[code]
And works perfectly. Can you download the file using curl?

[2021-12-27 22:14] aashishmahajan commented on #142
Hi, I am trying to use mydumper/myloader approach to move 100+ gigs of data from given environment to target environment, While doing so, I am running into the
`(myloader:14622): CRITICAL **: 07:46:14.451: Error restoring: CREATE ALGORITHM=UNDEFINED DEFINER={username}@{ip} SQL SECURITY DEFINER VIEW `{tableNm}``

As I am moving a lot of data, I am using the `--compress` function to create compresse

[2021-12-28 00:17] aashishmahajan commented on #142
@davidducos : thanks for opening up the issue again. really appreciate the help. To add to the previous concern, if I unload un-compressed SQL dump files. the bigger problem in scope is, if I am running `subprocess.call([("sed -i '' 's/DEFINER=[^*]*\*/\*/g' " + filePath)], shell = True)` to remove the definer statement, my files still error out during removal, as the dump files have fields with sp

[2021-12-28 06:25] gao0926 opened #532 "support exporting to json format"
Can mydumper support exporting to json format?
Many times we need to export data to json format,  we have to use single-thread mysql shell to achieve。
like this：
echo "select * from t_xx" | mysqlsh --sql --result-format=json --uri=[username]@localhost/[schema_name]

[2021-12-28 08:46] hubiongithub commented on #528
Hello
I hit the same problem, for the testcase I used
[code]
mydumper 0.11.5 created the backup with no errors and multiple threads used
[code]

`myloader -d 2021-12-28_0855/ -s sakila -B sakila3 -o -e -v 3 -L log.txt
`
shows several like:
`2021-12-28 09:12:29 [ERROR] - Thread 1 issue restoring 2021-12-28_0855/sakila.actor-schema.sql.gz: Deadlock found when trying to get lock; try restarting trans

[2021-12-28 09:07] stardatasrl commented on #528
hi @davidducos ,

maybe it's a mysql bug (i've to test it, but i think you're right), but i cannot upgrade all the mysql i have to dump. i think the easyest way to fix it is to add an option to serialize the drop/create table: I have to use the new mydumper version to use the innodb-optimize-keys feature, but if i do this, it does not works because the deadlock errors (and it seems mydumper does n

[2021-12-28 09:42] davidducos commented on #532
Hi @gao0926, can you elaborate a bit more your proposal? What's the goal?

[2021-12-28 09:52] 3eka commented on #532
HI,
I guess it does, check  ```--set-names``` switch. What is unclear to me, is it safe to apply to all database tables (ones which contain JSON data and ones which does not)?

[code]
What is risk there?

[2021-12-29 08:41] zj5220924 opened #533 "[BUG] Segmentation fault when using defaults-file option"
/usr/bin/mydumper --defaults-file=/data/mysql/3306/my.cnf -u test -p test -e -c -v 3 -r 5000 -l 10 -K -G -E -R -t 5 --regex='^(?!(sys\.|mysql\.|test\.))' -o /data/dump/2021-12-29T16:07:05 -L /data/dump/2021-12-29T16:07:05/mydumper.log

** (mydumper:29000): WARNING **: Failed to load config file: Key file contains line 'skip-name-resolve' which is not a key-value pair, group, or comment
Segmentatio

[2021-12-29 08:42] zj5220924 commented on #533
mydumper --version
mydumper 0.11.5, built against MySQL 5.7.34-37

[2021-12-29 09:39] aqueos opened #534 "you should NEVER use distribution name in the version of a package"
hi,

  as you know you should NEVER use a distribution name in a package version as it mess the upgrade process

  if you want to go from debian stretch to debian buster you will have a lock because

0.11.5stretch-1 > 0.11.5buster-1

  because of... alphabet order it will refuse a DOWNGRADE :)

 you should allways use deb9 / deb10 etc..  like all the system packages :

ii  python2.7

[2021-12-29 12:01] davidducos commented on #533
Hi @zj5220924, thank you for reporting this bug! Can you share the content of the file?

[2021-12-29 12:04] davidducos commented on #534
Hi @aqueos !! Ooohhh didn't know!! For sure we can change it for future releases!!

[2021-12-29 12:31] aqueos commented on #534
Great thank you very much for this and for your work ! :)

[2021-12-29 13:20] tanji commented on #534
Some precisions here, of course a distribution name can be used in a package version, many projects do it, MariaDB being one.
On the other hand it needs to be done according to the Debian Policy Manual, and to avoid a lengthy explanation that you can find at https://www.debian.org/doc/debian-policy/ch-controlfields.html#version, the distribution name needs to be after a tilde.
e.g. `0.11.5~stretch

[2021-12-29 15:14] aqueos commented on #534
thanks for the enligthment, i did not knwo. I have a LOT of issue for the percona mysql packages each time i upgrade i got high downtime because i must unsintall reinstall instead of just upgrading because of this issue. Especialy since stretch => buster and buster => Bullseye  have reverse alphabetical issues when the name is in the version. :)

[2021-12-29 15:16] aqueos commented on #534
see who do this and screw me up:

VSGUEST:root@apollo-4300-124:[~]: dpkg -l|grep buster
ii  mydumper                         0.11.5buster-1                                                           amd64        mydumper and myloader MySQL backup tools
ii  percona-server-client-5.7        5.7.36-39-1.buster                                                       amd64        Percona Server database c

[2021-12-29 15:38] davidducos commented on #534
Thanks @tanji for the info. I will add tilde before the distribution name.

[2021-12-29 17:48] maxstainer opened #535 "[BUG] myloader missing of 1st sql file 00000 part when using --rows resulting in myloader error."
missing "part" number on file, and then is impossible to import using mydumper.
this problem seems to occur when the table to be exported contains fewer records than the --rows parameter so that the part "00000" in the file name is not inserted in the first sql table records file.

backup command I am using
	 mydumper   -u $DB_USER -p $DB_PASS --rows=100000   --triggers  --routines  --events  -v 1

[2021-12-29 18:45] galenspikes opened #536 "[BUG] Restoring trigger in AWS"
**Describe the bug**
Restoring triggers to AWS RDS MySQL fails with syntax error.

**To Reproduce**
Command executed:
* mydumper --host ${source_rhel7_mysql} -u ${user} -p "password" -v 1 --use-savepoints --no-locks --long-query-guard=10800 -B ${database_name} -o ${download_path} --threads 10 --routines --events --triggers --no-views
* myloader -o -h ${AWS_RDS_MYSQL_HOST} -u ${user} -p "password"

[2021-12-29 19:10] davidducos commented on #536
Hi @galenspikes ,

What is the output of show variables like 'character_set_results'; on your rds instance?

[2021-12-29 19:12] davidducos commented on #535
Hi @maxstainer, are you using same mydumper and myloader versions?

[2021-12-29 19:31] galenspikes commented on #536
mysql>  show variables like 'character_set_results';
+-----------------------+-------+
| Variable_name         | Value |
+-----------------------+-------+
| character_set_results | utf8  |
+-----------------------+-------+
1 row in set (0.02 sec)

[2021-12-29 19:48] davidducos commented on #536
@galenspikes Can you share the content of the file?

[2021-12-29 20:05] galenspikes commented on #536
[prod_factotum.dashboard_rawchem-schema-triggers.zip](https://github.com/mydumper/mydumper/files/7790444/prod_factotum.dashboard_rawchem-schema-triggers.zip)

[2021-12-30 01:39] zj5220924 commented on #533
[client]
port = 3306
socket = /data/mysql/3306/mysql.sock
default-character-set = utf8mb4
max_allowed_packet = 512M

[mysqld]
user = mysql
port = 3306
server-id = 1
socket = /data/mysql/3306/mysql.sock
pid-file = /data/mysql/3306/mysql.pid
basedir = /usr/local/mysql
datadir = /data/mysql/3306/data

## Basic Settings
default_storage_engine = InnoDB
character-set-server = utf8mb4
init_connect='SET N

[2021-12-30 01:43] zj5220924 commented on #533
Yes, I put the defaults config file into my note:

url：http://note.youdao.com/noteshare?id=37964ac81e1e80deb29c6446fe3bd69a&sub=44DF81CEE2B5496E9098E9A23FC1796D

my test version: 5.7.27

[2021-12-30 05:42] conanwang opened #537 "[Enhancement ]myloader can resume from breakpoints when connection is invalid for some reason"
Currently,  if the connection to mysql is invalid with something wrong  when myloader is working,  we have to start again from the sratch, it will take a long time  especially a mass amount of data.

In the light of this, if myloader can continue work from the breakpoint, it will gain time.

If necessary i can offer the pull request :blush: :)  @davidducos

[2021-12-30 08:57] maxstainer commented on #535
it should be possible that the versions are different, as it may happen that you receive a backup from another person who wants to use a different version.
The problem could be solved with a small fix where you  get the name of the db and the table and also the part number. You could check that if you don't exist the part string on filename  assume as default value "00000" instead of sending a gen

[2021-12-30 19:52] fliespl commented on #533
@davidducos
I had segmentation fault when I executed like this:

`mydumper -o dump -c -e -h 127.0.0.1 -u $DB_USER -p $DB_PASS $DB_NAME`

instead of:

`mydumper -o dump -c -e -h 127.0.0.1 -u $DB_USER -p $DB_PASS -B $DB_NAME` (missing -B switch).

Probably related?

[2022-01-01 17:06] davidducos commented on #537
Hi @conanwang, this was already requested in #424.

YES! I will be glad to review any pull request!!

[2022-01-01 20:26] fliespl opened #538 "Add option to skip adding "00000" to filenames when using unlimited rows"
Or even make it default and only append those if rows is defined?

[2022-01-02 03:14] conanwang commented on #537
thanks for your quick reply, I really appreciate it, I will make the PR for #424 in a few weeks.

[2022-01-04 12:40] davidducos commented on #538
Hi @fliespl,
We are trying to establish a new file format, removing the 00000 might break it and adding exceptions will make difficult to maintain.
We are releasing every 2 months and I have the intention to release v1 this year, but until that point in time, we might be changing several things that breaks backwards compatibility.

[2022-01-04 15:34] davidducos commented on #422
I had been thinking about it and I think that we could end up in a solution, but first we need to understand the differences between https://dev.mysql.com/doc/c-api/5.7/en/mysql-store-result.html and the function that we are using https://dev.mysql.com/doc/c-api/5.7/en/mysql-use-result.html.
So, mysql_store_result will get the data from the mysql server and buffer it where you run mydumper, but, w

[2022-01-05 18:14] davidducos commented on #533
Oh!!! I found the problem, currently --stream which is being set by default when you use DB_NAME doesn't support compression!!
This should work:
[code]

[2022-01-05 19:59] fliespl commented on #538
Okay, that's understandable. What would you propose in following scenario:
I need to only restore some tables (by knowing their name). Is that supposed to be supported across future versions?

    - zcat dump/db.user-schema.sql.gz | mysql --defaults-extra-file=my.cnf test
    - zcat dump/db.user.*.sql.gz | mysql --defaults-extra-file=my.cnf test -> notice dot star after table name.

[2022-01-05 20:08] davidducos commented on #538
Hi @fliespl, why don't just change the filename and use myloader?

[2022-01-06 08:56] aqueos opened #539 "[BUG] mydumper lock indefinitively"
**Describe the bug**

Mydumper is launched and stay locked in doing nothing for days.

mydumper --defaults-file=/etc/mysql/debian.cnf --triggers --events --routines --compress --logfile=/var/backups/mysql/sauvergarde.2021-12-30-23h04.log --outputdir=/var/backups/mysql/2021-12-30-23h04 --regex ^(?!(test\.|sys\.)) --use-savepoints --less-locking --long-query-guard 120 --kill-long-queries --verbose 3

[2022-01-06 12:42] aqueos commented on #539
Hi David,

I use the percona mysql packages, on this particular one it is

ii  percona-server-server-5.7         5.7.36-39-1.stretch amd64        Percona Server database server binaries

this is
[~]: mysql -V
mysql  Ver 14.14 Distrib 5.7.36-39, for debian-linux-gnu (x86_64) using  7.0

[2022-01-06 14:01] davidducos commented on #539
@aqueos,
Do you have non-innodb tables? If you only have innodb tables, then disable --less-locking and check again, as it might be related to less locking feature. I think that I found where could be the issue but it is really difficult to reproduce and create a test case.

[2022-01-06 14:35] aqueos commented on #539
most of the tabels here are in legacy myisam (yes i know), allmost no innodb here.

[code]

yes its hard because it works allmost all the time i just had one lock here and there. It is not frequent at all :(
when i launch it on the command line it allways works but i dont launch it as often as the daily cron of course.

regards,
Ghislain.

[2022-01-07 14:02] davidducos commented on #539
@aqueos,
Can you check without --less-locking ?? or is it mandatory for you?

[2022-01-07 14:11] davidducos commented on #535
Hi @maxstainer, we provide packages for most of the OS versions, you can simply install the version of the backup. Until version 1 we might change the backup filename, as we need to establish the best format possible.
There are already some ticket complaining about it, so, I tried to be more flexible with it but in this case, the workaround that you presented is the current "solution".
Take into a

[2022-01-07 14:19] davidducos commented on #536
@galenspikes
Are you using the same myloader version in all the cases?

[2022-01-07 17:19] fliespl commented on #538
@davidducos but does myloader support scenario in which I do full database dump and then want to restore only some tables?

Didn't notice any switch like that...

[2022-01-07 17:30] davidducos commented on #538
@fliespl ,
I don't think that I received that request... but if you copy or link only the files that you want to restore, you will restore only some tables. I don't think that will be hard to implement --regex on myloader.

[2022-01-07 19:29] fliespl commented on #538
Thanks, I have no idea if that's actually a valuable request for anyone else :) We just need to do some data manipulation during dump and since our tables are big we only restore required ones.

Leaving up to you decision if that's something you feel like worth adding,

[2022-01-08 20:38] richardjharris commented on #424
Thank you for your comment. Unfortunately (fortunately?) I had no further problems with mydumper/myloader, they worked first time, so I did not get a chance to test the resume functionality. But I will always be sure to use INSERT IGNORE mode to make resuming easier if there is a problem. Thanks.

[2022-01-10 14:14] davidducos opened #540 "Move MyDumper from C to C++"
This is an idea that I had for a while now... Do you think that will be better to move MyDumper from current C coding to C++?
Use reactions 👍 👎 or you can also give your opinion with a comment.
From my point of view:
Pros:
- will be simpler to implement some features
- I'm not an expert on c++ but I think that it will be easier to maintain.
Cons:
- The main one is that it will require a lot of eff

[2022-01-11 14:59] aadrian commented on #540
@davidducos in theory C++ is better, but in practice I've yet to see a project where the migration/upgrade was really an improvement :( .

From what I've seen so far in projects that did the move to C++:
- the number of bugs greatly increased
- the required maintenance effort was much higher (even when not counting for the migration effort itself)
- the complexity of the projects grew greatly (tot

[2022-01-12 14:36] AnonJo opened #541 "myloader not restoring all indexes and no triggers"
MyDumper/Loader version: 0.11.3, built against MySQL 5.7.33-36

I have created a backup of an ca. 330 GB MySQL 8.0.25 database with the following commands:

[code]

And restored it in into Percona XtraDB Cluster 8.0.25 with the following commands:

[code]

After restoring the database was really slow, so I compared the count of indexes and foreign keys to an older backup. Of approx. 1300 indexes t

[2022-01-12 17:25] davidducos commented on #541
Hi @AnonJo,

Can you execute `ls -l /srv/mysql/backup`?

[2022-01-13 07:02] liubixia55 opened #542 "binlog.c:168：对‘my_net_read’未定义的引用"
**Describe the bug**
A clear and concise description of what the bug is.
mydumper-master/binlog.c:168：对‘my_net_read’未定义的引用

**To Reproduce**
Command executed:
[root@localhost mydumper-master]# cmake .  -DCMAKE_INSTALL_PREFIX=/data/app/mydumper -DWITH_BINLOG=ON
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc

[2022-01-13 08:14] fengbao123 commented on #539
I have the same problem，All threads are in sleep，And the memory of the mydumper process keeps increasing until the oom is triggered

OS version: CentOS Linux release 7.8.2003 (Core)  x86_64

mydumper -V
mydumper 0.11.5, built against MySQL 5.7.34-37

database:  Percona Server mysql  Ver 14.14 Distrib 5.7.25-28, for Linux (x86_64) using  6.2

[code]

[code]

[code]

[2022-01-13 08:15] fengbao123 commented on #539
[code]

[2022-01-13 08:37] fengbao123 commented on #539
With the same command, the backup of version mydumper-0.9.5-2.el7.x86_64.rpm is normal

[2022-01-13 08:40] AnonJo commented on #541
Hi @davidducos,

I have to check this with the customer if I can publish this information here.

What do you want to know?

There are at a minimum three files per table:

db_name.table_name-metadatadb_name.table_name-metadata

[2022-01-13 09:00] davidducos commented on #542
Hi @liubixia55 , the bin log feature is going to be deprecated. Please do not use it. Use mysqlbinlog instead.

[2022-01-13 09:03] davidducos commented on #539
Hi @aqueos , looks like you didn't see my comment. I asked you if you can execute the same command without --less-locking

[2022-01-13 09:06] davidducos commented on #541
Hi @AnonJo,

If there are not -schema-trigger.sql files, then they were not going to be restored. Can you check if the user that you are using can execute the show trigger command?

[2022-01-13 09:26] aqueos commented on #539
hi david,

 Well the issue is that i cannot reproduce it at will.
 It works most of the time with this --less-locking ,i can launch it and it works, i have the daily  cron that run successfully since my firts mail on this thread. So yes i can but it will not lock the dump as i cannot reproduce on purpose this issue. It happens from time to time on rare occasions :)

best regards,
Ghislain

[2022-01-13 09:29] AnonJo commented on #541
I have created the backup using the root user, so there shouldnt be any permission problems.

The triggers are not originally created by the root user, he is not the DEFINER. Can this be a problem?

Still I am wondering why only some of the indexes are created.

[2022-01-13 20:00] #490 closed

[2022-01-13 20:19] davidducos commented on #541
Lets resolve one issue at a time.
Triggers:
do you have any errors/warnings when you execute mydumper ?
Can you execute SHOW TRIGGERS FROM `<DATABASE>` like '<TABLE>'  for any <DATABASE>.<TABLE> where a trigger exist?

Indexes:
Do you have FULLTEXT indexes in the tables that failed? can you share a table structure where it is failing?

[2022-01-14 09:52] AnonJo commented on #541
Sorry, had a hard week restoring the indexes in production ;).

So regarding the triggers:

The only warning in the mydumper log is:

[WARNING] - Using trx_consistency_only, binlog coordinates will not be accurate if you are writing to non transactional tables.

Except that no more errors / warnings.

The output from  SHOW TRIGGERS FROM database_name;
...
191 rows in set (0.01 sec)

Regarding the

[2022-01-14 12:09] str opened #544 "enhance documentation with default values"
When I'm checking the new flags with the --help option, I don't know if I should turn something on or off because I don't know if it's on or off by default, for example:

[code]
Should I turn them on or are they on by default?

[2022-01-14 12:15] davidducos commented on #544
Hi @str , by default they are off. I will add the default value to the doc.

[2022-01-14 12:18] davidducos commented on #544
Already on Master

[2022-01-14 12:18] #544 closed

[2022-01-14 12:19] str commented on #544
Awesome! Always thankful for your great work!

[2022-01-14 12:30] davidducos commented on #542
I will keep this open, as I will be removing binlog.c file for the next release.

[2022-01-14 12:50] davidducos commented on #541
@AnonJo ,
I found the bug on the index creation, a release will be patching it later today.

[2022-01-14 13:17] AnonJo commented on #541
Wow, that was fast :).

What was the bug? Did it hat to do with` innodb-optimize-keys` parameter?

[2022-01-14 13:41] AnonJo commented on #541
Ok, I am not a C developer, but does this explain why only some indexes are created?

[2022-01-14 13:47] davidducos commented on #541
The indexes of the tables with more than 1 index were discarded.

[2022-01-14 17:20] davidducos commented on #541
If no -schema-trigger file is found, then the problem is in mydumper. I need a test case as you gave me with the create table statement. Do you have a trigger definition that I can use for testing?

[2022-01-14 21:00] AnonJo commented on #541
Great that you found the bug for the indexes so fast, here is an example for the non restored triggers:

[code]

[2022-01-17 03:27] liubixia55 commented on #542
thanks for your quick reply

[2022-01-17 17:46] davidducos commented on #541
@AnonJo,
Oh I know that is your trigger issue. You are using --no-schemas that for some reason is disabling the trigger output:
[code]

[2022-01-17 17:50] davidducos commented on #541
I think that you are causing the whole problem splitting the execution in 2 stages, why do you execute mydumper twice? doesn't makes sense to me. Why don't you just execute this:
[code]
??

[2022-01-17 18:15] davidducos commented on #541
Clarification has been added to Master.

[2022-01-17 18:17] #531 closed

[2022-01-17 18:47] #523 closed

[2022-01-17 18:53] davidducos commented on #142
@aashishmahajan, We are going to follow the --skip-definer option in: https://github.com/mydumper/mydumper/issues/378

@leandromorgado, I changed some things related to the config file option, actually, that option is not available anymore and we use --defaults-file. Can you test latest version and let me know if it is working properly.

[2022-01-17 19:57] davidducos commented on #142
@leandromorgado,
I have checked and you can use:
[code]
In your --defaults-file

[2022-01-17 19:57] #142 closed

[2022-01-17 20:06] #525 closed

[2022-01-18 07:34] AnonJo commented on #541
Hi @davidducos,

ok understood. I did it because of old habit with mysqldump and didnt realize that it makes no sense with mydumper.

But wouldnt it make sense to include the triggers while using one of the two options (either with `--no-schema` or with `--no-data)`?

So if someone does both as I did, you would still have a complete backup of all database objects.

[2022-01-18 12:21] davidducos commented on #541
Yes! For sure is weird! But not a bug abs it will need some work to fix it. I will create an enhancement ticket to develop the real solution.
Thanks for all the feedback you gave me!

[2022-01-18 12:56] Gokul-Rams opened #548 "mydumper stopping dump at an particular memory usage"
I am trying to take dump of db with over 115gb of data, mydumper gets stuct at this particular VSZ-318668 and RSS-211748. Is there any resolution for this ,why this happens, I do not see any io reads spikes after this particular memory limit on db side it suddenly drops and stuck at this stage for long time. my machine is good enough with around 128 gigs of RAM and I tried this multiple times the

[2022-01-18 13:02] davidducos commented on #548
Hi @Gokul-Rams, Can you try again with a higher value in --rows? like 1000 o 5000 ?

[2022-01-18 13:20] Gokul-Rams commented on #548
Hi @davidducos Thanks for the reply,
mydumper --host=*** \
--user=*** \
--password=*** \
--outputdir=./backup \
--rows=1000 \
-G -E -R -z \
--trx-consistency-only \
--compress \
--build-empty-files \
--threads=16 \
--compress-protocol \
--ssl \
--regex '^(?!(innodb.|mysql.|performance_schema.|relationals.|sys.|tmp.|information_schema.))' \
--lock-all-tables \
--long-query-guard 600 \
--long-query-

[2022-01-18 13:21] davidducos commented on #548
Are you running this against TIDB server?

[2022-01-18 13:22] Gokul-Rams commented on #548
Nope AWS RDS with innodb engine

[2022-01-18 13:42] davidducos commented on #548
I need you to upload the log file to understand at what stage is stopping

[2022-01-18 15:02] AnonJo commented on #541
Ok, sounds good to me. Thanks for your fast response and help!

[2022-01-18 18:18] Gokul-Rams commented on #548
Hi @davidducos
adding all my observations..

** Message: 17:30:26.587: MyDumper backup version: 0.11.5
** Message: 17:30:26.724: Server version reported as: 5.7.33-log
** Message: 17:30:26.726: Connected to a MySQL server

the above three lines is the only log I can get in verbose 3 mode
![image](https://user-images.githubusercontent.com/69314159/149994259-ccb9f410-2182-4857-b9cf-3ffccb12332b.png)

[2022-01-18 19:20] davidducos commented on #228
For myloader, we are going to implement, --skip-triggers and --skip-post, as mydumper is storing store procedure, functions and events to the same file. If we want to store routines and events in different files, we will need to change mydumper and add/change the current file definitions.

[2022-01-19 12:15] fredricj commented on #548
The memory usage is just a symptom of where mydumper get stuck. To diagnose this you need to check if it is waiting for the result of a query (SHOW FULL PROCESSLIST in mysql) or if it is stuck somewhere else with gdb and/or strace.

[2022-01-19 18:28] Gokul-Rams commented on #548
Hi @fredricj Thanks for the clue I can see this query "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE ='BASE TABLE' AND TABLE_SCHEMA NOT IN ('information_schema', 'performance_schema', 'data_dictionary') AND NOT (TABLE_SCHEMA = 'mysql' AND (TABLE_NAME = 'slow_log' OR TABLE_NAME = 'general_log'))" goes into "checking permissions" state and came to know that AWS RDS

[2022-01-19 18:42] Gokul-Rams commented on #548
Can I know the maximum number of threads supported by mydumper and myloader and is it recommended to keep the rows count to higher or an lower value ?

[2022-01-20 12:51] #228 closed

[2022-01-20 13:05] davidducos commented on #548
The rows will depend in what you want, a high number will end up in larger queries and bigger files, a lower number will be more files and fastest queries.
Take into account https://github.com/mydumper/mydumper/pull/522 if you are worried about memory usage.
There is no limit to the amount of threads.

[2022-01-20 13:06] #542 closed

[2022-01-20 13:08] davidducos commented on #539
Hi @aqueos, without a test case will be very difficult to know what is the issue.
I will close this, but feel free to open at any time.

[2022-01-20 13:08] #539 closed

[2022-01-20 13:23] #437 closed

[2022-01-20 13:25] jaboboyw commented on #548
Be careful with the type of RDS instances, especially if they have credits in CPUs and storage, without credits the IOS fall and the problems begin.

[2022-01-20 13:29] davidducos commented on #484
I also started to create files under /src. The idea will be to split functionality to make easier the review of the code, as I did in https://github.com/mydumper/mydumper/pull/549

[2022-01-20 13:31] davidducos opened #551 "Enable compression when --stream is used"
Oh!!! I found the problem, currently --stream which is being set by default when you use DB_NAME doesn't support compression!!
This should work:
[code]

_Originally posted by @davidducos in https://github.com/mydumper/mydumper/issues/533#issuecomment-1005963337_

[2022-01-20 20:03] #533 closed

[2022-01-20 20:03] #551 closed

[2022-01-20 20:39] #378 closed

[2022-01-21 09:29] peng19832 commented on #528
Hello
I hit the same problem.
When I restore data in a new mysql instance, especially when restoring mysql system tables, it will trigger a deadlock.
When the number of -t used is less, the probability of occurrence is less.
mysql version:
![image](https://user-images.githubusercontent.com/9590209/150499861-0b0921ec-6783-487d-b2c1-b3a6b95fc0d8.png)
`
2022-01-21 17:15:36 [ERROR] - Thread 1 issue re

[2022-01-21 14:18] davidducos commented on #528
https://github.com/mydumper/mydumper/issues/469

[2022-01-21 14:30] davidducos commented on #528
@peng19832 , why don't you use --purge-mode=TRUNCATE ?

[2022-01-21 14:32] davidducos commented on #469
@64kramsystem I had just realized that you can use --purge-mode=TRUNCATE to avoid the issue and get the expected behavior. Unless the table structure is not the same... 🤔

[2022-01-21 19:17] davidducos commented on #469
Ok... from my analysis a can tell, that the only REAL solution is 1. Let me explain why I'm not considering 2 and 3 as a solution.
3- At the end, it might fail anyway, and in a scenario where you have a few amount of rows, the 2 threads will be competing each other. The only 'solution' will be add a sleep... but I don't want to do that.
2- This is based that the problem is only at DROP stage but I

[2022-01-21 19:24] #469 closed

[2022-01-21 19:24] #528 closed

[2022-01-22 14:06] 64kramsystem commented on #469
Excellent, thanks for the fix! I've also realized that its implementation is simpler than I imagined :+1: Thanks again :smile:

[2022-01-24 13:40] davidducos commented on #435
@speller I'm going to close this as the --skip-definer option has been already added to main and will be release on v0.12.1

[2022-01-24 13:40] #435 closed

[2022-01-24 15:26] richlv commented on #471
Similar issue. Moved some bigger tables that I did not want to restore in a subdirectory, and myloader balked at that. Was confusing, as the remaining table names were similar enough to the subdirectory name.

[2022-01-25 03:20] peng19832 commented on #528
This is a test environment

[2022-01-26 16:49] inkonito opened #557 "myloader: CPU at 400%, but restore process is very slow"
I am working on migrating a database (340Go) from mysql 5.7 to mysql 8, both on azure PaaS, by using an ubuntu VM in the middle.
I used mydumper very easily, and got my dump folder done in about 3h and 20minutes, no issues.

I am now trying to load this dump in my mysql 8 database with this command:
`myloader -h xxx.mysql.database.azure.com -u xxx --password='xxx' -d /data/dump --queries-per-trans

[2022-01-26 16:58] davidducos commented on #557
Hi @inkonito , Can you share the log file? What version are you using? can you share also a `show processlist` and a `show engine innodb status\G` when the process is working?

[2022-01-27 09:04] inkonito commented on #557
Hello @davidducos

I'm using `myloader 0.11.5, built against MySQL 5.7.33-36` but my destination DB is MySQL 8.0.21, maybe that's an issue ?

You'll find the log file, and the output of both `show processlist` and `show engine innodb status\G` [in this gist](https://gist.github.com/inkonito/3581bbe2679c3b658083cea1e080e82b).
This was captured during a process with 32 threads, that seemed to accele

[2022-01-27 16:10] davidducos commented on #557
Yes, I need the logs and yes it is slow. Looks like it is not continuing with the files in the queue.