[2022-09-21 19:32] davidducos commented on #643
This issue was opened during a change in the way I created the builds.
After, I realized that it was a bug and this ticked remained open.
This is a way to check if a mydumper executable has been linked to a static library:
[code]
If the amount of entries in the list comparison is high, that means that the mysql library has been included in the executable.
Nothing else needs to be reviewed, closing

[2022-09-21 19:32] #643 closed

[2022-09-21 19:35] #651 closed

[2022-09-21 19:43] davidducos commented on #688
Hi @sunpoet ,
After the - (dash) is the number of the iteration of a release. Just the highest number must be used as any lower number has a bug that affects the usability of the software and must not be used. Actually, must be replaced ASAP. I leaving those releases, because I like to keep track of what has been released.
So, for any OS, they should be packaging only the latest version of the min

[2022-09-21 19:43] #688 closed

[2022-09-21 19:51] davidducos commented on #779
I think that we can create a new kind of file with the `CHANGE MASTER` command on mydumper and we can create 2 files, one with the info of `SHOW MASTER STATUS` and another file with the info of `SHOW SLAVE STATUS`, and other files if you have multi threaded replication.
On myloader, we need to select which is/are file/s that are going to be executed. User will need to edit the files if credentials

[2022-09-21 20:30] davidducos opened #835 "Use circleci to build releases"
I'm reviewing https://circleci.com/blog/publishing-to-github-releases-via-circleci/ and I think that in the future we could start using it to draft the releases, which is going to allow us to get multiple versions, even arm64 packages.

_Originally posted by @davidducos in https://github.com/mydumper/mydumper/issues/772#issuecomment-1199693847_

[2022-09-21 20:32] davidducos commented on #787
Hi @aloks2019,
you should be using --rows and ZSTD release.

[2022-09-21 20:38] #663 closed

[2022-09-21 20:50] #809 closed

[2022-09-21 21:11] davidducos commented on #354
Hi @bato3
I was able to reproduce your issue changing the locale:
[code]
If you set the LC_ALL to a UTF-8 charset, you are going to see the right characters. Nothing should be done on MyDumper side.

[2022-09-21 21:11] #354 closed

[2022-09-22 12:58] davidducos commented on #600
Hi @ronylei,
I reviewed the code and we have to keep the START TRANSACTION there, because when the jobs for the tables are created, we are using that connection.
Anyways, you brought up another possible issues, which is the relation with the sync mechanism when --no-locks is being used. More info: [FTWRL on MyDumper Removed](https://www.percona.com/blog/ftwrl-on-mydumper-removed/)

[2022-09-23 17:15] bmesich opened #837 "[BUG] WARNING It was not possible to process file: because real_db_name isn't found."
**Describe the bug**
When attempting to restore a database, I am getting the following warning:
[code]
This is very similar to the issue [683](https://github.com/mydumper/mydumper/issues/683) and appears to have been fixed in [708](https://github.com/mydumper/mydumper/pull/708).  In this case, a WARNING is being generated rather than a CRITICAL log severity.

**To Reproduce**
I used more-or-less t

[2022-09-24 23:03] davidducos commented on #837
I think that we don't print any message if a metadata file is processed, so we don't know if the file was processed but I think that we are successfully processing those files.
I'm agree that we can remove the Warning, we can move to debug and just print a warning or critical if a file was not processed because it reaches to the maximal amount of attempts which is 5.

[2022-09-27 18:30] vidyullathat commented on #790
David,
This issue doesn’t seem to be resolved in the latest release. We are still getting the mismatch in data counts post dumping the data into csv.

mydumper --version
mydumper 0.12.7-3, built against MySQL 5.7.39-42

DumperDir=/mnt/disks/mysqldmp/mydumperdir
TABLE_SCHEMA=default_dcorder
TABLE_NAME=DCO_ORDER_LINE
rm /mnt/disks/mysqldmp/mydumperdir/$TABLE_SCHEMA.$TABLE_NAME*.dat 2>/dev/null
mydum

[2022-09-27 18:34] vidyullathat opened #838 "[BUG] mydumper csv option is missing records while dumping"
This issue mentioned in the bug [https://github.com/mydumper/mydumper/issues/790 ] doesn’t seem to be resolved in the latest release. We are still getting the mismatch in data counts post dumping the data into csv.

mydumper --version
mydumper 0.12.7-3, built against MySQL 5.7.39-42

DumperDir=/mnt/disks/mysqldmp/mydumperdir
TABLE_SCHEMA=default_dcorder
TABLE_NAME=DCO_ORDER_LINE
rm /mnt/disks/mysq

[2022-09-27 19:43] davidducos commented on #838
@vidyullathat I have and idea, can you share your log to confirm it?

[2022-09-27 20:10] vidyullathat commented on #838
David,
Please check below

cat mydump.log
2022-09-27 15:33:18 [INFO] - MyDumper backup version: 0.12.7-3
2022-09-27 15:33:18 [INFO] - Server version reported as: 8.0.26-google
2022-09-27 15:33:18 [INFO] - Connected to a MySQL server
2022-09-27 15:33:18 [INFO] - Sending Flush Table
2022-09-27 15:33:18 [INFO] - Acquiring FTWRL
2022-09-27 15:33:18 [INFO] - Sending start transaction in main connection

[2022-09-27 20:42] #838 closed

[2022-09-27 20:42] #790 closed

[2022-09-27 21:17] fenidik commented on #837
Have same issue. You should test with data. Because when I'm trying to restore it creates schema but not uploading the data.

mydumper --compress --defaults-file .my.cnf -t 10 # defaults file only contains db credentials
myloader --defaults-file ../.my.cnf -t 10 -d .

[2022-09-28 19:48] davidducos commented on #837
@fenidik, we are testing with data. Can you give more details about your issue? MyDumper version used? Database version? a test case with CREATE TABLE and INSERT statements?

[2022-09-28 21:20] utdrmac opened #840 "[BUG] mydumper fails to parse my.cnf parameter"
**Describe the bug**
[code]

**To Reproduce**
Create a my.cnf like this:
[code]

**Expected behavior**
`innodb_file_per_table` without an `=ON|OFF` is valid according to the manual. There are other parameters, `log_bin` for example, that do not require additional components. mydumper should parse these parameters normally.

**Environment (please complete the following information):**
MyDumper vers

[2022-09-29 12:07] davidducos opened #841 "[BUG]"
**Describe the bug**
When --no-locks is used and you are in a scenario like I described [here](https://www.percona.com/blog/ftwrl-on-mydumper-removed/) the main connection might not be in the same position than the threads, that means that the GTID reported in the metadata file will not be accurate.

[2022-09-29 13:33] utdrmac opened #842 "[BUG] Disable redo log is only supported on 8.0.21+"
**Describe the bug**
myloader --disable-redo-log should only execute on 8.0.21+

**To Reproduce**
Run myloader --disable-redo-log against MySQL < 8.0.21

**Expected behavior**
Either A) error/abort that says "mysql version doesn't support that feature" or B) display warning and continue

**Environment (please complete the following information):**
MyDumper version: mydumper 0.12.7-3, built against

[2022-09-29 20:29] #357 closed

[2022-09-30 03:02] hustegg commented on #529
If we have a huge number of tables, i.e. 100,000 tables, when using --rows I found mydumper query each table:
SELECT min(c1), max(c1) FROM t1;
FTWRL hold until all tables min/max got, slave replay binlog would be blocked.

Could we detect if a table need to be split by rows when detect engine with `show table status` in advance(maybe  not so accurate)? I think it will reduce amount of time holding

[2022-09-30 05:16] ronylei commented on #600
I understand that the GTID of the main thread is used, compared with the GTID of the sub-thread

[2022-09-30 05:25] ronylei commented on #600
However, the sub-threads are working to back up the data. It doesn't matter if the GTID of the main thread is not compared. Just make sure that the GTIDs of all sub-threads are the same.

[2022-09-30 12:25] #842 closed

[2022-09-30 14:47] #826 closed

[2022-09-30 15:01] davidducos commented on #840
Hi @utdrmac,
We are using https://docs.gtk.org/glib/method.KeyFile.load_from_file.html to load the configuration file which doesn't support key-only entries. From my testings it is not continuing loading other key-values, it just stops and reports the error, so there is no way to continue even if the section is not related to MyDumper.
We might need to develop our own config file parser.

[2022-09-30 16:41] utdrmac commented on #840
https://github.com/benhoyt/inih ? This one seems to support empty values.

[2022-09-30 17:52] davidducos opened #846 "Create new structure with show table status per database to avoid get min/max when not needed"
If we have a huge number of tables(i.e. 500,000 tables, empty most of them), mydumper query each table with --rows:
SELECT min(c1), max(c1) FROM t1; EXPLAIN SELECT * FROM t1;
FTWRL hold until all tables min/max got, slave replay binlog would be blocked.

Could we detect if a table need to be split by rows when detect engine with `show table status` in advance(maybe  not so accurate)? I think it wi

[2022-10-05 17:46] #648 closed

[2022-10-05 17:51] davidducos commented on #841
The #847 moved the metadata writing to a job that is executed by a thread which is in sync.

[2022-10-05 21:22] Dansthunder opened #848 "Segfault when using --rows on large dbs with 0.12"
Hello,

I've just updated mydumper and ran into some issues.  Am I missing a flag or doing something wrong?

Results in: ./test.sh: line 24:  4865 Segmentation fault      (core dumped) /usr/src/scripts/mydumper/mydumper --database=$DB_NAME --host=$DB_HOST --user=$DB_USER --password=$DB_PASS --outputdir=$DB_DUMP --threads=12 --rows=20000 --compress --triggers --events --routines --verbose=3

On my

[2022-10-05 21:40] davidducos commented on #848
@Dansthunder
We will need the core dump https://github.com/mydumper/mydumper/wiki/Support#core-dump to perform the investigation.

[2022-10-05 23:56] Dansthunder commented on #848
Ok, easy enough.  Eyeballing it, it appears to dying on a table with binary data?!?  I tested with --hex-blob, to see if that made a difference, and it didn't.

[dump.txt.gz](https://github.com/mydumper/mydumper/files/9719587/dump.txt.gz)

Thanks again!

[2022-10-06 12:00] davidducos commented on #848
@Dansthunder I need you to run:
[code]
then upload the file with the core dump located in /tmp/ under the template name: `core-%e.%p.%h.%t`

[2022-10-06 15:55] Dansthunder commented on #848
[core-mydumper.1850.dw-rhel9.va.test.box.1665071054.gz](https://github.com/mydumper/mydumper/files/9726514/core-mydumper.1850.dw-rhel9.va.test.box.1665071054.gz)

Here ya go.

[2022-10-06 18:58] davidducos commented on #848
Oh god, I have just realized of `aarch64`. Nah, no way, I'm not going to be able to troubleshoot or review this in the short term.

[2022-10-06 19:20] davidducos opened #850 "[BUG] Increasing the amount of threads, increases the amount of memory usage"
During one of my tests, I realized that when I set the amount of threads to 12, the % of memory used by mydumper went from 5% to 15%.

[2022-10-06 19:21] davidducos commented on #848
I tried to simulate your scenario with this:
[code]
And executing mydumper like this:
[code]

[2022-10-06 22:13] davidducos commented on #848
Hi @Dansthunder ,

https://www.ringerhq.com/i/mydumper/mydumper is an alternative to fix this kind of issues faster.

[2022-10-07 16:24] Dansthunder commented on #848
@davidducos I deleted over 100 million rows out of two of the tables last night, down from 302 million down to 194 million, still segfaults.   Full optimization of the entire database didn't help, other than saving some disk space.

We've reverted back to v0.11.6, and look forward to future releases.  Thanks for your time and effort!

[2022-10-07 20:45] dtolj opened #852 "Unable to load compressed files with --stream"
**Describe the bug**
It fails to load files when compress option "-c" is used with "--stream".
GZ files are copied over but myloader does not understand how to import them.
However doing a dump -c and loading works.

**To Reproduce**
Command executed:
* mydumper with all the parameters
 date; time mydumper -v 3 -L logfile -B dbname --stream -c |ssh -J proxy hostIP '(myloader -v 3 -L logfile --stre

[2022-10-07 20:48] davidducos commented on #852
Hi @dtolj,
Are you using the same version of MyDumper on both servers?

[2022-10-07 20:58] dtolj commented on #852
yes

[2022-10-07 21:39] davidducos commented on #852
Hi @dtolj ,
Can you share the complete log of mydumper y myloader, as your scenario is automatically test on every PR.

[2022-10-08 05:26] peng19832 opened #853 "[BUG] 0.12.7-3 crashed, mysql 5.7 and mysql 8.0"
**Describe the bug**
mysql version: 5.7, 8.0
Only a few instances have triggered the bug
segfault at 10 ip 0000000000443067 sp 00007f6825965b40 error 4 in mydumper[400000+369000]
![image](https://user-images.githubusercontent.com/9590209/194684786-47fcaf75-5b97-47f4-b806-24cba165bff0.png)

**To Reproduce**
Command executed:
* mydumper with all the parameters
* myloader with all the parameters
[cod

[2022-10-08 16:23] Dansthunder commented on #853
Same, with lots of rows.  Try rolling back to v0.11.x   Version 0.12.x with --rows segfaults for us as well.

[2022-10-10 02:29] peng19832 commented on #853
Duplicate #848

[2022-10-10 17:37] beebol opened #854 "mydumper block"
mydumper 0.11.1, built against MySQL 5.7.34-37
[code]

show processlist;
[code]
mydumper 0.9.5, built against MySQL 5.7.21-21   is OK
[code]

[2022-10-11 02:40] #854 closed

[2022-10-11 07:59] vidyullathat commented on #838
David,
Any fix for the rows parameter?  this is getting killed every time.

mydumper --version
mydumper 0.12.7-3, built against MySQL 5.7.39-42
mydumper --host=10.87.2.86 --user=root --password=admin30339 --outputdir=$DumperDir --threads=8 --verbose=3 --rows=100000  --port=3306  --tables-list=$TABLE_SCHEMA.$TABLE_NAME --csv  --fields-terminated-by='^'  --logfile mydump.log
Killed

Thanks ,
Vidyu
V

[2022-10-11 08:46] aloks2019 commented on #762
Those “-metadata” files create error messages while running myloader.

Thanks
Alok

On Fri, Jul 29, 2022 at 8:26 AM David Ducos ***@***.***>
wrote:

--
Thanks,
Alok Srivastava

[2022-10-11 12:42] davidducos commented on #790
@vidyullathat,

I have just tested the patch and seems it is working:
[code]
Can you rerun your script changing this?
[code]
I want to see if that remove is failing

[2022-10-11 14:32] ToothlessRebel commented on #850
Does that not make sense?

[2022-10-11 14:35] davidducos commented on #850
At this point, I think that it is too much, but I will be reviewing to confirm that it is what we should expect or fix the memory leaks.

[2022-10-11 17:33] dtolj commented on #852
This only happens when going over a proxy. I have updated the command above. It could be ssh config issue instead.
It only created the DB with no tables.

[code]

**From the source:**

[code]

ls -1 export-20221011-171928/
fortiva_identity_1_0cac39ed8aaa5fff__5c43b61b_1825f07d1e1__7ffc.directorysyncfile.00000.sql.gz
fortiva_identity_1_0cac39ed8aaa5fff__5c43b61b_1825f07d1e1__7ffc.userattributerevis

[2022-10-11 17:40] will76 opened #855 "myloader ignore table -O not working"
Using myloader 0.12.7-3

I want to load a dump but ignore huge log tables (development purposes), so I used the -O file containing 1 table per line ending with $ eg. `db.table1$`.

Even though the log says `** Message: Omit list file contains 1 tables to skip` the mentioned tables are still being processed (dropped, created, restored):

[code]

Am I doing something wrong?
Thanks

[2022-10-11 18:05] will76 commented on #855
I did that too, but then myloader gets stuck on the following:

[code]

[2022-10-11 19:37] #855 closed

[2022-10-11 19:40] davidducos commented on #762
Hi @aloks2019,
I reopened this ticket, but I need a test case to find out the issue. Can you share a reproducible test?

[2022-10-11 20:05] davidducos commented on #838
@vidyullathat
The OOM on --rows will be fixed with https://github.com/mydumper/mydumper/issues/529

[2022-10-11 20:08] #749 closed

[2022-10-11 20:46] Robertoh98 opened #857 "[BUG] MyDumper is using more memory than it should"
**Describe the bug**
When we run the MyDumper on a table with big numbers on the bigint primary key it starts to use a lot of memory and take a long time to finish.

**To Reproduce**
Command executed:
$ mydumper --outputdir=./backup --tables-list=test.joinit --threads=8 --rows 1000000 --long-query-guard 3600 --build-empty-files --trx-consistency-only --database=test --statement-size=100000 --compr

[2022-10-12 15:06] vidyullathat commented on #790
David,
We tested #838 and the chunk size and rows parameter is working as expected.  Thanks for your assistance.

https://github.com/mydumper/mydumper/tree/fix_838

Thanks ,
Vidyu
Vidyullatha Thadagonda | Sr. Principal Database Engineer - R&D-DBA
Manhattan Associates, Inc.
Phone +1 678.597.6145
***@***.******@***.***>
www.manh.com<http://www.manh.com/>

From: David Ducos ***@***.***>
Date: Tuesday

[2022-10-12 15:06] vidyullathat commented on #838
Thanks David.

Thanks ,
Vidyu
Vidyullatha Thadagonda | Sr. Principal Database Engineer - R&D-DBA
Manhattan Associates, Inc.
Phone +1 678.597.6145
***@***.******@***.***>
www.manh.com<http://www.manh.com/>

From: David Ducos ***@***.***>
Date: Tuesday, October 11, 2022 at 4:05 PM
To: mydumper/mydumper ***@***.***>
Cc: Vidyullatha Thadagonda ***@***.***>, Mention ***@***.***>
Subject: Re: [mydumper/

[2022-10-12 19:04] davidducos commented on #857
Hi @Robertoh98, I was not able to reproduce your issue.

[2022-10-13 12:30] davidducos commented on #857
Hi @Robertoh98,
I also tested higher version of CentOS:
[code]
And the rpm package on the same box:
[code]
I did't see what you are describing.

[2022-10-13 23:04] Robertoh98 commented on #857
Hi @davidducos, did you use the same versions? I was able to reproduce it again with the same versions:
[code]

The top:
[code]

I'm attaching the .sql from the table with the structure and data used.
[joinit.sql.zip](https://github.com/mydumper/mydumper/files/9781157/joinit.sql.zip)

[2022-10-14 15:25] davidducos commented on #857
Hi @Robertoh98,
I was able to reproduce the issue, thanks for that file, was really useful.
This will be fixed when we implement https://github.com/mydumper/mydumper/issues/529.

[2022-10-14 15:45] davidducos commented on #857
duplicate https://github.com/mydumper/mydumper/issues/848

[2022-10-18 06:53] kkpeter commented on #853
Same with me

[2022-10-19 21:32] stephanie-dba opened #860 "Checksum mismatches when restoring between versions"
**Describe the Issue**
I am using mydumper/loader to upgrade from mySQL 5.7 to 8.0 (our cloud hosting provider does not offer in-place upgrade).  When loading into mySQL 8.0 using checksums, I receive warnings like this:
_[WARNING] - Structure checksum mismatch found for `database`.`table`. Got 'a5a324c6', expecting '2C313EF' in file: database.table-schema-checksum._

Further investigation uncover

[2022-10-19 22:12] bigkahuna1986 commented on #837
Also have the same issue as @fenidik. `myloader` is producing a huge amount of warnings but not restoring any data.

`$ myloader --version`
`myloader 0.12.7-3, built against MySQL 8.0.29-21`

`Server version: 10.6.10-MariaDB-1:10.6.10+maria~ubu2004-log mariadb.org binary distribution`

My workflow is I restore our production database to my workstation from a mysqldump. We have about 100 databases

[2022-10-20 13:07] davidducos commented on #860
@stephanie-dba THANK YOU!!! this bug report is so complete! I will be glad to fix this for next release.

[2022-10-20 15:39] stephanie-dba commented on #860
@davidducos Thank you! This is a great tool and I am so glad I found it.

One thing to note that may be obvious but I thought I should mention:  I'm not sure how the "standard" widths get assigned to INT column_types (I'm new to mySQL; have a MSSQLSERVER background), but according to the documentation [https://dev.mysql.com/doc/refman/8.0/en/numeric-type-attributes.html](url), the width can be set

[2022-10-20 21:43] KrunchMuffin opened #861 "[BUG] Keep getting Seg Faults on restore"
**Describe the bug**
I ran mydumper with the following `mydumper --database=HWO_SBR619 --host=xxxdigitalocean.com --port=25060 -u foo -p bar --threads=6  --build-empty-files --compress-protocol --outputdir=/mnt/h/mysql-backups/sbr619 -G -E -R`

Seemingly ran Ok. I went to restore trying different options but nothing seems to work.
My restore
`myloader --host=100.65.237.20 -u root -p foo --innodb-o

[2022-10-24 11:01] fazi1058 opened #862 "[BUG] Schema index checksum mismatch found!"
Hello!
I am using myloader and mydumper for taking bakup and restore them.But  when I restore backup  I encounter with errors below:

```** (myloader:2868268): WARNING **: 10:04:25.349: Schema index checksum mismatch found for `db_name`.`orders`. Got '83671d4e', expecting 'CB0C64DE' in file: db_name.orders-schema-indexes-checksum```

```** (myloader:2868268): WARNING **: 10:04:24.369: Schema index

[2022-10-25 14:14] davidducos commented on #749
Example:
[code]

[2022-10-25 14:19] davidducos commented on #600
@ronylei we are already doing that and we are moving some tasks performed on the main thread to the workers. I will be removing the START TRANSACTION from the main thread shortly.

[2022-10-25 16:41] #705 closed

[2022-10-25 21:15] davidducos commented on #857
hi @Robertoh98
I need  you to test https://github.com/mydumper/mydumper/releases/tag/v0.13.0-1 to close this issue.

[2022-10-25 21:15] davidducos commented on #853
Hi @peng19832 @kkpeter @Dansthunder
I need  you to test https://github.com/mydumper/mydumper/releases/tag/v0.13.0-1 to close this issue.

[2022-10-25 21:15] davidducos commented on #848
@Dansthunder
I need  you to test https://github.com/mydumper/mydumper/releases/tag/v0.13.0-1 to close this issue.

[2022-10-25 22:03] Dansthunder commented on #848
Didn't segfault immediately like previously, ran for a smidge then died.   Mydumper v0.11.6 has been working past few weeks, no issues.
[core-mydumper.2454.dw-rhel9.va.test.box.1666734937.gz](https://github.com/mydumper/mydumper/files/9864291/core-mydumper.2454.dw-rhel9.va.test.box.1666734937.gz)

[2022-10-25 22:33] davidducos commented on #848
@Dansthunder can you run this in a x86-64 architecture please?

[2022-10-26 11:51] davidducos commented on #862
Hi @fazi1058, can you share the SHOW CREATE TABLE from the database you exported and the database you imported?

[2022-10-26 12:01] davidducos commented on #529
Chunk builder has been added and it is better understanding of the chunk that is going to be executed next time that we need to get a chunk of data from the table. So, what remains? the logic to dynamically increase or reduce the chunk size, as currently the step is static (chunk size and step are synonyms in this context). My idea is to use --rows to set the initial step and then add 2 more value

[2022-10-26 18:38] Dansthunder commented on #848
None of our servers are x86-64.  We're 100% running on aarch64 Graviton2 or Graviton3 C6GN or C7G Amazon EC2 instances.   The performance gain in MariaDB moving to Graviton3 in addition to cost savings prohibit migrating backwards to x86-64, either Intel or AMD.  We haven't touched x86-64 in about 3+ years now.

But, out of curiosity... Why not spin this up, move the data volume over, and see wtf

[2022-10-26 21:38] davidducos commented on #848
Hi @Dansthunder,
Good to hear the you move to aarch64. MyDumper doesn't have the resources to build with current process or the time nor knowledge to use other alternatives at this point. However, we are willing to implement next year to give better support to all the users.
BTW, you don't need to move the data volume, you only need to spin up a new instance and connect remotely.
Thanks for the fi

[2022-10-26 23:00] Dansthunder commented on #848
Same.   I get ~280meg dumped, does fine on the smaller tables, and when it finally hits the big one, it segfaults.   Same amount dumped prior to this master version.

[core-mydumper.4770.rhel9-x86.va.test.box.1666824803.gz](https://github.com/mydumper/mydumper/files/9874306/core-mydumper.4770.rhel9-x86.va.test.box.1666824803.gz)

[2022-10-27 08:18] linora opened #867 "Is mydumper consistent backup safe for replication?"
**Describe the bug**
- mydumper version: mydumper0.13.0-1, built against MySQL 5.7.39-42 with SSL support with GZIP
- mysql server version: mysql  Ver 14.14 Distrib 5.7.38, for Linux (x86_64) using  EditLine wrapper

When i execute below command

[code]

I got general log:

[code]

main thread:
2022-10-27T07:28:54.728403Z        58 Query     UNLOCK TABLES /* trx-only */

dump thread 1:
2022-10-27T

[2022-10-27 12:15] davidducos commented on #848
Hi @Dansthunder,
Thanks for the new coredump. I reviewed a bit further and I found this:
[code]
Why I'm pointing that out? well, in frame 7 we are in funciton process_integer_chunk which is only called if dbt->chunk_type is INTEGER on function thd_JOB_DUMP. However, dbt->chunk_type is CHAR, makes no sense.

I think that you are sending me coredumps that I'm not able to review properly. So I will a

[2022-10-27 12:43] tanji commented on #867
@linora you are running with `--trx-consistency-only`, so FTWRL is not used.
Consistency is guaranteed because SHOW MASTER happens in the same transaction as table dump (dump thread 59)

FTWRL is only helpful if you have non-transactional (MyISAM or other) tables.

[2022-10-27 12:47] davidducos commented on #848
@Dansthunder I think that I found the issue, just to be 100% sure, can you share the table structure of table amx.rtx_pages? or the last table that is failing? as I think that it has a VARCHAR primary key.

[2022-10-27 16:31] Dansthunder commented on #848
Reading symbols from ./mydumper...
[New LWP 4781]
[New LWP 4774]
[New LWP 4777]
[New LWP 4780]
[New LWP 4770]
[New LWP 4782]
[New LWP 4773]
[New LWP 4775]
[New LWP 4772]
[New LWP 4779]
[New LWP 4778]
[New LWP 4776]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/usr/src/scripts/mydumper-0.13.0-1/mydumper --database=a

[2022-10-27 20:44] davidducos commented on #848
Hahaha... I think that _SOMEONE_ is not going to help you anymore! Hahaha...

For sure, we need help to push https://github.com/mydumper/mydumper/issues/835 to have those packages available ASAP.

Ok, about the issue, yeah... I know what is the problem... I'm going to move chunking by CHAR to `experimental` until we found a good way of implementing it.

[2022-10-28 01:22] linora commented on #867
**Thank you for your reply!**

[code]

The above process has no problem creating a consistent dump.

**But if I use this dump to create a standby, is the binlog position 1000-10003 DMLs will missing?**

I think the process should look something like bellow, In this case, it is safe to create a standby:

[code]

[2022-10-28 14:41] stephanie-dba commented on #860
@davidducos I found a couple other checksum issues while going over the rest of the loader log.

**Triggers Checksum**
When the triggers were loaded, some of them came in with an extra space after each statement delimiter ( ; ) in the code.  I'm not sure why that happened, maybe because of the version difference, but I ended up modifying the checksum to replace space, line feed, carriage return, a

[2022-10-28 23:43] delissonjunio opened #868 "[BUG] Myloader not respecting --innodb-optimize-keys"
**Describe the bug**
I've run into a situation where myloader did not respect the `--innodb-optimize-keys` on a large dataset. After starting the tool, I could see in the database that indices were added even before starting to load the relevant tables. This happened to ALL tables in the database.

**To Reproduce**
Command executed:
`myloader --defaults-file -d -o -t 64 -r 100000 --no-delete --inn

[2022-10-31 13:03] itstin opened #869 "[BUG] Tables having column type ' text DEFAULT NULL, ' get "0x" appended to their statement where value in dump is NULL."
**Describe the bug**
Creating a dump using mydumper, causes statements on tables with column type: " text DEFAULT NULL, " append '0x' on NULL values, where no value exists. The dump itself did NOT produce any errors in verbose 3 logs, but the error message is produced while  importing dump using myloader, or when manually inserting the problematic statements.

**To Reproduce**
Command executed:
*

[2022-11-01 04:15] linora commented on #867
anyone help me? Thanks!

[2022-11-01 08:36] datascience-dba commented on #869
Thank you for logging this as a bug. I was collecting info on it for the same purpose.

Please note that this also occurs on mediumblob fields.
In mysqldump the data is just an empty string - '' while in mydumper it is 0x.

[2022-11-01 09:05] fazi1058 commented on #862
I am afraid I can't share table structure with you but when I ran  query the only difference between them was auto_increment:
[code]
first one belongs to the  database I imported and second one belongs to database I got export from.

[2022-11-01 12:24] davidducos commented on #848
Ok, I have been working during the weekend on it and after understand where was the issue, I was able to fix it. I changed A LOT of things, so be careful.

[2022-11-01 13:08] davidducos commented on #862
Hi @fazi1058 , this has been already reported by @stephanie-dba on https://github.com/mydumper/mydumper/issues/860

I will tag this as duplicate.

[2022-11-01 15:41] davidducos commented on #862
Can you execute this on both databases:
select table_name,INDEX_NAME,SEQ_IN_INDEX,COLUMN_NAME from information_schema.STATISTICS WHERE table_schema='`<database>`' AND table_name='`<table>`';

With the right `<database>` and `<table>` values?

[2022-11-02 17:01] tanji commented on #867
@linora you are searching for a problem that does not exist, I and numerous other DBAs have used mydumper for the past 10 years to create replicas without issue.

In the source code, show master status happens before unlock tables:
https://github.com/mydumper/mydumper/blob/41b268a3e21488460bd8bfb2c5d5b4ce9cddf4f6/src/mydumper_start_dump.c#L1061
https://github.com/mydumper/mydumper/blob/41b268a3e21

[2022-11-02 19:15] davidducos commented on #867
@linora
If you use --trx-consistency-only you might get a inconsistent backup. DO NOT USE IT if you want to build a replica.

[2022-11-02 19:15] #867 closed

[2022-11-02 20:03] davidducos commented on #869
Hi @datascience-dba @itstin
I did the next test case:
[code]
If I don't understood incorrectly the error, that says that the problem is in the FIELD LIST, not in the data. Can you share the file that is failing? or at least the INSERT INTO statement without any value.

[2022-11-02 20:08] #787 closed

[2022-11-02 20:11] davidducos commented on #751
This should be fixed by #847

[2022-11-02 20:11] #751 closed

[2022-11-02 20:12] #857 closed

[2022-11-02 20:12] #853 closed

[2022-11-02 20:55] datascience-dba commented on #869
Good evening.

Please see the attacment. It contains the commands and the files etc.

The 0x is inserted as a hex number in the mediumblob field.

Let me know if you need anything else.

Regards

Quoting David Ducos ***@***.***>:

[2022-11-02 21:03] datascience-dba commented on #869
[dbname.tabname_0x_issue_869.tar.gz](https://github.com/mydumper/mydumper/files/9924119/dbname.tabname_0x_issue_869.tar.gz)

[2022-11-02 21:52] tanji commented on #867
@davidducos if that's the case you should change the documentation. It basically says that `--trx-consistency-only` is safe if you use transactional tables.

[2022-11-02 23:10] davidducos commented on #867
@tanji, take into account that was feature was package a long time ago, not sure what is the real intention, I can tell what is actually doing right now.

[2022-11-03 01:09] linora commented on #867
@tanji Thank you very, very much!

[2022-11-03 01:10] linora commented on #867
@davidducos Is less-lock safe?

[2022-11-03 01:12] linora commented on #867
@davidducos Is it OK to use the less-lock option to create replica sets?

[2022-11-03 01:20] linora commented on #867
@tanji Many thanks!

[2022-11-03 11:19] davidducos commented on #867
@linora, --less-locking is only useful if you have non innodb tables.

[2022-11-03 11:31] davidducos commented on #869
@datascience-dba I was able to reproduce your issue, but it is not NULL values, it is EMPTY values, like `""`

[2022-11-03 12:04] davidducos commented on #850
After implementing #859 or which is the same, second stage of #529, fixed this "issue".

[2022-11-03 12:04] #850 closed

[2022-11-03 12:06] datascience-dba commented on #869
Good afternoon David.

Correct. This is from my original comment:

Please note that this also occurs on mediumblob fields.
In mysqldump the data is just an empty string - '' while in mydumper it is 0x.

I did an export with mysqldump and the field value was just empty.

--
-- Dumping data for table `tabname`
--
-- WHERE:  id = '1ec1d483-6fec-0687-b613-cfbe4bea2b86'  and
downstream_process_id = '1e

[2022-11-03 12:06] #852 closed

[2022-11-03 12:11] #869 closed

[2022-11-03 12:16] davidducos commented on #862
Definitely this is a duplicate of #860, sorry for the back and forth...

[2022-11-03 12:29] #860 closed

[2022-11-03 20:06] #529 closed

[2022-11-03 20:07] davidducos commented on #848
Hi @Dansthunder, do you have any feedback?

[2022-11-03 21:00] davidducos commented on #862
It is still not working properly

[2022-11-03 23:27] Dansthunder commented on #848
Yeah.  So, not getting a segfault.  Backup runs, but on my EC2 image, the x86 box has 16g of ram and 32g of swap and it eats all of it's memory and swap and hard locks. First time I ran, thought my ssh session died.  So give me a bit here.  For before it ran away, it looked like mariadb was the one using all the memory, not mydumper, which would be odd.  Nothing changed in my.cnf.

[2022-11-04 00:05] Dansthunder commented on #848
Grrr... Takes forever to reboot a hung EC2. Switched back over to the ARM EC2.  Running backup right now on arm EC2 instance, 32G / 64G swap, see if it barfs here.   May have overwhelmed the AMD x86-64 8 core / 16G box.   Running on the ARM box, no runaway memory issues. box sitting with 9G ram free.

It's running.   But is it chunking vs using rows?  Backup is now 15+ mins in, and 5.2GB done.

He

[2022-11-04 00:55] Dansthunder commented on #848
FYI:
/usr/src/scripts/mydumper/mydumper --version
mydumper0.12.8, built against MySQL 10.8.5 with GZIP
Started dump at: 2022-11-03 23:46:13
Finished dump at: 2022-11-04 00:09:56

Same test EC2, older version:
mydumper 0.11.6, built against MySQL 10.8.5
Started dump at: 2022-11-04 00:16:20
Finished dump at: 2022-11-04 00:36:25

Linux dw-rhel9.va.test.box 5.14.0-70.13.1.el9_0.aarch64 #1 SMP Thu Apr

[2022-11-04 11:41] #868 closed

[2022-11-04 12:15] davidducos commented on #848
Hi @Dansthunder,
Love to hear the there is no segfault issue, was not easy to find out the memory leak.
I acknowledge the performance issue, I kind of expect it. I think that we can fix it but I need to perform a couple of tests to be sure.
FYI, the problem that I'm dealing is how to split the PK based on CHAR, which in your case is not an issue as you are using binaries, but for mydumper is the s

[2022-11-09 11:00] davidducos commented on #848
I have been working on another approach and I found that --rows will not be the kind of parameter that we need for 'character' splitting. I will be adding --char-deep and --char-chunks, where deep is based on the new strategy of how we split a table, we start with a table with MIN and MAX at deep 0, thread 1 (t1) is going to take that job, then when t2 arrives and t1 will change the max to MIN + (

[2022-11-09 14:35] maxpowerstl opened #881 "[FEATURE] per table --where. --where-table"
I know this sounds daunting but it would allow for some pretty complex extraction of specific data (mock joins against other tables using EXISTS()).  How to implement this?  I haven't the foggiest idea.  Maybe something like --where-table "_tablename_:_where clause_" ?

We have an multi tenant application.   Some of those tenants are quite large and we pull a copy of the database with only their d

[2022-11-09 14:53] maxpowerstl commented on #881
I just thought of another really nice hack you could do with this (maybe already a feature but I don't think it is).  Dumping the table schema but not the data ... using --where-table "tablename:0"

[2022-11-09 18:11] davidducos commented on #881
Did you check the last bullet point in https://github.com/mydumper/mydumper#defaults-file ? We already have a where clause per table. If that is what you need, then please, close this issue.

[2022-11-09 18:31] christianjoun commented on #848
I am also running into this segmentation fault. I looked in the schema and saw a table that is using a VARCHAR as a primary key. I tried to exclude this table but received another segmentation error. This is what I am running and the version of the software.

mydumper \
  --database=$DB_NAME \
  --host=$DB_HOST \
  --user=$DB_USER \
  --password=$DB_PASS \
  --outputdir=$DB_DUMP \
  --rows=1000000

[2022-11-09 18:36] maxpowerstl commented on #881
oh wow! that's awesome.  I completely overlooked it.  thanks!

[2022-11-09 18:36] #881 closed

[2022-11-09 18:37] davidducos commented on #848
@christianjoun Why don't you test with master compiling your self.
@Dansthunder , it should be ok for you to test.

[2022-11-09 18:38] Thechag77 opened #882 "Question using MariaDB 10.9.3"
I'm using Mydumper .12.7-3 to backup a mariadb 10.5 prod server and i'm testing a restore in a staging environment with mariaDB 10.9.
For some reasons, although structure is the same, and no errors during the restore, I seem to be having issues accessing my application.
I've also tried taking a working mariadb 10.9 DB and restore it to another DB and i'm unable to, i get the same result in my appl

[2022-11-09 18:42] Dansthunder commented on #848
Ok, instead of --rows, now I'm using --char-chunks and say --char-deep=8 ?

[2022-11-09 18:59] davidducos commented on #882
Hi @Thechag77 , your question is vague, we need a test case to reproduce your issue. Please, check the bug template to send us the information needed to be able to help you.

[2022-11-09 19:00] davidducos commented on #848
@Dansthunder you need to use --rows!! --char-chunks and --char-deep is for tuning, you can leave the default values.

[2022-11-09 19:41] Thechag77 commented on #882
Hi David, sorry for being vague. Here's some more detailed information

Using Mydumper/loader .12.7-3 or .9.5 (tested both)

Backup command :
mydumper --user=$Dbuser --password=$Dbpassword --host=$dbHost -B '$db' \
 -o /data/backup/pprod/`date +%Y-%m-%d_%H-%M` --long-query-guard=120 --triggers --events --routines \
 --build-empty-files --less-locking --success-on-1146  --compress-protocol --thread

[2022-11-09 20:23] #882 closed

[2022-11-09 20:58] davidducos commented on #848
@Dansthunder ok, this is good, but I'm wondering if we are chunking by varchar and how it is being split. Is it possible for you to share the log? as I need to check the where clause per chunk.

[2022-11-09 21:39] Dansthunder commented on #848
[2022-11-09-19-50.log.gz](https://github.com/mydumper/mydumper/files/9975312/2022-11-09-19-50.log.gz)

[2022-11-09 22:43] davidducos commented on #848
@Dansthunder try again with --rows=1000:100000:10000000

[2022-11-10 01:24] Dansthunder commented on #848
Number of rows doesn't make a difference.  I was capped on EC2 drive speed.  I maxed out drive spec, and changed threads from 8, to 16, 24, 32, and 64.    I was running another shell, watching iotop, and no matter what I did, I was flat lining mariadb read speeds. Let's try and break this thing, and give DavidDucos something to fix. (never crashed no matter how many threads --aawww shucks)

This i

[2022-11-10 12:49] #848 closed

[2022-11-10 12:52] davidducos commented on #848
Hi @Dansthunder,
BTW, did you try the ZSTD package? it will reduce IOPS, disk space usage and it is not going to take longer.
I push a last fix, please try again with --rows=100:1000:10000000, now it should be able to adapt the amount of rows in the chunks based on the query time, less than 1 second increases and more than 2 seconds decreases.

[2022-11-10 13:44] itstin commented on #869
I would not know on which subject to open bug report, so you can refer me @davidducos .
Did you manage to take a look at error inside myloader.log on line nr.519 ?
The blob fix did it's job but now I am dealing with some temp table.
Same error occures on new myloader0.13.0-3
` Table 'sys.x$memory_by_thread_by_current_bytes' doesn't exist`
Sorry if I'm spamming this issue number

[2022-11-10 14:07] davidducos commented on #869
@itstin go to https://github.com/mydumper/mydumper/issues/new/choose on `Bug report` hit on `Get started`, be careful... it is a one way journey... 🤣

I don't know which log are you talking about...

[2022-11-10 14:31] itstin commented on #869
Pardon my ignorance, the myloader.log I've uploaded in this original bug report shows the CRITICAL error i've discovered during restore
https://github.com/mydumper/mydumper/files/9901213/myloader.log

I will be creating new bug report later on and will try to gather all neccessary information. Thank you David !!

[2022-11-10 14:45] matthewlenz opened #884 "dpkg-deb: error: archive 'mydumper_0.13.0-3.buster_amd64.deb' uses unknown compression for member 'control.tar.zst', giving up"
[code]

[2022-11-10 14:53] matthewlenz commented on #884
Debian doesn't support zstd compression in dpkg on any version from what I can tell.

[2022-11-10 15:10] itstin opened #885 "[BUG] Error restoring sys.processlist-schema-view"
**Describe the bug**
During restore procedure, after `Data Import` has ended, Myloader hits an error restoring `sys.processlist-schema-view.sql.gz` from dump created using Mydumper

**To Reproduce**
Command executed:
mydumper with all the parameters
~  /usr/bin/mydumper -c -t 6 --trx-consistency-only --build-empty-files -G -E -R --verbose 3 --outputdir=/backup >> /log/dumper.log 2>&1
myloader with

[2022-11-10 15:40] davidducos commented on #885
Hi @itstin I need the full myloader log with all the entries related to sys to understand why sys.x$memory_by_host_by_current_bytes has not been created.

[2022-11-10 17:04] davidducos commented on #884
I had to change from `dpkg` to `dpkg-deb -Zxz` as I upgraded my laptop :smile:

[2022-11-10 17:25] matthewlenz commented on #884
in the meantime for those needing a work around:

[code]

[2022-11-10 18:07] davidducos opened #886 "Clickhouse"
Is it possible to export and import on clickhouse?

This just to perform the analysis and see if this is possible

[2022-11-10 18:24] davidducos opened #887 "Filters by partitions per table"
We can use regex to get the partitions

[2022-11-10 18:47] davidducos opened #888 "Check if the table needs to be chunk and use MAX to search the next max value"

[2022-11-10 20:56] Dansthunder commented on #848
with --rows=20000, --threads=8  w/zstd.   I had to go digging thru the past comments to figure out how to enable it. :)
Started dump at: 2022-11-10 20:41:39
Finished dump at: 2022-11-10 20:46:40

with --threads=8, that's just on the verge of maxing out disk IO read limits on EC2 / GP3 max settings.  I can only read so fast from MariaDB.   I can go --threads-10, 12, 16, etc, instantly maxed out, an

[2022-11-11 02:41] peng19832 opened #889 "[BUG] v0.13.0-1，mysql8.0，coredump"
**Describe the bug**
dump data failed，exit code：-11
[coredump.tar.zip](https://github.com/mydumper/mydumper/files/9986133/coredump.tar.zip)

**To Reproduce**
Command executed:
* mydumper with all the parameters
* myloader with all the parameters
--set-names=utf8 --no-backup-locks --less-locking --skip-tz-utc --complete-insert --trx-consistency-only --hex-blob --skip-definer -R -G -c -r 100000 -v 3

[2022-11-11 03:23] peng19832 commented on #889
Oh,no, The coredump is still caused by “--row“

[2022-11-11 05:34] yuexiaofengqing opened #890 "[BUG] The remove backup seems to have a memory leak error"
**Describe the bug**
Dear:
    when I want to backup my table from a remote server ,on the server where the mydumper running ,Memory Utilization has surge,
the the OOM mechanism has been triggered,mydumper has been killed.

**To Reproduce**
Command executed:
* mydumper  -u root -p ******  -t 4 -C -v 3  -B test  -T test.test_table     -L ./dumper.log  --triggers --events --routines --build-empty-fi

[2022-11-11 07:25] itstin commented on #885
[full_sys_log.log](https://github.com/mydumper/mydumper/files/9987794/full_sys_log.log)

[2022-11-11 12:12] davidducos commented on #889
Hi @peng19832 why don't you test with latest prerelease v0.13.0-3

[2022-11-11 12:14] davidducos commented on #890
Hi @yuexiaofengqing, can you test with the latest prerelease v0.13.0-3?

[2022-11-11 12:30] davidducos commented on #885
Hi @itstin, you didn't provide the information that I requested, so let me be more specific.
In one of the files like this: `sys.mydumper_*-schema.sql.gz` you should have the CREATE TABLE statement for `sys.x$memory_by_host_by_current_bytes`. In the log, should be an entry like this:
```** Message: 12:29:24.206: Thread 4: Creating table `sys`.`x$memory_by_host_by_current_bytes` from content in sys

[2022-11-11 15:01] itstin commented on #885
Yup there is plenty, I took my time to prepare a bit better report for you. I started by tracking down
`** Message: 13:08:34.556: Thread 3: Creating table `sys`.`x$memory_by_thread_by_current_bytes` from content in //backup/restore/folder/1668171968/sys.mydumper_16-schema.sql.gz`
I've noticed there were two very similarly-named tables, first one being `memory_by_thread_by_current_bytes` , and seco

[2022-11-11 15:25] davidducos commented on #885
Oh good... we are restoring views in a multithreaded fashion and we don't expect that a view will be calling another view. However, you are doing exactly that, memory_by_thread_by_current_bytes is a view that is using another view: x$memory_by_thread_by_current_bytes.
Ok, the views needs to be restored single threaded...

[2022-11-11 17:21] #885 closed

[2022-11-11 17:21] #888 closed

[2022-11-11 17:24] davidducos commented on #846
I think that we can avoid the `show table status` and execute the `select min, max` when a thread start to work on that table.

[2022-11-11 19:47] drawks commented on #808
It would be nice if the cmake setup detected which dev headers were in use and set the correct defines.

[2022-11-11 22:07] aadant opened #893 "Ability to dump and load backups to / from object store"
For example S3 or GCS

https://dev.mysql.com/doc/mysql-shell/8.0/en/mysql-shell-utilities-load-dump.html#mysql-shell-utilities-load-dump-opt-s3-aws

[2022-11-13 19:38] davidducos opened #896 "Detected automatically if SSL should be enabled"
It would be nice if the cmake setup detected which dev headers were in use and set the correct defines.

_Originally posted by @drawks in https://github.com/mydumper/mydumper/issues/808#issuecomment-1312138766_

[2022-11-13 19:44] davidducos commented on #893
I will be writing a Blog Post and documentation this week about it, test were made and found a bug.

[2022-11-14 01:13] yuexiaofengqing commented on #890
Dear ,when I use mydumper with the latest prerelease v0.13.0-3, the error "段错误" appears.

[2022-11-14 01:43] peng19832 commented on #889
v0.13.0-3 is fine, thks Boss ^-^

[2022-11-14 01:43] #889 closed

[2022-11-14 08:57] datascience-dba opened #898 "[BUG] - using the -F parameter files are getting overwritten."
**Describe the bug**
When using the -F parameter with any size (250 and 5000 tested) the files are overwritten.
The file increases in size and is then truncated but no new numbered files (0001, 0002, 0003 etc ) are created.

**To Reproduce**
Command executed:
mydumper -h <dbname> -u <username> --password=XXXXXXXXXXX -o ./ -t 8 -e -c -v 3 -x ^(?!(sys\.)) -F 250

** Version**
mydumper-0.13.0-5.zip
m

[2022-11-14 12:14] davidducos commented on #890
Hi @yuexiaofengqing, can you send me the core dump https://github.com/mydumper/mydumper/wiki/Support#core-dump of the execution? or a reproducible test case?

[2022-11-14 12:50] davidducos opened #899 "Let user know that this is or isn't a consistent backup when --no-locks is used"
If --no-locks is use and you are using Percona Server, then you might get a consistent backup. We could add an entry at the end of the backup to let user knows that this is a consistent even than they use --no-locks.

[2022-11-14 14:38] #600 closed

[2022-11-14 14:40] #735 closed

[2022-11-14 14:43] #770 closed

[2022-11-14 15:47] davidducos commented on #898
Hi @datascience-dba ,
1. No, that is not completely accurate. The first file has one level of partition, but when it reaches to 5GB, it is splitted and a new file is created. After the last changes related to -r we are not using the first level of partition for -F, so we need to use the second level of partition even if you don't use -r.
2. The value of -F is uncompressed.

[2022-11-14 16:02] datascience-dba commented on #898
Hi David.

Thank you for the explanation and clarification.
I will test with the -r option as well.

Regards

[2022-11-14 19:54] #832 closed

[2022-11-14 19:57] davidducos commented on #862
@fazi1058 please, share a test case so I can work on this before the next release.

[2022-11-15 03:57] yuexiaofengqing commented on #890
Dear:
    My data has been clear,so I do that:
    When I use command like this:

for repeat the appearance which Memory Utilization has surge,the appearance has not repeated,but the Memory Utilization has  increase slowly until the OOM has been triggered(used 1 hour for my server which had 8G memory ),like 8~10M/s, the speed is related to "-t" .
my table like this:
`CREATE TABLE `resource_detail_

[2022-11-15 16:54] iivank0vic opened #904 "[BUG] It imports data into the wrong database"
**Describe the bug**
Myloader imports data into the wrong databases

**To Reproduce**
Command executed:
* mydumper -c -t 6 --trx-consistency-only --build-empty-files -G -E -R --verbose 3 \
        --outputdir=/backup/testbackup >> /backup/mydumper.log 2>&1

* myloader --directory /backup/testbackup --verbose 3  --threads 6 \
            --overwrite-tables --compress-protocol >> /backup/myloader.lo

[2022-11-15 16:57] davidducos commented on #904
Hi @iivank0vic I need the ls of the backup dir to understand if it is a mydumper o myloader issue. Thanks!

[2022-11-15 19:50] #904 closed

[2022-11-15 21:31] davidducos commented on #904
Hi @iivank0vic, The issue has been fixed on the master repo, there is no release with this fix yet.

[2022-11-16 11:50] #805 closed

[2022-11-16 21:35] #846 closed

[2022-11-17 13:34] davidducos commented on #837
Hi @bigkahuna1986,
Can you test latest prerelease (v0.13.0-6) and let me know if you see your issue with it?

[2022-11-18 14:33] #862 closed

[2022-11-18 15:18] datascience-dba opened #910 "Performance Drop : Performance change between versions - large data backup"
I use mydumper and myloader to backup and restore DB's from mysql 5.7

During testing with new version I have noticed a big performance drop. It also seems as if the level of compression has been reduced. Please see below. Please let me know if there is anything I can change. I also have more test data to share if required.

** Duration 7hrs1min **
Version:
mydumper 0.9.5, built against MySQL 8.0.

[2022-11-18 17:47] davidducos commented on #910
Hi @datascience-dba

Can you execute with --chunk-filesize=1000:100000:1000000 on v0.13.0-6 ?? And is it possible to provide the log of both executions?

[2022-11-18 17:51] datascience-dba commented on #910
Hi @davidducos ,

As always, thank you for the quick response.

Just to confirm - this is one parameter "--chunk-filesize=1000:100000:1000000"

I will yes. I will collect the data over the weekend.

[2022-11-18 17:54] davidducos commented on #910
@datascience-dba Oh, no! I thought that was --rows, sorry!
Doesn't make sense to me the performance drop as it should be doing a full table scan per table. Can you test with --rows= 1000:100000:1000000 ?

[2022-11-18 18:15] datascience-dba commented on #910
Sure. I will try it.

0.9.5 runs at between 1.8 and 2GB/min where 0.13.0-5 runs around 0.8-1.0 GB/min on the output.

[2022-11-18 21:25] andrisi opened #911 "[BUG] --max-threads-per-table seems to be ignored"
**Describe the bug**
I add `--max-threads-per-table 1` to myloader, and it still uses 4 threads in paralell to restore parts of a big table.

**To Reproduce**
Command executed:
[code]

What mydumper and myloader version has been used?
mydumper 0.12.7-3, built against MySQL 5.7.39-42

**Expected behavior**
one thread per table (thought it will be a bit faster)

**Environment (please complete the fo

[2022-11-19 12:14] datascience-dba commented on #910
While testing the dump as requested

The dump process got stuck in an endless loop and ended up only
having 1 process show up in the processlist.

I eventually killed it.

Version used:
mydumper-0.13.0-6

Command and parameters:
/usr/bin/mydumper-0.13.0-6 --host=db_server_name --user=username --password=secret --regex '^(?!(information_schema|innodb|mysql|performance_schema|sys|None))'
--outputdir

[2022-11-19 12:23] datascience-dba commented on #910
mydumper 0.13.0-6
cat metadata.partial
Started dump at: 2022-11-19 10:38:29

Sat Nov 19 10:41:31 UTC 2022
1.2G    /data/backup/dbdump/prodks1/
Sat Nov 19 10:42:01 UTC 2022
1.4G    /data/backup/dbdump/prodks1/
Sat Nov 19 10:42:31 UTC 2022
1.6G    /data/backup/dbdump/prodks1/
Sat Nov 19 10:43:01 UTC 2022
1.8G    /data/backup/dbdump/prodks1/
rate=> 200MB/30s 6.67MB/s

mydumper 0.9.5
cat metadata.part

[2022-11-19 12:25] datascience-dba commented on #910
mydumper 0.13.0-6
cat metadata.partial
Started dump at: 2022-11-19 10:38:29

Sat Nov 19 10:41:31 UTC 2022 1.2G
Sat Nov 19 10:42:01 UTC 2022 1.4G
Sat Nov 19 10:42:31 UTC 2022 1.6G
Sat Nov 19 10:43:01 UTC 2022 1.8G
rate=> 200MB/30s 6.67MB/s

mydumper 0.9.5
cat metadata.partial
Started dump at: 2022-11-19 10:44:25

Sat Nov 19 10:44:46 UTC 2022 270M
Sat Nov 19 10:45:16 UTC 2022 667M
Sat Nov 19 10:45:4

[2022-11-20 22:03] davidducos commented on #910
Hi @datascience-dba,
I have been thinking and working on this the WHOLE weekend... and finally got it... seems that we shouldn't use g_string_append_printf. If I changed this line https://github.com/mydumper/mydumper/blob/78bfe0346deca109034a522e6afb3770348a3b26/src/mydumper_write.c#L390 from:
[code]
To:
[code]
we get this timings with g_string_append_printf (2 executions to see difference in timi

[2022-11-21 05:58] knutov opened #912 "[BUG] Segfaults with different versions"
I have segfaults when creating dump with mydumper. The strange thing - on one server stable (0.12.7-3) version segfaults while (0.13.0-6) version works fine and on another server they are act opposite.

Segfault with 0.12.7-3 on AMD Ryzen 5950x with 5.4.17-2136.313.6.el7uek.x86_64 kernel (alpha version works fine here):

[code]

On Xeon v3 server with 5.11.22-4-pve alpha version segfaults, while s

[2022-11-21 07:36] datascience-dba commented on #910
Good morning @davidducos .

This is good news indeed. I will run another test as soon as the PR is done.
Thank you for doing this so quickly.

[2022-11-21 20:16] knutov commented on #912
[code]

[code]

[2022-11-21 20:55] davidducos commented on #912
Hi @knutov,

Can you fill up in this thread the info in: https://github.com/mydumper/mydumper/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D ??

[2022-11-23 05:46] yuexiaofengqing commented on #890
Dear:
  I make a test case which can see the memory utilization increase,but the data's sqls have a large size(as 793MB) which has been compressed ,how can I send to you?Can you give me a email or other methods?

[2022-11-23 15:37] LinuxJedi opened #915 "[BUG] myloader hangs (current master version)"
**Describe the bug**
Current master of myloader hangs during restore (not attempted to diagnose the threads yet).

**To Reproduce**
With a basic MariaDB 10.3 server and Sakila test data:
Command executed:
* mydumper --user=root --socket=/tmp/mysql.sock
* myloader --verbose=4 --user=root --socket=/tmp/mysql.sock --directory=export-20221123-153402/ --source-db=sakila

What mydumper and myloader vers

[2022-11-23 15:39] LinuxJedi opened #916 "[BUG] Huge memory leaks in current master"
**Describe the bug**
Current master is leaking a lot of memory according to ASAN (patch coming to provide that soon) and valgrind. This appears to be due to commented out frees from recent patches.

**To Reproduce**
Command executed:
* valgrind -s --leak-check=full ./mydumper --user=root --socket=/tmp/mysql.sock

What mydumper and myloader version has been used?

0.13.0-6 (current master)

**Envir

[2022-11-23 15:51] davidducos commented on #916
Duplicate of #794

[2022-11-23 16:09] LinuxJedi commented on #915
I've also had reports that this happens in 0.12 as well, but I haven't been able to reproduce it in this yet. Sakila data set is likely too small and I haven't tried ramping the threads up yet.

[2022-11-25 14:19] davidducos opened #921 "[ Enhancement ] MariaDB Sequence support"
@LinuxJedi made me realize that we are not supporting this kind of object that is provided by MariaDB.

[2022-11-25 14:21] LinuxJedi commented on #921
@davidducos feel free to assign to me. I can carve out some time next week to look into it.

[2022-11-25 19:47] davidducos opened #922 "[ Enhancement ] Support failure on schema create"
We implemented --serialized-table-creation as there were deadlock issues when it is not used. I think that this is related to the data dictionary in MySQL 8.
We need to support the failures and restart the transactions when we create schemas.

[2022-11-25 23:23] #911 closed

[2022-11-28 14:16] davidducos opened #924 "[ Enhancement ] Add --exec-per-thread on myloader"
Talking with a co-worked, I realized that if we could use on mydumper --exec-per-thread and --exec but I think that it will failed, and then I realized that if we wanted to restore that backup, myloader will not be able to process automatically, the user will need to execute commands because myloader doesn't have a --exec-per-thread option. I think that we can use FIFO as we did for compressed LOA

[2022-11-28 14:19] fernandomatterapercona commented on #924
that'll be great, Daví, way to go!

[2022-11-29 12:57] #837 closed

[2022-11-29 18:01] davidducos commented on #469
#922

[2022-11-30 13:17] davidducos commented on #835
We have an issue, after reviewing several things, I realize that CircleCI has ubuntu images only, no redhat/alma/rocky/centos images... I'm going to stop working on this until we have another alternative or option.

[2022-11-30 13:18] davidducos commented on #835
@SuperQ do you have any comments about it?

[2022-11-30 13:46] LinuxJedi commented on #835
Does the CircleCI packagecloud integration help here?

[2022-11-30 14:01] SuperQ commented on #835
@davidducos CircleCI can use any Docker image you provide. So it should be easy enough to build binaries for multiple distros.

[2022-11-30 14:02] SuperQ commented on #835
Another option would be to use GitHub Actions to build and publish things.

[2022-11-30 16:57] davidducos commented on #835
Hi @LinuxJedi / @SuperQ , thanks for your insight!
I think that I shout too early... I'm going to work a bit more on this and let you know the outcome

[2022-11-30 17:40] davidducos commented on #835
Ok, I was able to compile with Alma Linux 8.
Now, what I'm going to be doing is build the packages and test the release creation.
The last step will be adding the remaining OS.

BTW, I was thinking that if this works, anyone could clone this repo, made their own changes and build their own packages. That will be useful if they need to made specific changes, build and install in their env.